<div class="accordion-item" id='feedlotdesignparameters_accordion'>

    <h4 class="accordion-header" id="feedlotdesignparameters_header" >
      <button id="feedlotdesignparameters_accordion_button" type="button" {%if feedlotdesignparameters_record %} class="accordion-button section-complete" {% else  %} 
                   class="accordion-button section-incomplete" {% endif %} data-toggle="collapse" 
        data-target="#feedlotdesignparameters_target" aria-expanded="false" aria-controls="feedlotdesignparameters_target">
        Feedlot Design Parameters Details
      </button>
    </h4>
     
    
    <div id="feedlotdesignparameters_target" class="accordion-collapse collapse" aria-labelledby="feedlotdesignparameters_header" data-parent="#accordionExample">
      <div class="accordion-body card" id='feedlotdesignparameters_section'>
        <div class="box-description view-section" name='my_feedlotdesignparameters_section'>
            {%if feedlotdesignparameters_record %}
                <!-- Edit/Change -->
                <div class="table-responsive">
                    <table id="feedlotdesignparametersTable" class="table table-striped" >
                        <thead>
                        </thead>
                        
                        <tbody id="feedlotdesignparameters-table-tbody">
                            <tr id="feedlotdesignparameters-length" >
                                <th scope="row">Length</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData" name="length" >{{feedlotdesignparameters_record.length}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-width" >
                                <th scope="row">Width</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="width">{{feedlotdesignparameters_record.width}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-sqm" >
                                <th scope="row">SQM</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="sqm">{{feedlotdesignparameters_record.sqm}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-pen_area" >
                                <th scope="row">Pen area</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData" name="pen_area" >{{feedlotdesignparameters_record.pen_area}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-sqm_per_cattle" >
                                <th scope="row">SQM per each cattle</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="sqm_per_cattle">{{feedlotdesignparameters_record.sqm_per_cattle}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-total_cattle_per_pen_per_cycle" >
                                <th scope="row">Total cattle per pen per cycle</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="total_cattle_per_pen_per_cycle">{{feedlotdesignparameters_record.total_cattle_per_pen_per_cycle}}</td>                                                    
                            </tr>

                            <tr id="feedlotdesignparameters-num_of_months_per_cycle" >
                                <th scope="row"># of months per cycle</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="num_of_months_per_cycle">{{feedlotdesignparameters_record.num_of_months_per_cycle}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-cattle_per_pen_per_year" >
                                <th scope="row">Annual Cattle Output per pen </th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="cattle_per_pen_per_year">{{feedlotdesignparameters_record.cattle_per_pen_per_year}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-num_of_feedlots" >
                                <th scope="row"># of feedlots</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="num_of_feedlots">{{feedlotdesignparameters_record.num_of_feedlots}}</td>                                                    
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn btn-primary btn-round" data-toggle="modal"
                data-target="#modal_add_model_feedlotdesignparameters"> <i class="fa fa-edit"></i></a>
            {% else %}
                <!-- Add For First Time -->
                <a href="#" class="btn btn-danger btn-round" data-toggle="modal"
                data-target="#modal_add_model_feedlotdesignparameters"> <i class="fa fa-plus"></i></a>
            {% endif%}
        </div>
      </div>
    </div>
</div>
