{% load i18n %}
{% load static %}
{% load tags_extras %}
{% load humanize %}
<div class="accordion-item" id='feedlotdesignparameters_accordion'>

    <h4 class="accordion-header" id="feedlotdesignparameters_header" >
      <button id="feedlotdesignparameters_accordion_button" type="button" {%if feedlotdesignparameters_record %} class="accordion-button section-complete" {% else  %} 
                   class="accordion-button section-incomplete" {% endif %} data-toggle="collapse" 
        data-target="#feedlotdesignparameters_target" aria-expanded="false" aria-controls="feedlotdesignparameters_target">
        Feedlot Design Parameters Details
      </button>
    </h4>
     
    
    <div id="feedlotdesignparameters_target" class="accordion-collapse collapse" aria-labelledby="feedlotdesignparameters_header" data-parent="#accordionExample">
      <div class="accordion-body card" id='feedlotdesignparameters_section'>
        <div class="box-description view-section" name='my_feedlotdesignparameters_section'>
            {%if feedlotdesignparameters_record %}
                <!-- Edit/Change -->
                <div class="table-responsive">
                    <table id="feedlotdesignparametersTable" class="table table-striped" >
                        <thead>
                        </thead>
                        
                        <tbody id="feedlotdesignparameters-table-tbody">
                            <tr id="feedlotdesignparameters-length" >
                                <th scope="row">Length</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData" name="length" >{{feedlotdesignparameters_record.length}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-width" >
                                <th scope="row">Width</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="width">{{feedlotdesignparameters_record.width}}</td>                                                    
                            </tr>
                           
                          
                            <tr id="feedlotdesignparameters-sqm_per_cattle" >
                                <th scope="row">SQM per each cattle</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="sqm_per_cattle">{{feedlotdesignparameters_record.sqm_per_cattle}}</td>                                                    
                            </tr>
                            <tr id="feedlotdesignparameters-total_cattle_per_pen_per_cycle" >
                                <th scope="row">Total cattle per pen per cycle</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="total_cattle_per_pen_per_cycle">{{feedlotdesignparameters_record.total_cattle_per_pen_per_cycle}}</td>                                                    
                            </tr>

                            <tr id="feedlotdesignparameters-num_of_months_per_cycle" >
                                <th scope="row"># of months per cycle</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="num_of_months_per_cycle">{{feedlotdesignparameters_record.num_of_months_per_cycle}}</td>                                                    
                            </tr>
                           
                            <tr id="feedlotdesignparameters-num_of_feedlots" >
                                <th scope="row"># of feedlots</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="num_of_feedlots">{{feedlotdesignparameters_record.num_of_feedlots}}</td>                                                    
                            </tr>

                            <tr id="feedlotdesignparameters-construction_cost_per_pen" >
                                <th scope="row"># Unit Pen Construction Cost</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="construction_cost_per_pen">{{feedlotdesignparameters_record.construction_cost_per_pen| floatformat:-1 |intcomma}}</td>                                                    
                            </tr>


                            <tr id="feedlotdesignparameters-machinery_cost_per_pen" >
                                <th scope="row"># Unit Pen Machinery Cost</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="machinery_cost_per_pen">{{feedlotdesignparameters_record.machinery_cost_per_pen| floatformat:-1 |intcomma}}</td>                                                    
                            </tr>

                            <tr id="feedlotdesignparameters-building_cost_per_sqm" >
                                <th scope="row">Building cost per sqm (of Total Land)</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="building_cost_per_sqm">{{feedlotdesignparameters_record.building_cost_per_sqm| floatformat:-1 |intcomma}}</td>                                                    
                            </tr>


                            <tr id="feedlotdesignparameters-total_land_sqm" >
                                <th scope="row">Total land (sqm)</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="total_land_sqm">{{feedlotdesignparameters_record.total_land_sqm| floatformat:-1 |intcomma}}</td>                                                    
                            </tr>

                            <tr id="feedlotdesignparameters-cost_of_land_per_sqm" >
                                <th scope="row">Land cost per sqm</th>
                                <td class="feedlotdesignparametersAction feedlotdesignparametersData"  name="cost_of_land_per_sqm">{{feedlotdesignparameters_record.cost_of_land_per_sqm| floatformat:-1 |intcomma}}</td>                                                    
                            </tr>

                            
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn btn-primary btn-round" data-toggle="modal"
                data-target="#modal_add_model_feedlotdesignparameters"> <i class="fas fa-edit"></i></a>
            {% else %}
                <!-- Add For First Time -->
                <a href="#" class="btn btn-danger btn-round" data-toggle="modal"
                data-target="#modal_add_model_feedlotdesignparameters"> <i class="fas fa-plus"></i></a>
            {% endif%}
        </div>
      </div>
    </div>
</div>
