{% load widget_tweaks %}
<div class="form-group">
    <div class="{% if depreciation_form.usermodel.errors %} has-error{% endif %}">
      {{ depreciation_form.usermodel|add_class:"form-control hidden" }}
      {% for error in depreciation_form.usermodel.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
</div>

<div class="form-group"> 
    <label class="control-label" for="{{ depreciation_form.economic_life_of_machinery.id_for_label }}">{{ depreciation_form.economic_life_of_machinery.label }}</label>
    <div class="{% if depreciation_form.economic_life_of_machinery.errors %} has-error{% endif %}">
      {{ depreciation_form.economic_life_of_machinery|add_class:"form-control" }}
      {% for error in depreciation_form.economic_life_of_machinery.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
</div>

<div class="form-group">
    <label class=" control-label" for="{{ depreciation_form.economic_life_of_buildings.id_for_label }}">{{ depreciation_form.economic_life_of_buildings.label }}</label>
    <div class="{% if depreciation_form.economic_life_of_buildings.errors %} has-error{% endif %}">
      {{ depreciation_form.economic_life_of_buildings|add_class:"form-control" }}
      {% for error in depreciation_form.economic_life_of_buildings.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
 </div>

<div class="form-group">
    <label class="control-label" for="{{ depreciation_form.tax_life_of_machinery.id_for_label }}">{{ depreciation_form.tax_life_of_machinery.label }}</label>
    <div class="{% if depreciation_form.tax_life_of_machinery.errors %} has-error{% endif %}">
      {{ depreciation_form.tax_life_of_machinery|add_class:"form-control" }}
      {% for error in depreciation_form.tax_life_of_machinery.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
</div>

<div class="form-group">
  <label class="control-label" for="{{ depreciation_form.tax_life_of_buildings.id_for_label }}">{{ depreciation_form.tax_life_of_buildings.label }}</label>
  <div class="{% if depreciation_form.tax_life_of_buildings.errors %} has-error{% endif %}">
    {{ depreciation_form.tax_life_of_buildings|add_class:"form-control" }}
    {% for error in depreciation_form.tax_life_of_buildings.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>

<div class="form-group">
  <label class="control-label" for="{{ depreciation_form.tax_life_of_soft_capital_costs.id_for_label }}">{{ depreciation_form.tax_life_of_soft_capital_costs.label }}</label>
  <div class="{% if depreciation_form.tax_life_of_soft_capital_costs.errors %} has-error{% endif %}">
    {{ depreciation_form.tax_life_of_soft_capital_costs|add_class:"form-control" }}
    {% for error in depreciation_form.tax_life_of_soft_capital_costs.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>


