{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load store_extras %}

<!---Removed padding from 70px-- 0px-->
<section style= 'padding: 5px 0;' id="projects" class="projects">
    <div class="container  box-element" data-aos="fade-up">
         <!-- ======= Breadcrumbs ======= -->
         <div class="row">
            <ol class="breadcrumb" >
              <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
       
              <li class="breadcrumb-item" ><a href="{% url 'store' %}" class ="badge rounded-pill bg-success" class ="badge rounded-pill bg-success"
                data-toggle="tooltip" data-placement="bottom" title='Shop Goods'>{% trans 'Store' %}</a></li>
             
              <li class="breadcrumb-item" >
                <label id="total_projects_searched">Cart</label>
              </li>  
            </ol>
          </div>

          <div id="project_div" class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-element">
                        <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
        
                        <br>
                        <br>
        
                        <table class="table">
                            <tr>
                                <th id="o_total_qnty"><h5>Items: <strong>{{order.total_quantity| intcomma}}</strong></h5></th>
                                <!-- order.total_price -->
                                <th id="o_total_price"><h5>Total: <strong>${{order.total_price|floatformat:2| intcomma}}</strong></h5></th>
                                <th>
                                    <a style="float: right; margin: 5px" class="btn btn-success" href="{% url 'checkout' %}"> Checkout</a>
                                </th>
                            </tr>
                        </table>
                    </div>
        
                    <br>
        
                    <div class="box-element" id="cart-table">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <th></th>
                                    <th><strong>Item</strong></th>
                                    <th><strong>Price</strong></th>
                                    <th><strong>Quantity</strong></th>
                                    <th><strong>Total</strong></th>
                                </thead>
                                <tbody id="t-tbody">
                                    {% for orderitem in orderitems %}
                                    
                                            <tr class="{{orderitem.product.id}}">
                                                <div id="cart-item-{{orderitem.product.id}}">
                                    
                                                        <td style="flex:2" class="{{orderitem.product.id}}"><img class="row-image" src="{{orderitem.product.imageURL}}"></td>
                                                        <td style="flex:2" class="{{orderitem.product.id}}" name ='item'><p>{{orderitem.product.name}}</p></td>
                                                        <!-- orderitem.product.price -->
                                                        <td style="flex:1" class="{{orderitem.product.id}}" name ='price'><p>${{orderitem.product.price|floatformat:2| intcomma}}</p></td>
                                                        <td style="flex:1" class="{{orderitem.product.id}}" name ='quantity'>
                                                            <p class="quantity" name ='number-part'>{{orderitem.quantity| intcomma}}</p>
                                                            <div class="quantity">
                                                                <img data-product="{{orderitem.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                                
                                                                <img data-product="{{orderitem.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                                                            </div>
                                                        </td>
                                                        <!-- orderitem.total -->
                                                        <td style="flex:1" class="{{orderitem.product.id}}" name ='total'><p>${{orderitem.total| intcomma}}</p></td>
                                                    </div>
                                                </div>
                                            </tr>
                                    
                                    {% endfor %}
                               </tbody>
                            </table>
                        </div>                           
                    </div>
                    <br>
                </div>
            </div>
          </div>

       

    </div>
  
</section><!-- End Projects Section -->







