{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load store_extras %}

<!---Removed padding from 70px-- 0px-->
<section style= 'padding: 5px 0;' id="projects" class="projects">
    <div class="container  box-element" data-aos="fade-up">
         <!-- ======= Breadcrumbs ======= -->
         <div class="row">
            <ol class="breadcrumb" >
              <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
       
              <li class="breadcrumb-item" ><a href="{% url 'store' %}" class ="badge rounded-pill bg-success" class ="badge rounded-pill bg-success"
                data-toggle="tooltip" data-placement="bottom" title='Go to Shopping'><i class="fas fa-shopping-cart"></i></a></li>
             
              <li class="breadcrumb-item" >
                <label id="total_projects_searched">Product Details</label>
              </li>  
            </ol>
         </div>

          <div id="project_div" class="row" data-aos="zoom-in" data-aos-delay="100">
            
                <div class="">   
                    <div class="box-element">
                            <div class="row product-details">
                                
                                <div {%  userHasOrderProductMethod ordermodel product %} id="img-and-btn-wrapper" class="product-item col-md-8  col-md-pull-4">  
                                    <a href="#" data-toggle="tooltip" data-placement="bottom"  title='Manage Business'>
                                        <span {% userHasOrderProductMethod ordermodel product %} class="myspan">CartItem</span>
                                    </a>
                                    {% if product.imageURL %}
                                    <img class="img-fluid thumbnail" src="{{product.imageURL}}" >
                                    {% else %}
                                    <img class="img-fluid thumbnail" src="{% static 'images/placeholder.png' %}" >
                                    {% endif %}
                                </div>
        
                                <div class="col-md-4 col-md-push-8" >
                                    <div class="">
                                        <button  data-product="{{product.id}}" data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Cart</button>
                                    </div>
                                    <div class="">
                                        <!-- <div > -->
            
                                            
                                            <p >Name: {{product.name}}</p>
                                            <!-- product.price -->
                                            <p >Price: ${{product.price |intcomma}}</p>
                                            <p >
                                                Shipping required:
                                                {% if product.digital %}
                                                    No
                                                {% elif not product.digital %}
                                                    Yes
                                                {% endif %}
                                            </p>
                                            <br>
                                            <p>
                                                
                                        
                                            Tags:
                                            {% for tag in product.categories.all %}
                                                <a href="{% url 'product_load_tags' tag.id %}" class="badge rounded-pill bg-warning text-dark">{{tag.name}}</a>
                                            {% endfor %}
                                        
                                            </p>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        
                   </div>
                   <br>
                </div>
                <div class="">
                    <div class="box-element">
        
                        <div style="flex:1">
                            <p > <strong>Details Description</strong></p>
                            <p>
                                {{ product.description}}
                            </p>
                        
                        </div>
        
                            <br>
                            <hr>
                        <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; back Store</a>
                    </div>
                </div>
           
          </div>

    </div>
  
</section><!-- End Projects Section -->







