# Environments
env/
investments_env/
.env
.envMongo


# Python
__pycache__/
*.pyc

# Database
db.sqlite3
settingMongo
# Development / Test files
additionaldata
investments_appraisal/templates/investments_appraisal/mentor/sections/test.html

# DO NOT ignore myproj/static (We need these source files)
# DO NOT ignore staticfiles_build (We need the manual copy we made)