
{% load i18n %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Personal Investors List</title>
{% endblock %}


{% load leaflet_tags %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}
{% load static %}



{% block content_header %}   
{% endblock %}


{% block content %} 

<main id="main">
  {{ json_user_location_x|json_script:"user-x-data" }}<!--Long-->
  {{ json_user_location_y|json_script:"user-y-data" }}<!--Lat-->
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
  </div>
  
  <!---Removed padding from 70px-- 0px-->
  <section style= 'padding: 5px 0;' id="projects" class="projects">  
    <div class="container box-element" data-aos="fade-up">

    
        <!-- form start -->
        <form method="POST" class="listing-form" role="form" novalidate enctype="multipart/form-data" id="listingform">
          {% csrf_token %}
          <div class="box-body">
          {% for field in form %}
             <div class="fieldWrapper form-group {% if field.errors %} field_error{% endif %} ">
                  <label for="{{ field.id_for_label }}">
                      {{ field.label }}{% if field.field.required %}<span class="required-asterisk">*</span>{% endif %}
                  </label>
                  {{ field }}
                  {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
             </div>
          {% endfor %}
          </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary" form="listingform">Submit</button>
        </div>
      </form>   
        
      
    </div>
   
  </section><!-- End User Section --> 
  
</main><!-- End #main -->

{%endblock%}

{% block script %}
<script type="text/javascript">
    const user_loc_x = JSON.parse(document.getElementById('user-x-data').textContent);
    const user_loc_y = JSON.parse(document.getElementById('user-y-data').textContent);
  window.addEventListener("map:init", function (e) {
      var detail = e.detail;
      
      detail.map.setView([parseFloat(user_loc_x), parseFloat(user_loc_y)], 5);
  }, false);

</script>
{%endblock%}





