
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'map/map.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    {{ markers|json_script:"markers-data" }}
    {{ json_user_location_x|json_script:"user-x-data" }}<!--Long-->
    {{ json_user_location_y|json_script:"user-y-data" }}<!--Lat-->
    <div class="marker-position">Click on map</div>
    <div id="map"></div>
    <div class="formBlock">
        <form id="form">
            <input type="text" name="start" class="input"  id="start"/>
            <input type="text" name="end" class="input"/>
            <button>Get Directions</button>
        </form>
    </div>
    <script src="{% static 'map/map.js' %}"></script>
</body>
</html>

