{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load widget_tweaks %}


    <!--Header-->
   

    <div class="modal-header">
      <h4 class="modal-title myModalLabel">Currency Application Details [{{form.instance.created_by.username | truncatechars:15}}]</h4>
      <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>       
  </div>
    <!--Body-->
    <div class="modal-body">
        <form class="product-form form-horizontal" enctype="multipart/form-data" method="post" data-url="{% url 'update_tc' %}">
            {% csrf_token %}
           
              <div class="modal-body">
                
                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="{{ form.currency_offered.id_for_label }}">{{ form.currency_offered.label }}</label>
                  <div class="col-sm-4">
                    {{ form.currency_offered|add_class:"form-control" }}
                    {% for error in form.currency_offered.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
              
                  <label class="col-sm-2 control-label" for="{{ form.currency_expected.id_for_label }}">{{ form.currency_expected.label }}</label>
                  <div class="col-sm-4">
                    {{ form.currency_expected|add_class:"form-control" }}
                    {% for error in form.currency_expected.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                </br>

                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="{{ form.value.id_for_label }}">{{ form.value.label }}</label>
                  <div class="col-sm-4">
                    {{ form.value|add_class:"form-control" }}
                    {% for error in form.value.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>  


                  <label class="col-sm-2 control-label" for="{{ form.rate_expected.id_for_label }}">{{ form.rate_expected.label }}</label>
                  <div class="col-sm-4">
                    {{ form.rate_expected|add_class:"form-control" }}
                    {% for error in form.rate_expected.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
              
                  
              </div>
              </br>
                  <div class="form-group row">
                    <label class="col-sm-2 control-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    <div class="col-sm-10">
                      {{ form.description|add_class:"form-control" }}
                      {% for error in form.description.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </br>
                  

                     
             
              </div>
              <!-- Throw Error Here -->
              <div class="form-error2 public_toggle_form-errors form-group" style='display:none'>
              </div>
                <!--Footer-->
              <div class="modal-footer">
                <button class="btn btn-outline-danger close-modal" data-dismiss="modal" aria-label="Close"
                    type="reset">Close
                </button>
                <button class="btn btn-danger" type="submit">Save</button>
            </div>
        </form>
    </div>