{% extends 'store/base_startpage.html' %}

 {% load i18n %}
 {% load static %}
 {% load tags %}
 {% load humanize %}
 
 {% block content_header %}
 <h1>{% trans 'Dashboard' %}
   <small>{% trans 'Financials' %}</small>
 </h1>
 <ol class="breadcrumb">
   <li class="active">{% trans 'Home' %}</li>
 </ol>
 {% endblock %}
 {% block content %}
 <div class="row">
   <div class="col-md-3">
     <div class="small-box bg-green">
       <div class="inner">
         <h4>{% trans 'Current Balance' %}</h4>
         <h3>{{ balance|intcomma }}</h3>
       </div>
     </div>
   </div>
   <div class="col-md-3">
     <div class="small-box bg-yellow">
       <div class="inner">
         <h4>{% trans 'Working Balance' %}</h4>
         <h3>{{ working_balance|intcomma }}</h3>
       </div>
     </div>
   </div>
   <div class="col-md-3">
     <div class="small-box bg-red">
       <div class="inner">
         <h4>{% trans 'Outstanding Recurrences' %}</h4>
         <h3>{{ outstanding|intcomma }}</h3>
       </div>
     </div>
   </div>
   <div class="col-md-3">
     <div class="small-box bg-blue">
       <div class="inner">
         <h4>{% trans 'End of Month Balance' %}</h4>
         <h3>{{ expected_balance|intcomma }}</h3>
       </div>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-4 col-md-push-8">
     {% if overdue_transactions %}
     <div class="alert alert-danger">
       <b>{% trans 'You have recurrences that are overdue!' %}</b>
     </div>
     {% endif %}
     <div class="box">
       <div class="box-content">
         <table class="table">
           <tr><th></th><th>{{ today|date:"F" }}</th><th>{{ last_month|date:"F" }}</th></tr>
           <tr>
             <th>{% trans 'Income' %}</th><td>{{ income|intcomma }}</td><td>{{ previous_income|intcomma }}</td>
           </tr>
           <tr>
             <th>{% trans 'Expenses' %}</th><td class="text-red">{{ expenses|intcomma }}</td><td class="text-red">{{ previous_expenses|intcomma }}</td>
           </tr>
           <tr>
             <th>{% trans 'Difference' %}</th><td{% if difference < 0 %} class="text-red"{% endif %}>{{ difference|intcomma }}</td><td{% if previous_difference < 0 %} class="text-red"{% endif %}>{{ previous_difference|intcomma }}</td>
           </tr>
         </table>
       </div>
     </div>
     <div class="box">
       <div class="box-header">
         <h3 class="box-title">{% trans 'Accounts' %}</h3>
       </div>
       <div class="box-body">
         <table class="table">
         <tr>
         <th>{% trans 'Account' %}</th>
         <th>{% trans 'Balance' %}</th>
         </tr>
         {% for account in accounts %}
         <tr>
           <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></td>
           <td {% if account.balance < 0 %} class="text-red"{% endif %}>{{ account.balance|intcomma }}</td>
         </tr>
         {% endfor %}
         </table>
       </div>
     </div>
   </div>
  
   <div class="col-md-8 col-md-pull-4">
      <div class="box">
        <div class="box-header">
            <div class="row text-center">
              <button id="12month" class="btn btn-s btn-default range-chooser">{% trans 'Last year' %}</button>
              <button id="6month" class="btn btn-s btn-default range-chooser">{% trans 'Last 6 Months' %}</button>
              <button id="3month" class="btn btn-s btn-default range-chooser">{% trans 'Last 3 Months' %}</button>
              <button id="currentMonth" class="btn btn-s btn-default range-chooser">{% trans 'Current Month' %}</button>
              <!--button id="custom" class="btn btn-s btn-default range-chooser">Custom Range</button-->
            </div>
        </div>
      </div>
      <div class="box">
          <div class="box-header">
              <h3 class="box-title">{% trans 'Sales' %}</h3>
          </div>
          <div class="box-body">
              <canvas id="balanceChart" width="400" height="200"></canvas>
          </div>
      </div>
     {% if upcoming_transactions %}
     <div class="box">

       <div class="box-header with-border">
         <h3 class="box-title">{% trans 'Upcoming Transactions' %}</h3>
       </div>
       <div class="box-body">
         <table class="table table-striped">
           <tr>
             <th>{% trans 'Title' %}</th>
             <th>{% trans 'Date' %}</th>
             <th>{% trans 'Account' %}</th>
             <th>{% trans 'Amount' %}</th>
           </tr>
           {% for transaction in upcoming_transactions %}
           <tr>
             <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.title }}</a></td>
             <td>{{ transaction.date }}</td>
             <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
             <td {% if transaction.is_deposit %} class="text-green"{% elif transaction.is_withdraw %} class="text-red" {% endif %}>{{ transaction.amount|intcomma }}</td>
           </tr>
           {% endfor %}
         </table>
       </div>
     </div>
     {% endif %}
     <div class="box">
       <div class="box-header with-border">
         <h3 class="box-title">{% trans 'Upcoming Recurrences' %}</h3>
       </div>
       <div class="box-body">
         {% if upcoming_recurrences %}
         <table class="table table-striped">
           <tr>
             <th>{% trans 'Title' %}</th>
             <th>{% trans 'Date' %}</th>
             <th>{% trans 'Amount' %}</th>
             <th></th>
           </tr>
           {% for transaction in upcoming_recurrences %}
           <tr>
             <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.title }}</a></td>
             <td>{{ transaction.date }}</td>
             <td {% if transaction.is_deposit %} class="text-green"{% elif transaction.is_withdraw %} class="text-red" {% endif %}>{{ transaction.signed_amount|intcomma }}</td>
             <td>
               <a class="btn btn-xs {% if transaction.is_due %}btn-danger{% else %}btn-primary{% endif %}" href="{% url 'recurrence_transaction_create' transaction.pk %}">{% trans 'Create Transaction' %}</a>
             </td>
           </tr>
           {% endfor %}
         </table>
         {% else %}
         <p>
         {% trans 'No upcoming recurrences' %}
         </p>
         {% endif %}
       </div>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-12">
     <div class="box">
       <div class="box-header with-border">
         <h3 class="box-title">{% trans 'Recent Transactions' %}</h3>
       </div>
       <div class="box-body">
         <table class="table table-striped">
           <tr>
             <th>{% trans 'Title' %}</th>
             <th class="hidden-xs">{% trans 'Type' %}</th>
             <th>{% trans 'Date' %}</th>
             <th>{% trans 'Amount' %}</th>
             <th class="hidden-xs">{% trans 'Account' %}</th>
             <th class="hidden-xs">{% trans 'Opposing Account' %}</th>
             <th class="hidden-xs">{% trans 'Category' %}</th>
           </tr>
           {% for transaction in transactions %}
           <tr>
             <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.title }}</a></td>
             <td class="hidden-xs">{{ transaction.transaction.get_transaction_type_str }}</td>
             <td>{{ transaction.date|date:'d.m.Y' }}</td>
             <td class="text-{% if transaction.is_deposit %}green{% elif transaction.is_withdraw %}red{% endif %}">{% if transaction.is_transfer %}{{ transaction.amount|negate|intcomma }}{% else %}{{ transaction.amount|intcomma }}{% endif %}</td>
             <td class="hidden-xs"><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
             <td class="hidden-xs">{% if not transaction.is_system %}<a href="{{ transaction.opposing_account.get_absolute_url }}">{{ transaction.opposing_account }}</a>{% endif %}</td>
             <td class="hidden-xs">
               {% if transaction.category %}
               <a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category }}</a>
               {% endif %}
             </td>
           </tr>
           {% endfor %}
         </table>
       </div>
     </div>
   </div>
 </div>
 {% endblock %}
 

 {% block scripts %}
 <script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
 <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
 <script type="text/javascript">


 var colors =
   ['#357ca5',
    '#008d4c',
    '#db8b0b',
    '#ca195a',
    '#555299',
    '#4285f4',
    '#db4437',
    '#f4b400',
    '#0f9d58',
    '#ab47bc',
    '#00acc1',
    '#ff7043',
    '#9e9d24',
    '#5c6bc0',
    '#f06292',
    '#00796b',
    '#c2185b'
 ];
 var balanceChart = null;
 var accountChart = null;
 var categoryChart = null;
 
 var drawBalances = function(res) {
   var ctx = document.getElementById("balanceChart").getContext('2d');
   var data = {
       labels: res.labels,
       datasets: []
   };
   var dataset = {
     label: 'Sales Invoiced',
     fill: false,
     pointRadius: 2,
     backgroundColor: '#357ca5',
     borderColor: '#357ca5',
     data: res.data
   };
   data.datasets.push(dataset);
   balanceChart = new Chart(ctx, {
       type: 'line',
       data: data,
       options: {
           tooltips: {
               mode: 'index',
               position: 'nearest',
               intersect: false,
               caretPadding: 5
           },
           legend: {
             position: 'none'
           },
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero: true
                   }
               }]
           }
       }
   });
 };
 
 
 var updateBalanceChart = function(chartData) {
   balanceChart.data.labels = chartData.labels;
   balanceChart.data.datasets[0].data = chartData.data;
   balanceChart.update();
 };
 
 
 
 
 var one_month = 0;
 var three_months = 1;
 var six_months = 2;
 var twelve_months = 3;
 var balanceChartData = new Array(4);
 
 
 // initialize
 
 $.getJSON("{% url 'get_sales_graph_by_day' minus_3_months today %}", {}, function(res, status) {
   drawBalances(res);
   balanceChartData[three_months] = res;
 });
 
 
 // update charts
 $('#12month').click(function() {
   
   if (balanceChartData[twelve_months] == null) {
     $.getJSON("{% url 'get_sales_graph_by_day' minus_12_months today %}", {}, function(res, status) {
       updateBalanceChart(res);
       balanceChartData[twelve_months] = res;
     });
   } else {
     updateBalanceChart(balanceChartData[twelve_months]);
   }
  
 });
 
 
 $('#6month').click(function() {
   
 
   if (balanceChartData[six_months] == null) {
     $.getJSON("{% url 'get_sales_graph_by_day' minus_6_months today %}", {}, function(res, status) {
       updateBalanceChart(res);
       balanceChartData[six_months] = res;
     });
   } else {
     updateBalanceChart(balanceChartData[six_months]);
   }
 
   
 });
 
 $('#3month').click(function() {
  
   updateBalanceChart(balanceChartData[three_months]);
 });
 
 
 $('#currentMonth').click(function() {
  
 
   if (balanceChartData[one_month] == null) {
     $.getJSON("{% url 'get_sales_graph_by_day' first_day_of_month last_day_of_month %}", {}, function(res, status) {
       updateBalanceChart(res);
       balanceChartData[one_month] = res;
     });
   } else {
     updateBalanceChart(balanceChartData[one_month]);
   }
 
   
 });
 </script>
 {% endblock %}
