{% extends 'investments_appraisal/mentor/index.html' %}

{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>{{product.name}} product details</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
 
{% endblock %}

{% block content_header %}
   
{% endblock %}



{% block content %}

 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
     
  </div><!-- End Breadcrumbs -->

 <!-- ======= Projects Section ======= -->  
   {% include 'store/sections/section_product_details.html' %} 
  
 
</main><!-- End #main -->


{%endblock content%}



 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  {% block modal_divs %}
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="confirmdelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                    <input type="button" class="update-cart  btn btn-danger" data-product="" data-action=""
                            name="update-cart" value="Yes" >
                </div>
            </div>
        </div>
    </div>

{% endblock %}
  {% block scripts %}
      <!-- Search Button JS -->
      <script src="{% static 'mentor/assets/js/search.js' %}"></script>

    
      <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
      <script type="text/javascript">
      var user = '{{request.user}}'


       $('#confirmdelete').on('show.bs.modal', function(e) {
            var name = $(e.relatedTarget).data('object-name');
            var item_id = $(e.relatedTarget).data('item-id');
            //console.log(item_id)
            //var name =truncChar(name,25)
            $('#confirmdelete .modal-body').html("Are you sure you want to <b>remove</b> <i>[" + name + "]</i> item from your <b>Cart</b> ?");
          
            $('#confirmdelete .modal-footer input').attr('data-action', 'remove_from_cart');
            $('#confirmdelete .modal-footer input').attr('data-product', item_id);
        });

     



      checkPosition()
       function imageaspect() {
        var maxWidth = 150; // Max width for the image
        var minHeight = 200;    // Max height for the image
        var ratio = 0;  // Used for aspect ratio
        var width = $(".img-fluid").width();    // Current image width
        var height = $(".img-fluid").height();  // Current image height

        if(width > maxWidth){
            ratio = maxWidth / width;   // get ratio for scaling image
            $(".img-fluid").css("width", maxWidth); // Set new width
            $(".img-fluid").css("height", height * ratio);  // Scale height based on ratio
            height = height * ratio;    // Reset height to match scaled image
            width = width * ratio;    // Reset width to match scaled image
        }

        // Check if current height is larger than max
        if(height < minHeight){
            ratio = minHeight / height; // get ratio for scaling image
            $(".img-fluid").css("height", minHeight);   // Set new height
            $(".img-fluid").css("width", width * ratio);    // Scale width based on ratio
            width = width * ratio;    // Reset width to match scaled image
        }

        var $img = $(".img-fluid"),
        css = {
            // position: 'absolute',
            // marginLeft: '-' + ( parseInt( $img.css('width') ) / 2 ) + 'px',
            left: '50%',
            top: '50%',
            // marginTop: '-' + ( parseInt( $img.css('height') ) / 2 ) + 'px'
        };

        // $img.css( css );
   }
      function mobile_view(){
        console.log('matching')
        $(".img-fluid").css({'width':'100%',})
       // $("#img-and-btn-wrapper").css({'width':'70%','height':'50%'})
        //imageaspect()
      }
      function desktop_view(){
        $(".img-fluid").css({'max-width':'250px',})
       // $("#img-and-btn-wrapper").css({'width':'50%','height':'50%'})
        
    }
      function checkPosition() {
        //mobile
        
        if (
            (window.matchMedia('(max-width: 760px)').matches) || 
            ((window.matchMedia('min-device-width: 768px').matches) && (window.matchMedia('max-device-width: 1024px').matches)) 
            ) {
            mobile_view()
        } else {
            desktop_view() 
        }
    }
    $(window).resize(function() {
      console.log('width: ' , $(this).width())
      checkPosition()
    
});  

     
        function flip_cart_display (){
            if ($('#cart-total').html() >0){
                $('#cart-total').css({ "display":"block"})
                }else {
                $('#cart-total').css({ "display":"none"})
            }     
        } 
        flip_cart_display ()
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

      function getCookie(name) {
          // Split cookie string and get all individual name=value pairs in an array
          var cookieArr = document.cookie.split(";");

          // Loop through the array elements
          for(var i = 0; i < cookieArr.length; i++) {
              var cookiePair = cookieArr[i].split("=");

              /* Removing whitespace at the beginning of the cookie name
              and compare it with the given string */
              if(name == cookiePair[0].trim()) {
                  // Decode the cookie value and return
                  return decodeURIComponent(cookiePair[1]);
              }
          }

          // Return null if not found
          return null;
      }
      var cart = JSON.parse(getCookie('cart'))

          if(cart == undefined){
              cart = {}
              console.log('Cart was created!')
              document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
          }

      console.log('Cart: ', cart)


      $(document).ready(function (){ 
            set_product_in_mycart()
            
            
            
        })
        function set_product_in_mycart(){
            $('.product-item').each( function (){
                if (this.hasAttribute('mycart_na')){                     
                    $(this).removeClass('engagement')
                }else if (this.hasAttribute('mycart')){
                    $(this).addClass('engagement')
                
                }
                
            })
        }

        $('.myspan[mycart]').each( function (){
                  $(this).addClass('advanced2')                   
            })
            // display:none and remove ele
            $('.myspan[mycart_na]').each( function (){
                $(this).css(
                    { "display":"none",
                    // "title":"", 
                    }
                )//.remove()          
            }) 
      </script>

    {% endblock %}
{% block content_custom_menu_navbar %}
<!-- ======= Header ======= -->
{% include 'investments_appraisal/mentor/sections/section_nav_store.html' %}

{% endblock %}