{% extends 'investments_appraisal/mentor/index.html' %}<!--investments_appraisal/main.html---->
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
   <title>Contact</title>
{% endblock %}


{% block stylesheets %}
 
{% endblock %}

{% block content_header %}
   
{% endblock %}


{% block content %}

 
<main id="main">
   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Contact Us</h2>
      <p>Feel Free to write to us to improve service </p>
    </div>
  </div><!-- End Breadcrumbs -->

   <!-- ======= Contact Section ======= -->
   {% include 'investments_appraisal/mentor/sections/section_contact.html' %} 
  
  
  
</main><!-- End #main -->


{%endblock content%}



 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% block scripts %}
  <script>
    $(document).ready(function (){ 
        $("#contact a").addClass( "active") 
        function clearPage(){          
            $('#name').val('')
            $('#email').val('')
            $('#subject').val('')
            $('#message').val('')
        }
        $('body').on("submit",".contact-us",function(e){
              e.preventDefault();
              var data = new FormData(this);
              var formData
              var form = $(this);
              console.log('Contact us.... loading')
              var url=form.attr('data-url')
              $.ajax({
                  url: form.attr('data-url'),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(data){
                     
                      if(data.error == false){
                        clearPage()
                        $('.public_toggle_form-errors').html('');
                        a_html = 	`</br><div class='alert alert-success alert dismissable'>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span></button> Your message has been sent. Thank you!!!
                                  </div> ` ;
                        $('.public_toggle_form-errors').append(a_html)
                        $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                              }, 4000);
                      } else {
                          //console.log('Error data...', data.data)
                          $('.public_toggle_form-errors').html('</br>');
                          if (data.error == true) {
                              //console.log('Error', data.error)
                              var form_vars=['__all__','subject','message', 'email', 'name']//,
                      
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data.data[name_var]){
                                  a_html = 	`<div class='alert alert-danger alert dismissable'>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span></button> ${data['data'][name_var][0]}
                                  </div> ` ;
                                  $('.public_toggle_form-errors').append(a_html)
                                  
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                              }, 4000);
                          //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button> ${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();                           

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
    })
    </script>
  {% endblock %}



