{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Financial Models</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content_header %}
   
{% endblock %}


{% block content %}

 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
  
  </div>
   <!-- End Breadcrumbs -->
   <!-- ======= Models Section ======= -->  
   {% include 'investments_appraisal/mentor/sections/section_models.html' %} 
</main><!-- End #main -->

{%endblock content%}
{% block modal_divs %}
   
     <!-- EDIT DISPLAY HOLDER -->
     <div class="modal fade" id="modal-usermodel">
        <!-- Small	.modal-sm	300px
       Default	None	500px
       Large	.modal-lg	800px   :::: class="modal-dialog modal-lg"
       Extra large	.modal-xl	1140px 
        -->
       <div class="modal-dialog modal-lg">
           <div class="modal-content"></div>
       </div>
   </div>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="confirmdelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                    <input type="button" class="delete-button  btn btn-danger" id="delete-button"
                            name="delete-button" value="Yes" data-url="" tr-id="" model-id="">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: modalAdd New Model -->
    <div class="modal fade" id="modal_add_new_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="overflow-y: auto !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title myModalLabel">Add Model Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">

                    {% include 'investments_appraisal/user_model_modal.html' %}
            

                </div>
            </div>
        </div>
    </div>
{% endblock %} 

 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% block scripts %}
       <!-- Search Button JS -->
       <script src="{% static 'mentor/assets/js/search.js' %}"></script>
       
      <script>
            function truncChar(str,length){
                var myTruncatedString = str.substring(0,length-1);              
                if (str.length > myTruncatedString.length){
                return myTruncatedString + "..."
                }
                return myTruncatedString
            }
            function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
          var csrftoken = getToken('csrftoken');
          var display_models_ajax_url= "{% url 'display_models_ajax' %}"  
         
          function show_item_overflow(){
                // loop all records
                $('.umodels').find('.umodel-item').each( function (){                   
                    $(this).css(
                      { "position":"relative",
                        "overflow":"visible",  
                      }
                    ) 
                })
          }
          $(document).ready(function (){ 
                $("#investments a:first").addClass( "active") 
                $("#models a").addClass( "active") 
               

                $('.project-content[ready]').each( function (){
                    $(this).addClass('model-complete')
                })
                //overflow
                show_item_overflow()
    
               
               
                    
          })
          function updatePaging2(data){
            var has_previous=''
            console.log(data)
            if (data.has_previous){
                has_previous= `<li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                    <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.previous_page_number}">previous</a></li>`;
            
            }       
            var has_next= ''          
            if (data.has_next){
                has_next= ` <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.next_page_number}">next</a></li>
                        <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.last}">last &raquo;</a></li>
                    `; 
            }       
            a_html=`
            <div id= "page_section" class="pagination">
                <ul class="pagination newpagination">
                    ${has_previous}            
                    <span class="current" style="margin-left:5px" >
                        Page ${ data.current_page } of ${ data.last }.
                    </span>                   
                    ${has_next}
                </ul>
                </div>`
                $("#page_section").html(a_html)
          }

          function removeClass(objClicked){
            $("#page_section ul").children().each(function() {
                var attr = $(this).find('a').removeClass("pagination-active");
            })
            objClicked.addClass('pagination-active');

          }
        
          function append_html(counter,val){

            var simulation_checked=''
                            if (val.simulation_run) {
                                simulation_checked='<i style="color:blue;" class="bi bi-check-circle"></i>'
                            }else{
                                
                                simulation_checked=' <i class="bi-square"></i>'
                            }
                            var design_complete_checked=''
                            if (val.design_complete) {
                                design_complete_checked='<i style="color:blue;" class="bi bi-check-circle"></i>'
                            }else{
                                
                                design_complete_checked=' <i class="bi-square"></i>'
                            }
                            
                            var eye_style=''
                            var ready_attr=''
                            var model_class_added=''
                            if (val.design_complete) {
                                eye_style='style="color:blue"'
                                ready_attr='ready'
                                model_class_added= 'model-complete'
                            }else{
                                
                                eye_style='style="color:inherit"'
                            }

                            var js_date_created = new Date(val.date_created)
                            //append to post
                            counter=  counter +1
                            var baseimageURL = "{% static 'mentor/assets/img/models/' %}"
                            imgval= baseimageURL + val.uniqueid +'.jpg'
                            a_html=`
                                <div id="div-${val.id}" class="col-lg-4 col-md-6 d-flex align-items-stretch umodels">
                                <div class="project-item umodel-item">
                                
                                    <img src ="${imgval}" class="umodel-img" alt="">
                                
                                    <div ${ready_attr} class="project-content ${model_class_added}">
                                        <div class="d-flex justify-content-between align-items-center mb-3"  name="link">
                                            <h3><a href="/select_model_mentor/${val.id}/"  class ="badge rounded-pill bg-warning" >${truncChar(val.name,15)}</a></h3>
                                 
                                            <p class="price">${val.currency}</p>
                                        </div> 
                                    

                                        <div class="d-flex justify-content-between align-items-center mb-3"  name="design">
                                            <div class="modelModelType modelData" name="simulation_run" >
                                                Simulations${simulation_checked} 
                                            </div>
                                            <div class="modelModelType modelData" name="design_complete" >
                                                Ready${design_complete_checked} 
                                            </div>
                                        </div> 
                                        <div class="d-flex justify-content-between align-items-center mb-3"  name="iterations">
                                            
                                            <div class="modelModelType modelData" name="simulation_iterations" >
                                                Iterations: ${val.simulation_iterations}
                                            </div>
                                            <div class="modelModelType modelData" name="npv_bin_size" >
                                                Bin :${val.npv_bin_size}
                                            </div>
                                        </div>
                                    <p class="modelModelType modelData" name="date_created" >Date Created: ${js_date_created}</p>
                                
                                    <p name="description" >${val.description}</p>

                                    <p class="text-right modelAction modelData" name="action">
                                        <!-- SHOW MODEL -->
                                        <a href="/select_model_mentor/${val.id}/"
                                        ${eye_style} data-toggle="tooltip" data-placement="bottom" 
                                        title='View Model'><i class="fas fa-eye"></i>
                                        </a>
                                        <!-- EDIT MODEL -->
                                        <a class="model-edit show-form-update" href="#" data-url="/update_model/${val.id}/" 
                                        data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                        title='Edit Model'><i class="fas fa-edit"></i>
                                        </a>
                                        <!-- DELETE MODEL -->
                                    <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                                        data-object-name="${val.name}"  data-model-id="${val.id}" 
                                        data-delete-url="/delete_bussiness_model_ajax/${val.id}/1/"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                                        title='Delete' ><i class="fas fa-trash"></i>
                                        </a>
                                        </p>
                                    
                                    
                                    </div>
                                </div>
                                </div>` ;
                return a_html
          }

          $("body").on("keyup", "#search", function(){
            var search_val = $(this).val().toLowerCase();
            search_val=search_val.replace(/[^a-zA-Z0-9]/g,"")
            if (search_val.length == 0){
                display_models_ajax_url = "{% url 'display_models_ajax' %}"
                //clear value
                $('#total_projects_searched').val('')
            }else{
              //change here
              display_models_ajax_url = `{% url 'display_models_ajax_filter' 12345 %}`.replace(/12345/, search_val.toString()); 
          
            }
             // click first page
            page_no=1
             // ajax call
             $.ajax({
                    type: "POST",
                    // define url name
                    url: display_models_ajax_url, 
                    data : {    
                        page_no : page_no, 
                        csrfmiddlewaretoken: csrftoken,
                    },
                    // handle a successful response
                    success: function (response) {
                        $('#project_div').html('')
                        var num_of_pages=1
                        if (response.data.per_page){
                            per_page=response.data.per_page
                        }

                        if (response.data.num_of_pages){
                          num_of_pages=response.data.num_of_pages
                        }
                        var records
                        if (response.data.totalrecords == 0) {
                            records= `No records found`
                            html_text= `<div class="col-lg-12 text-center"><p>${records}</p></div>`
                            $('#project_div').html(html_text)
                        }else if(response.data.totalrecords == 1){
                            records= `${response.data.totalrecords} record found`;
                        }else{
                            records= `${response.data.totalrecords} records found`;
                        }
                        
                        html_a= `<label id="total_projects_searched"><i>${records}</i></label>`
                        $('#total_projects_searched').html(html_a)

                       
                        updatePaging2(response.data)
                        var base_counter =(parseInt(page_no)-1)*per_page
                        var counter=base_counter
                        //append pages
                        $.each(response.data.results, function(i, val) {
                           
                            a_html=append_html(counter,val)
                            // add each model on every line
                            $('#project_div').append(a_html)

                        });
                        //after adding content format the pics
                        //overflow
                        show_item_overflow()
                    },
                    error: function () {
                        alert('Error Occured');
                    }
                }); 
          
          
          });

          function loadPageAjax(page_no){
            $.ajax({
                    type: "POST",
                    // define url name
                    url: display_models_ajax_url, 
                    data : {    
                        page_no : page_no, 
                        csrfmiddlewaretoken: csrftoken,
                    },
                    // handle a successful response
                    success: function (response) {
                        $('#project_div').html('')
                        updatePaging2(response.data)
                        if (response.data.per_page){
                            per_page=response.data.per_page
                        }
                        var base_counter =(parseInt(page_no)-1)*per_page
                        var counter=base_counter
                        //load pages
                        $.each(response.data.results, function(i, val) {

                            a_html=append_html(counter,val)
                            // add each model on every line
                            $('#project_div').append(a_html)

                        });
                        //after adding content format the pics
                        //overflow
                        show_item_overflow()
                    },
                    error: function () {
                        alert('Error Occured');
                    }
                        
                });
                //add_model_class()
          }
      
          $('body').on('click', '.a_page_nav', function (event) {
                // preventing default actions
               
                event.preventDefault();
                var page_no = $(this).attr('href');
                // ajax call
                loadPageAjax(page_no)
            });
          
        
          $('#confirmdelete').on('show.bs.modal', function(e) {
                var name = $(e.relatedTarget).data('object-name');
                var url = $(e.relatedTarget).data('delete-url');
                var model_id = $(e.relatedTarget).data('model-id');
                $('#confirmdelete .modal-body').text("Are you sure you want to delete " + name + "?");
                $('#confirmdelete .modal-footer input').attr('data-url', url);
                $('#confirmdelete .modal-footer input').attr('model-id', model_id);
            });
          
        
          $('body').on('click', '.delete-button', function (e) {
            e.preventDefault();
            var tr_id =$('#delete-button').attr('model-id')
            row = $('#div-'+ tr_id.trim());
            //console.log('deleting.......', row, tr_id)
            var formData = {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            };
            $.ajax({
                type: 'POST',      
                url:   $('#delete-button').attr('data-url'), 
                encode: true,
                contentType: 'application/x-www-form-urlencoded',
                crossDomain: false,
                dataType: 'json',
                data: formData,     // our data object
                success: function (data) {
                     
                    $('.close-modal').click()               
                    row.fadeOut(1000, function () {
                        //remove the row deleted
                        $(this).remove();
                        // if deleted page make the page disappear, point to prev page
                        //page-1
                        if (data.data.total_pages < data.data.deleted_page){                     
                            var index= parseInt(data.data.total_pages)-1
                            window.setTimeout(function() {
                                $(".a_page_nav:eq(" +  index  +")").trigger('click');
                            }, 1000);
                        }else{
                            // if item on the current page get to zero
                            // point to page-1
                            var total = $('#project_div').children().length
                            if (total == 0){
                                //refresh the current pages
                                var index= parseInt(data.data.deleted_page)-1
                                if (index<1){
                                    // if deleteting first page  then scroll all into first page
                                    index=1
                                } 
                                loadPageAjax(index)
                            }

                        }
                       
                    });
                    // if deleting page one and there are more pages behind.... push al those pages
                  
                },
                error: function (exception) {
                    alert('Exeption:' + exception);
                }
            });
        });
          
          //------LOAD THE FORM ON MODAL DIV----------
          $('body').on('click', '.show-form-update', function(){
              var btn = $(this);// fix button  delay
              $.ajax({
              url: btn.attr("data-url"),
              type: 'get',
              dataType:'json',
              beforeSend: function(){
                  $('#modal-usermodel').modal('show');
              },
              success: function(data){
                  $('#modal-usermodel .modal-content').html(data.html_form);
              }
              });
          })
          //EDIT  MODEL
          
          $('body').on("click",".close-modal",function(e){
              e.stopPropagation()
            //   Was giving error. Could not close modal forma after clkick x or Close button
            //  2 hours to solve. eish!! 27 March 2022 from 1000hrs-1215hrs
            // Glory be to Jesus
            //   console.log('Click  close modal class')
              $('#modal-usermodel').modal('hide');
              //$('.close-modal').click()

          })
          
          function updateTable(item){
            //after edit update the table
            const ref="#div-" + item.id + " .project-content"
            $(ref).children().each(function() {
                //console.log(this)
                var attr = $(this).attr("name");
                if (attr == "link") {
                    $(this).find('a').text(truncChar(item.name,15));
                    $(this).find('p').text(item.currency);
                    
                } else if (attr == "description") {
                    
                    $(this).text(item.description);
                } else if (attr == "design") {
                    //loop within
                    $(this).children().each(function() {
                        //First items
                        var attr = $(this).attr("name");
                        if (attr == "simulation_run") {
                            if (item.simulation_run) {
                                simulation_checked='<i class="bi bi-check-circle"></i>'
                            }else{
                                simulation_checked=' <i class="bi-square"></i>'
                            }
                            html_a= `<div class="modelModelType modelData" name="simulation_run">
                                    Simulations ${simulation_checked} </div>`;
                            $(this).html(html_a);
                        }                       
                    })
                } else if (attr == "iterations") {
                     //loop within
                     $(this).children().each(function() {
                        //First item
                        var attr = $(this).attr("name");
                        if (attr == "simulation_iterations") {
                            $(this).text("Iterations :" + item.simulation_iterations);
                        }
                       //Second item
                        if (attr == "npv_bin_size") {
                            $(this).text("Bin :" + item.npv_bin_size);
                        }
                        
                       
                    })
                }          
                
            });
        }
          $('body').on("submit",".model-form-edit",function(e){
              e.preventDefault();
              var data = new FormData(this);
              var formData
              var form = $(this);
            
              var url=form.attr('data-url')
              $.ajax({
                  url: form.attr('data-url'),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(data){
                      if(data.model){
                          //console.log('updating')
                          updateTable(data.model);
                          //hide the form after editing
                          $('#modal-usermodel').modal('hide');
                          $('.close-modal').click()
                      } else {
                          $('.public_toggle_form-errors').html('');
                          if (data.error) {
                              var form_vars=['__all__','name','description', 
                                             'model_type', 'currency', 'simulation_iterations', 
                                              'simulation_run', 'npv_bin_size']//,
                      
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data.error[name_var]){
                                  a_html = 	`<div class='alert alert-danger alert dismissable'>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                  </div> ` ;
                                  $('.public_toggle_form-errors').append(a_html)
                                  
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                              }, 4000);
                          //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();                           

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
          
          //ADD MODEL FORM
          $('body').on("submit",".model-form-add",function(e){
            e.preventDefault();            
            var data = new FormData(this);
            var formData
            var form = $(this);
        
            $.ajax({
                url: form.attr('data-url'),
                //data: form.serialize(),
                data : data,
                type: form.attr('method'),
                dataType: 'json',
                processData:false,
                contentType: false,
                success: function(data){ 
                    //console.log('added data' ,data.model)
                    if(data.model){
                        $('.close-modal').click()
                        //load page 1
                        loadPageAjax(1)
                        //click first instance of page_class to show newly addition
                     
                        //----------------------------------
                    } else {
                        // ADDITION NOT SUCCESSFUL
                        $('.public_toggle_form-errors').html('');
                        if (data['error']) {
                            var form_vars=['__all__','name','description','model_type', 'currency','user']
                            for (let p=0; p < form_vars.length; p++ ){
                                let name_var = form_vars[p]
                                if (data['error'][name_var]){
                                    a_html = 	`<div class='alert alert-danger alert dismissable'>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                    </div> ` ;
                                    $('.public_toggle_form-errors').append(a_html)
                                }
                            }
                            $('.public_toggle_form-errors').slideUp(50).fadeIn();
                            window.setTimeout(function() {
                                $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                    $(".public_toggle_form-errors").html('');
                                });
                                }, 4000);
                            //-----------------------
                        } else  {
                            // Data locked:  No edit allowed
                            $('.public_toggle_form-errors').html('');
                            a_html = 	`<div class='alert alert-danger alert dismissable'>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>${data['locked']}
                            </div> ` ;
                            $('.public_toggle_form-errors').append(a_html)
                            $('.public_toggle_form-errors').slideUp(50).fadeIn();

                            window.setTimeout(function() {
                                $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                    $(".public_toggle_form-errors").html('');
                                });
                                }, 4000);

                        } 
                    //LAST ELSE--------------------------------------                
                    }
                //END SUCCESS
                }
            // END AJAX
            })
            return false;
        })
          

       </script>


  {% endblock %}


{% block content_custom_menu_navbar %}
<!-- ======= Header ======= -->
{% include 'investments_appraisal/mentor/sections/section_nav_search.html' %}

{% endblock %}
