
{% extends 'investments_appraisal/mentor/index.html' %}<!--investments_appraisal/main.html---->
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
   <title>Project Details</title>
{% endblock %}


{% block stylesheets %}
 
{% endblock %}

{% block content_header %}
   
{% endblock %}


{% block content %}

 
<main id="main">
   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs" data-aos="fade-in">
   </div>
   <!-- End Breadcrumbs -->
   <div class='container box-element'>
        <!-- ======= Project Details Section ======= -->
        {% include 'investments_appraisal/mentor/sections/section_project_details.html' %} 
        <!-- Each project write it own DATA -->
        {% if model.uniqueid %}   
            <!-- ======= Project Details Tabs Section ======= -->
          {% with template_tab_name=model.uniqueid|stringformat:"s"|add:"app/mentor/sections/section_project_details_tab.html" %}
            {% include template_tab_name %}
          {% endwith %}
        {% endif %}
   </div>
  
</main><!-- End #main -->


{%endblock content%}



 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% block scripts %}
  <script>
    $(document).ready(function (){ 
      // $("#index").removeClass( "active")
      $("#projects a").addClass( "active") 
      console.log('added projects active')             
    })
    </script>
  {% endblock %}

 
