<div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
        {% include 'investments_appraisal/display/timing0.html' %}
    </div>
    <div class="accordion-item">
        {% include 'investments_appraisal/display/prices0.html' %} 
    </div>
    <div class="accordion-item">
        <!-- Model Financing -->
      {% include 'investments_appraisal/display/financing0.html' %} 
  </div>
  <div class="accordion-item">
       <!-- Model Depreciation --> 
       {% include 'investments_appraisal/display/depreciation0.html' %} 
   </div>
    <div class="accordion-item">
        <!-- Model Taxes -->
        {% include 'investments_appraisal/display/taxes0.html' %} 
    </div>
    <div class="accordion-item">
        <!-- Model Working Capital -->
        {% include 'investments_appraisal/display/working_capital0.html' %}
    </div>
    <div class="accordion-item">
        <!-- Model Macro Economic Parameters -->                    
        {% include 'investments_appraisal/display/macro_economic_parameters0.html' %}
    </div>
    <div class="accordion-item">
        <!-- Model TankDesignParameters -->
        {% include 'fishapp/bus_options/tank_design0.html' %}
    </div>
  </div>

 