/* h2 {
    text-align:center
}
.container {
    display:flex;
} */

.myform .shopaddress{
    width:50%;
    text-align: center;
    background-color: beige;
    padding-bottom: 10px;

}
input {
    width: 70%;
    font-size:20px;

}

button {
    background-color: green;
    width: 200px;
    color: white;
    font-size: 20px;
    transition: ease 0.5s;
    /* margin-left: 100px; */
    margin-left: 15%;
    
}
button:hover {
    background-color: greenyellow;
    color:black
}

.results {
    font-size: 20px;
    background-color: beige;
    cursor: pointer;
    margin: 5px;
    width: 80%;
    margin-left: 15%
}
.results:hover {
    background-color: black;
    color: white;
   
}
.map{
    width: 80%;
    height: 300px;
    margin-left: 15%;
    margin-top: 20px;
}