
{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
   <title>Financial Model Details</title>
{% endblock %}


{% block stylesheets %}
 
{% endblock %}

{% block content_header %}
   
{% endblock %}


{% block content %}

 
<main id="main">
   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs">
   
  </div><!-- End Breadcrumbs -->

  
  <!-- ======= Project Details Tabs Section ======= -->
  {% include 'beefapp/mentor/sections/section_model_details_tab.html' %}

  
</main><!-- End #main -->


{%endblock content%}

{% block modal_divs %}
    <!-- EDIT DISPLAY HOLDER -->
    <div class="modal fade" id="modal-usermodel">
        <div id='dynamic-div' class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div> 
    <!-- <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div> -->
{% endblock %} 



 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% block scripts %}
  <script>
    $(document).ready(function (){ 
      // $("#index").removeClass( "active")
      $("#models a").addClass( "active") 
     /*  if it has this class do somthing....
      $ ("#models a").hasClass( "active").css("","")*/ 
    
        $(document).on('shown.bs.modal','.modal',function(e){
            //var form_id= $(this).find('form').attr('id')
            var form_para= $(this).find('form')
            var modal_wide= form_para.hasClass('modal-wide')
            if(modal_wide){
                //console.log('modal_wide',modal_wide)
                $('#dynamic-div').addClass('modal-lg')
            }else{
                //console.log('modal_wide',modal_wide)
                $('#dynamic-div').removeClass('modal-lg') 
            }
        })

    })



    </script>
    <style>
        .progressBar {
            width: 100%;
        }
        .bar {
            height: 5px;
            background-color: #bada55;
            width: 0;
            max-width: 100%;
            transition: width 0.2s cubic-bezier(1, 0.64, 0, 1.26)
        }
        /* Dont show download until verified */
        #run_simu {
            display: none;
        }

        #progress_iter{
            display: 'block';
        }
      
    </style>
    
    <script>
        var check_url_ajax= "{% url 'check_model_beef' usermodel.id %}" 
        var usermodel= "{{ usermodel }}"
        var modeltype= "{{ usermodel.model_type }}"
        //console.log('modeltype.........', modeltype)
    </script>
    <script src="{% static 'basic_ui/js/input-range.js' %}"></script>  
    <script src="{% static 'basic_ui/js/user_interface.js' %}"></script>
    <script src="{% static 'basic_ui/js/feedlot.js' %}"></script>

    <script>
         //------LOAD THE FORM ON MODAL DIV----------
         $('body').on('click', '.show-form-update', function(){
              var btn = $(this);// fix button  delay
              $.ajax({
              url: btn.attr("data-url"),
              type: 'get',
              dataType:'json',
              beforeSend: function(){
                   // console.log('url...', btn.attr("data-url"))
                    var form_para= $(this)
                    tittle=btn.attr('title')
                    //var modal_wide= btn.hasClass('modal-wide')
                    if(tittle == 'Edit Model'){
                        //console.log('modal_wide',tittle)
                        $('#dynamic-div').addClass('modal-lg')
                    }else{
                        //console.log('modal_wide',tittle)
                        $('#dynamic-div').removeClass('modal-lg') 
                    }
                    $('#modal-usermodel').modal('show');
              },
              success: function(data){
                  $('#modal-usermodel .modal-content').html(data.html_form);
              }
              });
          })
        function truncChar(str,length){
            var myTruncatedString = str.substring(0,length-1);              
            if (str.length > myTruncatedString.length){
            return myTruncatedString + "..."
            }
            return myTruncatedString
        }  
        function sweep (data){
            if (data.simulation_run == true) {
                $('.simulation').css("display", "block");                
            }else {
                $('.simulation').css("display", "none");
            }
        }
        function update_header_olist(data){ 
           if (data.simulation_iterations){
                $('#simulation-iterations').html(`${data.simulation_iterations}`)
           }
           
           if (data.name){
                $('#model_name').text(`${truncChar(data.name,15)}`)
           }
        }

           //EDIT NEW MODEL
        $('body').on("submit",".model-form-edit",function(e){
            // ALL EDITS PASS THRU THIS METHOD: TA, WC,FLD,MEP,DEP, FIN etc
            e.preventDefault();
            var data = new FormData(this);
            var formData
            var form = $(this);
            //console.log('beef...before editing')
            var url=form.attr('data-url')
            $.ajax({
                url: form.attr('data-url'),
                data : data,
                type: form.attr('method'),
                dataType: 'json',
                processData:false,
                contentType: false,
                success: function(data){
                    //console.log('url....>>>>', url)
                    //console.log('data.model', data.model)
                    //console.log(modeltype , data.model.model_type)
                    if (modeltype != data.model.model_type & data.model.model_type != undefined){
                        //console.log('DIFFERENT')
                        window.location = "{% url 'select_model_mentor' usermodel.id %}"
                    }
                   
                    if(data.model){
                        //console.log(form.attr('data-url'),)
                        //console.log('updating', data.model)
                        update_header_olist(data.model);
                        sweep(data.model)
                        checkReadyModel(); 
                        //hide the form after editing
                        $('#modal-usermodel').modal('hide');
                        $('.close-modal').click() 
                    } else {
                        $('#public_toggle_form-errors').html('');
                        if (data.error) {
                            
                            var form_vars=['__all__','name','model_type', 'currency', 'simulation_iterations',  'simulation_run', 'npv_bin_size']//,
                    
                            for (let p=0; p < form_vars.length; p++ ){
                                let name_var = form_vars[p]
                                if (data.error[name_var]){
                                a_html = 	`<div class='alert alert-danger alert dismissable'>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                </div> ` ;
                                $('#public_toggle_form-errors').append(a_html)
                                
                                }
                            }
                            $('#public_toggle_form-errors').slideUp(50).fadeIn();
                            window.setTimeout(function() {
                                $("#public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                    $("#public_toggle_form-errors").html('');
                                });
                            }, 4000);
                        //-----------------------
                        } else  {
                            // Data locked:  No edit allowed
                            $('#public_toggle_form-errors').html('');
                            a_html = 	`<div class='alert alert-danger alert dismissable'>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>${data['locked']}
                            </div> ` ;
                            $('#public_toggle_form-errors').append(a_html)
                            $('#public_toggle_form-errors').slideUp(50).fadeIn();                           

                            window.setTimeout(function() {
                                $("#public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                    $("#public_toggle_form-errors").html('');
                                });
                                }, 4000);
                        } 
                    //LAST ELSE--------------------------------------                
                    }
                //END SUCCESS
                }
            // END AJAX
            })
            return false;
        })
    </script>


{% endblock %}



