{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% load comment_tags %}

{% block page_title %}
    <title id="blog-title">View Topic: {{ object.title }}</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content_header %}   
{% endblock %}


{% block content %} 
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
        </div>
        <!-- End Breadcrumbs -->
        <!---Removed padding from 70px-- 0px-->
        <section style= 'padding: 5px 0;' id="projects" class="projects">  
            <div class="container   box-element" data-aos="fade-up">
            <!-- ======= Breadcrumbs ======= -->
                <div class="row">
                    <ol class="breadcrumb" >
                        <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
                       
                        <li class="breadcrumb-item" ><a href="{% url 'fin_user_models' %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom" title='Financial Models'><i class="fas fa-chart-line"></i></a></li>
                        
                         
                        {% if is_user_record_owner %}
                            <li class="breadcrumb-item" ><a href="{% url 'edit-investment' investment_id %}" class ="badge rounded-pill bg-success" 
                                data-toggle="tooltip" data-placement="bottom" title='Manage Business'><i class="fas fa-wrench"></i></a></li>
                        {% else %}
                            <li class="breadcrumb-item" ><a href="{% url 'investment-details' investment_id %}" class ="badge rounded-pill bg-success" 
                                data-toggle="tooltip" data-placement="bottom" title='View Investment'><i class="fas fa-shekel-sign"></i></a></li>
                   
                      
                        {% endif %}           
                        <li class="breadcrumb-item"><a href="{% url 'investment-blogs' investment_id %}" class ="badge rounded-pill bg-success">{% trans 'Blogs' %}</a></li>
                        
                        <li class="breadcrumb-item"><a href="{% url 'blog-create' investment_id%}" class ="badge rounded-pill bg-success">{% trans 'New Post' %}</a></li>
  
                        <li id='li_current_status' class="breadcrumb-item" style="display:none ;">
                            <a id='current_status' href="{% url 'user_investments' %}"
                                data-toggle="tooltip" data-placement="bottom" 
                                title='Remove Status' class ="badge rounded-pill bg-success"><i>[{{status}}]</i> <span aria-hidden="true">×</span>
                            </a> 
                        </li>
                    </ol>      
                </div>       
                
               
                <h5>{{investment.description |truncatechars:50}} valued at  <b>${{investment.total_value |intcomma}}</b></h5>
                <hr>
                <article class="media content-section">
                    <img class="rounded-circle article-img"  src="{{ object.author.profile.image.url }}" />
                    <div class="media-body">
                        <div class="article-matadata">
                            <a class="mr-2" href="{% url 'user-blogs' investment_id object.author.username %}"
                            data-toggle="tooltip" data-placement="bottom"  title='View posts by {{object.author}}'>{{ object.author }}</a>
                            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                            {% if object.author == user %}
                                <div>
                                    
                                        <a  class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-update' object.id  %}"
                                            data-toggle="tooltip" data-placement="bottom"  title='Click To Begin Update' ><i class="fas fa-edit"></i>
                                        </a>
                                    
                                                               
                                        <a  class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-delete' object.id %}"
                                            data-toggle="tooltip"  data-placement="bottom"  title='Click To Delete' ><i class="fas fa-trash"></i>
                                        </a>
                                </div>
                            {% endif %}
                        </div>
                        <h5 class="article-title" > {{ object.title }}</h5>
                        <p class="article-content">{{ object.content }}</p>

                        {% render_comments object request %} 
                        <!-- {% include_bootstrap %} -->
                    </div>
                </article>

            </div>
        </section><!-- End User Section -->
</main><!-- End #main -->
{%endblock%}