
{% extends 'store/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load tags %}
{% load humanize %}
{% load account %}

{% block content_custom_menu_navbar %}


<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'New' %}</a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'locomotive_new' %}">{% trans 'New Locomotive' %}</a>
          </li>
         
          
        </ul>
    </li>
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="hidden-xs">{% user_display user %}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header" id="navbar-user">
            <p>
            {% if request.user.first_name %}
            {{ request.user.first_name }} {{ request.user.last_name }}
            {% else %}
            {% user_display user %}
            {% endif %}
            </p>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <a href="{% url 'profile' %}" class="btn btn-default btn-flat">{% trans 'Profile' %}</a>
            </div>
            <div class="pull-right">
              <a href="{% url 'account_logout' %}" class="btn btn-default btn-flat">{% trans 'Sign out' %}</a>
            </div>
          </li>
        </ul>
    </li>
</ul>
     
{% endblock %}


{% block content_sidebar %}

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">{% trans 'LOCOMOTIVES NAVIGATION' %}</li>
            <li {% if menu == "home" %}class="active"{% endif %}>
              <a href="#">
                <i class="fa fa-home"></i> <span>{% trans 'Dashboard' %}</span>
              </a>
            </li>
  
           
          
            <li class="treeview{% if menu == "settings" %} active{% endif %}">
              <a href="#">
                  <i class="fa fa-tasks"></i>
                  <span>{% trans 'Data Entry ' %}</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">
                
                    <li>
                      <a href="#"><i class="fa fa-upload fa-fw"></i>{% trans 'New Locomotive' %}</a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-upload fa-fw"></i>{% trans 'New Locomotive Service' %}</a>
                    </li>
                    
                    <li>
                      <a href="#"><i class="fa fa-upload fa-fw"></i>{% trans 'New Locomotive Service Plan' %}</a>
                    </li>

                    <li>
                      <a href="#"><i class="fa fa-upload fa-fw"></i>{% trans 'New Locomotive Class' %}</a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-upload fa-fw"></i>{% trans 'New Locomotive Failure' %}</a>
                    </li> 
              </ul>
            </li>
            <li class="treeview{% if menu == "settings" %} active{% endif %}">
              <a href="#">
                  <i class="fa fa-repeat"></i>
                  <span>{% trans 'Approvals ' %}</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
              </a>
              <ul class="treeview-menu">

                    {% if not_approved_locos > 0 %}
                    <li{% if menu == "recurrences" %} class="active"{% endif %}>
                      <a href="{% url 'loco_failures_not_approved' %}"><i class="fa fa-repeat"></i>
                        <span>{% trans 'Loco Failures' %} {{ not_approved_locos }}</span>
                      </a>
                    </li>
                    {% endif %}
                   
              </ul>
            </li>
            <li class="treeview{% if menu == "settings" %} active{% endif %}">
                <a href="#">
                    <i class="fa fa-binoculars"></i>
                    <span>{% trans 'Analytics &amp; Reports' %}</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                  
                   

                      <li>
                        <a href="{% url 'heatmap_avail' %}"><i class="fa fa-upload fa-fw"></i>{% trans 'Heat Map Avail' %}</a>
                      </li>
                      <li>
                        <a href="{% url 'heatmap_avail_by_class' %}"><i class="fa fa-upload fa-fw"></i>{% trans 'Heat Map Avail By Class' %}</a>
                      </li>
                    
                      <li>
                        <a href="{% url 'loco_rul' %}"><i class="fa fa-upload fa-fw"></i>{% trans 'Loco RUL' %}</a>
                      </li>
                      
                      <li>
                        <a href="{% url 'locomotives_symptoms' %}"><i class="fa fa-upload fa-fw"></i>{% trans 'Loco Fault Diagnosis' %}</a>
                      </li>
                </ul>
            </li>
    
    
        </ul>
   <!--  </li>
</ul> -->
{% endblock %}
