{% load i18n %}
{% load static %}
{% load tags %}

{% load widget_tweaks %}
{% load humanize %}
<section style= 'padding: 5px 0;' id="project-details" class="project-details">

  <div class="container" data-aos="fade-up">
      
     <!-- ======= Breadcrumbs ======= -->
    <div class="row">
        <ol class="breadcrumb" >
            <li class="breadcrumb-item"><a href="{% url 'index' %}" class ="badge rounded-pill bg-success">Home</a></li>
            <li class="breadcrumb-item" ><a href="{% url 'view-investors' investment.id %}" class ="badge rounded-pill bg-success" >{% trans 'Back to Investors' %}</a></li>
          
            <li class="breadcrumb-item" >
              <label id="total_projects_searched"></label>
            </li>  
        </ol>
    </div>
    <!-- <div class="flash-message">
        {% for message in messages %}
        <div class="alert alert-dismissable">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
        {% endfor %}
    </div> -->
   
    {% for message in messages %}
    <div class="flash-message">
      <div class="alert-{{ message.tags }} alert dismissable">         
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
          {{ message }}
      </div>
    </div>
    {% endfor %}



    <div class="row">
      <div class="col-lg-12">
          <!-- Summary -->
        <h3>Interprenuer perspective</h3>
        <p>
         {{investment.description}}</br>
          investment value of ${{investment.total_value|intcomma}}
        </p>    
        <h3>Keywords:</h3>
        <p>
          {{model.name}}
        </p>
        
        <!-- Summary -->
        <h3>Investor Summary:</h3>
        <p>
          My total pledge is $<i><b>{{model.value | intcomma}}</b></i> </br>
          {{model.description}}
        </p>

        <!-- Details -->
        <h3>Investor Details</h3>
        <p>
          {% if model.user.last_name %}
            My name is <b>{{model.user.get_full_name}}.</b>
          {% endif %} 
          {% if model.user.email  %}
            My email is <b>{{model.user.email}}.</b>
          {% endif %} 
          {% if userprofile.profession  %}
              My profession is <b>{{userprofile.profession}}.</b> 
          {% endif %} 
          {% if userprofile.country  %}
              and I am from   <b>{{userprofile.country}}.</b></br>
          {% endif %} 
          
        </p>
        <p>
          <i>{{userprofile.aboutyou}}</i>
       
        </p>
          <!-- Details -->
          <h3>Invite Investor</h3>
         <p>
            <div class="col-lg-12 mt-5 mt-lg-0">
              <form  enctype="multipart/form-data" method="POST" class="form-horizontal investor-status-update" data-url="{% url 'update_investorStatus_ajax' model.id  %}">
                <div class="box-body">
                      {% csrf_token %}
      
                    <div class="form-group {% if form.application_status.errors%} has-error{% endif%}">
                        <label class="col-sm-2 control-label" for="{{ form.application_status.id_for_label }}">{{ form.application_status.label }}</label>
                        <div class="col-sm-4  {% if form.application_status.errors %} has-error{% endif %}">
                            {{ form.application_status|add_class:"form-control" }}
                            {% for error in form.application_status.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                       
                    </div>
              </div>
            </br>
              <div class="box-footer">
                  <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary investor-status-update">{% trans 'Update' %}</button>
      
                  </div>
              </div>
      
              <div class="form-error2 public_toggle_form-errors form-group" style='display:none'>
              </div>
          </form>
             
      
            </div>
        </p>
        
       

        <div class="text-center">
          <a href="{% url 'view-investors' investment.id %}" class="more-btn">Back<i class="bx bx-chevron-right"></i></a>
        </div>
      </div>
    
    </div>

  </div>
</section><!-- End Investor Details Section -->


