{% load static %}
<section id="cource-details-tabs" class="cource-details-tabs">
  <div class="container" data-aos="fade-up">

    
    
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Business Logic
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">                 
                  <strong>Business Strategy</strong>
                  <code> Strategy</code>
                  <p id="model-strategy">
                    {{model.details.strategy}}
                    
                    {% if model.details.strategy and is_user_record_owner %}
                      </br>
                      <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Edit Business Logic'
                      data-target="#modal_add_investment_strategy"> <i class="fas fa-edit"></i></a>

                    {% elif is_user_record_owner %}
                      <!-- Add For First Time -->
                      <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Add Business Logic'
                      data-target="#modal_add_investment_strategy"> <i class="fas fa-plus"></i></a>
                    
                    {% endif%}
                  </p>
            </div>
          </div>
      </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Investment Summary
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <strong>Summary</strong>
              <code> Investment</code>
              <p id="model-summary">
                  {{model.details.summary}}
                
                  {% if model.details.summary and is_user_record_owner %}
                      </br>
                      <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Edit Business Summary'
                      data-target="#modal_add_investment_summary"> <i class="fas fa-edit"></i></a>
                      
                  {% elif is_user_record_owner %}
                      <!-- Add For First Time -->
                      <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Add Business Summary'
                      data-target="#modal_add_investment_summary"> <i class="fas fa-plus"></i></a>
                  {% endif%}
              </p>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ROI
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
             
              <strong>The profit margin</strong>
              <code> ROI</code>
              
              <p id="model-roi">
                {{model.details.roi}}
              
                {% if model.details.roi and is_user_record_owner %}
                    </br>
                    <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Edit ROI'
                    data-target="#modal_add_investment_roi"> <i class="fas fa-edit"></i></a>
                    
                {% elif is_user_record_owner %}
                    <!-- Add For First Time -->
                    <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Add ROI'
                    data-target="#modal_add_investment_roi"> <i class="fas fa-plus"></i></a>
                    
                {% endif%}
              </p>
          
          
          </div>
        </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Shareholding Strategy
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Shareholding</strong>
            <code> Strategy</code>
            <p id="model-shareholding">
                {{model.details.shareholding}}
              
                {% if model.details.shareholding and is_user_record_owner %}
                </br>
                <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Edit Shareholding'
                data-target="#modal_add_investment_shareholding"> <i class="fas fa-edit"></i></a>
                {% elif is_user_record_owner %}
                  <!-- Add For First Time -->
                  <a href="#" class="" data-toggle="modal" data-placement="bottom" title='Add Shareholding'
                  data-target="#modal_add_investment_shareholding"> <i class="fas fa-plus"></i></a>
                {% endif%}

            </p>
        </div>
      </div>
  </div>
  </div>
    
  
  </div>
</section><!-- End Cource Details Tabs Section -->
{% include 'trading/forms/investment_summary.html' %}
{% include 'trading/forms/investment_strategy.html' %}
{% include 'trading/forms/investment_roi.html' %}
{% include 'trading/forms/investment_shareholding.html' %}