{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
<section style= 'padding: 5px 0;' id="project-details" class="project-details">
  <div class="container" data-aos="fade-up">
     <!-- ======= Breadcrumbs ======= -->
     <div class="row">
      <ol class="breadcrumb" >
        <li class="breadcrumb-item"><a href="{% url 'index' %}" class ="badge rounded-pill bg-success">Home</a></li>
        <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success">{% trans 'Investments' %}</a></li>
     
        <li class="breadcrumb-item" ><a href="{% url 'user_businesses' %}" class ="badge rounded-pill bg-success">{% trans 'My Businesses' %}</a></li>
       
        <li class="breadcrumb-item" >
            <!-- EDIT MODEL -->
            <a class="model-edit show-form-update badge rounded-pill bg-success" href="#" data-url="{% url 'update_investment_ajax' model.id %}" 
              data-target="#modal-edit-product-div" data-toggle="tooltip" data-placement="bottom" 
              title='Edit Data'><i  class="fas fa-edit"></i>
            </a>
            <label id="total_projects_searched">Edit My Business</label>
        </li> 
      </ol>
    </div>

    <div class="row">
      <div class="col-lg-8">     
          <img src ="{% static 'mentor/assets/img/projects/'|add:model.category.uniqueid|add:'.jpg' %}" class="img-fluid"alt="">
          <h3 id="header_text">{{model.name|truncatechars:25}} valued @ ${{model.total_value| intcomma}} </h3>
          <p>
            {{model.description|truncatechars:200}}
          </p>
          
          <div class="row">
            <div class="col-lg-8">
                Tags:
                {% for tag in model.tags.all %}
                    <a href="#" class="badge rounded-pill bg-light text-dark">{{tag.name}}</a>
                {% endfor %}
            </div>

            <div class="col-lg-2">
                Views: {{model.views}}
            </div>

            <div class="col-lg-2">
              Public {% if model.public %}<i style='color:blue;' class="bi bi-check-circle"></i>
              {% else %} <i class="bi-square"></i>{% endif %}
            </div>
          </div>       
      </div>
      <div class="col-lg-4">

        <div class="project-info d-flex justify-content-between align-items-center">
          <h5>Owner</h5>
          <p><a href="#">{{model.creater}}</a></p>
        </div>

        <div class="project-info d-flex justify-content-between align-items-center">
          <h5>Sector</h5>
          <p>{{model.category}}</p>
        </div>

        <div class="project-info d-flex justify-content-between align-items-center">
          <h5>
            <a href="{% url 'view-investors' model.id %}"
                  style="color:lightblue" data-toggle="tooltip" data-placement="bottom" 
                  title='View Investors List'>Investors #
              </a>
          </h5>
          <p id="investors_count">{{model.investors_count}}</p>
        </div>

        <div class="project-info d-flex justify-content-between align-items-center">
          <h5>Current Investment</h5>
          <p id="current_investment_value">${{model.current_investment|intcomma}} of ${{model.total_value|  floatformat:-1 | intcomma}}</p>
        </div>

        <div class="project-info d-flex justify-content-between align-items-center">
          {% if is_user_investor%}
                
              <a id="breadcrumb_changeto_edit" class="model-edit show-form-update" href="#" data-url="{% url 'update_investor' investor_id %}" 
              data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                {% if is_user_record_owner %} title='Edit Equity'{% else %} title='Edit Investment Pledge'{% endif %}><h5>of which My Stake <i  style="color:green"  class="fas fa-edit"></i></h5>
            </a>     
          {%else %}
                <a id="breadcrumb_changeto_edit" href="#" style="color:inherit" data-toggle="modal" data-placement="bottom" data-target="#modal_add_new_investor"
                {% if is_user_record_owner %} title='Add New Equity' {% else %} title='Add New Investment' {% endif %}><h5>of which My Stake <i style="color:red"  class="fas fa-plus"></i></h5>
                </a>
          {% endif%}

          <p id="user_stake">{% UserIsInvestorStake model request.user %} %</p>
        </div>
        
        <div class="project-info d-flex justify-content-between align-items-center">
          <h5>As Percentage</h5>
          <p id="current_investment">{{model.current_investment_percent | floatformat:-1 | intcomma}} %</p>
        </div>
        

      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->
