{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
<section style= 'padding: 5px 0;' id="project-details" class="project-details">
  <div class="container" data-aos="fade-up">

  
     <!-- ======= Breadcrumbs ======= -->
     <div class="row">
      <ol class="breadcrumb" >
          <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
             data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
    
          <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success" 
            data-toggle="tooltip" data-placement="bottom" title='Explore Investments'><i class="fas fa-balance-scale"></i></a></li>
    
          <li class="breadcrumb-item" ><a href="{% url 'user_investments' %}" class ="badge rounded-pill bg-success" 
            data-toggle="tooltip" data-placement="bottom" title='Personal Investments'><i class="fas fa-dollar-sign"></i></a></li>
      
        
       
        {% if is_user_record_owner %}
        <li  class="breadcrumb-item">
          <a href="{% url 'edit-investment' model.id %}" data-toggle="tooltip" data-placement="bottom"  title='Manage Business'><i  class="fas fa-wrench"></i>
          </a>
         
        </li> 
        {% endif%}

        <li {% userInvestorEngagedMethod model request.user %} class="breadcrumb-item my_blogs_li" style="display:none">
          <a href="{% url 'investment-blogs' model.id %}" class ="badge rounded-pill bg-success iconClass-primary"
              data-toggle="tooltip" data-placement="bottom" 
              title='Business Forum [{{ model.blogs_count}}]'><i class="fas fa-comment-alt"></i>
              {% if model.blogs_count != 0 %} 
              <span class="counter counter-lg" style="color: red;top:-2px;">{{model.blogs_count}}</span> {% endif %}
          </a>
        </li>

       


        <li class="breadcrumb-item" >
          <label id="total_projects_searched"></label>
        </li>

      </ol>
    </div>

    <div class="row">
      <div class="col-lg-8">     
          <img src ="{% static 'mentor/assets/img/projects/'|add:model.category.uniqueid|add:'.jpg' %}" class="img-fluid"alt="">
          <h3>{{model.name|truncatechars:25}} valued @ ${{model.total_value| intcomma}} </h3>
          <p>
              {{model.description|truncatechars:200}}
          </p>
          
          <div class="row">
              <div class="col-lg-8">
                  Tags:
                  {% for tag in model.tags.all %}
                      <a href="{% url 'investment_load_tags' tag.id %}" class="badge rounded-pill bg-warning text-dark">{{tag.name}}</a>
                  {% endfor %}
              </div>

              <div class="col-lg-2">
                  Views: {{model.views}}
              </div>

              <div class="col-lg-2">
                  Likes:
                  <a class="model-likes" href="#" data-url="{% url 'update_investment_likes' model.id %}" 
                    style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                    title='Like'><i class="bx bx-heart"></i>&nbsp;{{model.likes}}
                  </a>
              </div>
          </div>
          
          
         
      </div>
      <div class="col-lg-4">

        <!-- <div class="project-info d-flex justify-content-between align-items-center">
          <h5>Creater</h5>
          <p><a href="#">{{model.creater}}</a></p>
        </div> -->

        <div class="project-info d-flex justify-content-between align-items-center">
          <h5>Sector</h5>
          <p>{{model.category}}</p>
        </div>

        

        <div class="project-info d-flex justify-content-between align-items-center">
          <h5>Current Investment</h5>
          <p id="current_investment">{{model.current_investment_percent | floatformat:-1 | intcomma}} %</p>
        </div>

        <div class="project-info d-flex justify-content-between align-items-center">
       
          {% if is_user_investor%}
            
              <a  {%  userInvestorRejectedMethod model request.user %} id="breadcrumb_changeto_edit" class="investment-rejected model-edit show-form-update" href="#" data-url="{% url 'update_investor' investor_id %}" 
              data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                {% if is_user_record_owner %} title='Edit Equity'{% else %} title='Edit Investment Pledge'{% endif %}><h5>of which My Stake <i  style="color:green"  class="fas fa-edit"></i></h5>
             </a> 
               <!-- {{investor_id}} -->
              <a  {%  userInvestorRejectedMethod model request.user %} id="delete_cancel_investment" class="investment-rejected" href="#"  data-toggle="modal" data-target="#confirmdelete" 
                data-object-name="{{ model.name }}"  data-item-id="{{model.id}}" 
                data-delete-url="{% url 'delete_investor_ajax' investor_id  1 %}" data-invest-value ="{% userInvestorValueMethod model request.user %}" style="color: red" data-toggle="tooltip" data-placement="bottom" 
                title='Cancel Investment Application' > <i class="fas fa-cut"></i> 
            </a>   
          {%else %}
                <a id="breadcrumb_changeto_edit" href="#" style="color:inherit" data-toggle="modal" data-placement="bottom" data-target="#modal_add_new_investor"
                {% if is_user_record_owner %} title='Add New Equity' {% else %} title='Add New Investment' {% endif %}><h5>of which My Stake <i style="color:red"  class="fas fa-plus"></i></h5>
                </a>
          {% endif%}
         






          <p id="user_stake">{% UserIsInvestorStake model request.user %} %</p>
        </div>


        <div class="project-info d-flex justify-content-between align-items-center">            
            <h5>Investor?</h5>
            <p id="user_investor"> {% UserIsInvestorStatement model request.user %}</p>
        </div>

        <div class="project-info d-flex justify-content-between align-items-center">            
          <h5 id="closing_date_header" 
           {% if model.closed_status %} style="color:red" {%else%} style="color:green"{%endif%}>
            {% if model.closed_status %} Closed on {%else%} Closing Date{%endif%}
          </h5>
       
          <p id="closing_date"> {{ model.closing_date }}</p>
      </div>
        
          

      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->
