{% load i18n %}
{% load static %}
{% load tags_extras %}
{% load humanize %}


<!---Removed padding from 70px-- 0px-->
<section style= 'padding: 5px 0;' id="projects" class="projects">
  <div class="container box-element" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
      
            <div class="row">
                <ol class="breadcrumb" >
                  <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                    data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
              
                  <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success" 
                    data-toggle="tooltip" data-placement="bottom" title='Explore Investments'><i class="fas fa-balance-scale"></i></a></li>
                 
                  {%if search_tags %}
                  <li class="breadcrumb-item" >
                  
                      <a href="{% url 'trading_home' %}"
                        data-toggle="tooltip" data-placement="bottom" 
                        title='Remove Tag' class ="badge rounded-pill bg-success"><i>[{{tag_name}}]</i> <span aria-hidden="true">×</span>
                    </a>             
                  
                  </li>
                {% endif %}
                <li class="breadcrumb-item" >
                  <label id="total_projects_searched"></label>
                </li>
                </ol>
              </div>

            <div id="project_div" class="row" data-aos="zoom-in" data-aos-delay="50">

                {% for model in first_page %}
                    
                    <div id="div-{{model.id}}" class="col-lg-4 col-md-6 d-flex align-items-stretch umodels">
                      
                      
                      <div {%  userInvestorMethod model request.user %} class="project-item umodel-item">
                        <img src ="{% static 'mentor/assets/img/projects/'|add:model.category.uniqueid|add:'.jpg' %}" class="img-fluid" alt="">
                        
                        
                       
                        
                        <a href="{% url 'edit-investment' model.id %}" data-toggle="tooltip" data-placement="bottom"  title='Manage Business'>
                          <span {% userIsOwnerAttrMethod model request.user %} class="myspan">Enterprenuer</span>

                        </a>
                        <a href="{% url 'investment-details' model.id %}" data-toggle="tooltip" data-placement="bottom"  title='View Investment'>
                          <span {% userInvestorMethod model request.user %} class="myspan">Investor</span>
                        </a>

                        <span {% userIsOwnerAttrMethod model request.user %} class="semi-donut margin myspan" 
                            style="--percentage : {{model.current_investment_percent}}; --fill: #085bf5 ;">
                            {{model.current_investment_percent| floatformat:-1 | intcomma}} %
                        </span>

                        
                      
                        
                        <div class="project-content">
                          
                          <p>
                            <h3><a href="{% url 'investment-details' model.id %}"  
                              data-toggle="tooltip" data-placement="bottom"  title='View Investment'  
                              class ="badge rounded-pill bg-warning">{{model.name|truncatechars:25}}</a></h3>

                            
                              <small>{{model.description|truncatechars:60}}</small>
                              &nbsp;&nbsp;
                              <a href="#"  data-toggle="modal" data-target="#confirmdelete" {% userInvestorMethod model request.user %} class="mydeleteclass iconClass"
                                data-object-name="{{ model.name }}"  data-item-id="div-{{model.id}}" data-invest-value ="{% userInvestorValueMethod model request.user %}"
                                data-delete-url="{% url 'delete_investor_this_user_ajax' model.id  %}"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                                title='Cancel Investment Application' ><small><i class="fas fa-cut"></i><span class="counter counter-lg">{% userInvestorPercentMethod model request.user %}</span></small>
                                <!-- badge rounded-pill bg-light text-dark  -->
                              </a>
                             
                          </p>
                          <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-rank d-flex align-items-center">
                              <i class="bx bx-download"></i>&nbsp;{{model.views| shrink_num}}
                            
                          
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                                <a class="model-likes" href="#" data-url="{% url 'update_investment_likes' model.id %}" 
                                  style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                  title='Like'><i class="bx bx-heart"></i>&nbsp;{{model.likes| shrink_num}}
                                </a> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> <!-- End Project Item-->
              
                {% endfor %}  

          

            </div>

            
            <div id= "page_section" class="pagination">
              <ul class="pagination newpagination">
                  {% if current_page.has_previous %}
                      <li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                      <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.previous_page_number}}">previous</a></li>
                  {% endif %}
          
                  <span class="current" style="margin-left:5px">
                      Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
                  </span>
          
                  {% if current_page.has_next %}
                      <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.next_page_number}}">next</a></li>
                      <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.paginator.num_pages}}">last &raquo;</a></li>
                    
                  {% endif %}
                </ul>
            </div>
       
  </div>
 
</section><!-- End Projects Section -->
