{% load static %}
{% load i18n %}
{% load account %}
{% load i18n %}
{% load tags %}
{% load humanize %}

<h1 class="logo me-auto"><a href="{% url 'index' %}">Finflex</a></h1>
<nav id="navbar" class="navbar order-last order-lg-0">
    <ul id="navbar-ul">
        <li id="index"><a href="{% url 'index' %}">Home</a></li>
        <li id="about"><a href="{% url 'about' %}">About</a></li>
       

        <li id="investments" class="dropdown"><a href="#"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li id="projects"><a href="{% url 'projects' %}">Projects</a></li>
                
                <li id="investors" class="dropdown"><a href="#"><span>Investor</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li id="iamaninvestor"><a href="{% url 'trading_home' %}">Explore Investments</a></li>
                    <li id="exploreinvestments"><a href="{% url 'user_investments' %}">Personal Investments</a></li>
                    <li><a href="{% url 'commingsoon' %}">Premium Investments</a></li>
                  </ul>
                </li>
                <li id="enterprenuer" class="dropdown"><a href="#"><span>Enterprenuer</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <!-- <li><a href="{% url 'commingsoon' %}">Pitch My Business</a></li> -->
                    <li id="registerbusiness" ><a href="{% url 'user_businesses' %}">My Businesses</a></li>
                    <li><a href="{% url 'commingsoon' %}">Market Analytics</a></li>
                  </ul>
                </li>
                <li id="models"><a href="{% url 'fin_user_models' %}">Financial Modelling</a></li> 
                <li id="extra" class="dropdown"><a href="#"><span>Events & Extras</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li id="events"><a href="{% url 'events' %}">Events</a></li>
                    <li id="pricing"><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li id="experts"><a href="{% url 'experts' %}">Experts</a></li>
                    <li id="jobs"><a href="{% url 'jobs' %}">Vacancies</a></li>
                  </ul>
                </li>
                
            </ul>
        </li> 
        <li><a href="{% url 'contact' %}">Contact</a></li>
        {% if request.user.is_authenticated %}
               <!-- Dispaly or hide LI -->
              <!-- If else statement cant be fiigured out yet -->
              <li {% userhasNewInvestorsMethod request.user %} class="my_messages_li" style="display:none">
                <a href="{% url 'user_businesses_unread' %}" class="iconClass-primary" data-toggle="tooltip"  title='You have {% userNewInvestorsCountMethod request.user %} new Investor(s)'>
                    <i  style="color:orange" class="fas fa-envelope"></i>
                    <span class="counter counter-lg" style="top:4px ;">{% userNewInvestorsCountMethod request.user %} </span>
                </a>
              </li>

              <li {% useracceptedAsInvestorMethod request.user %} class="my_messages2_li" style="display:none">
                <a href="{% url 'user_investments_accepted' %}" class="iconClass-primary" data-toggle="tooltip"  title='You have been accepted in {% useracceptedInvestmentsCountMethod request.user %} investment(s)'>
                    <i  style="color:lightgreen" class="fas fa-handshake"></i>
                    <span class="counter counter-lg" style="top:4px ;">{% useracceptedInvestmentsCountMethod request.user %} </span>
                </a>
              </li>
        {% endif %}
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown user user-menu">
              <a href="#" class="nav-link" id="navbarDropdownMenuAvatar" data-toggle="dropdown">
                <i class="fas fa-user" aria-hidden="true"></i>
                <span class="hidden-xs">{% user_display user %}</span>
                 
              </a>
          
            

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">

                    <li>
                        <a class="dropdown-item" href="{% url 'upload_form_user_profile' %}" >My Profile</a>
                    </li>

                  
                    {% if request.user.is_superuser %}
                        <li>
                          <a class="dropdown-item" href="{% url 'ulogin' %}" >Users Logged in</a>                  
                        </li>
                        <li>
                          <a class="dropdown-item" href="{% url 'ucomments' %}" >Users Comments</a>                  
                        </li>
                        
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    </li>
              </ul>
          </li>
        {% else %}
          <li id="log_in"><a href="{% url 'account_login' %}">Log in</a></li>
        {% endif %}
      
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
