{% load static %}

<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="box">
          <h3>Free</h3>
          <h4><sup>$</sup>0<span> / month</span></h4>
          <ul>
            <li>Model Design</li>
            <li>Report Downloads</li>
            <li class="na">Data Visualization</li>
            <li class="na">Simulation & Modelling</li>
          </ul>
          <div class="btn-wrap">
            <a href="{% url 'buy_free' %}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured">
          <h3>Standard</h3>
          <h4><sup>$</sup>9<span> / month</span></h4>
          <ul>
            <li>Model Design</li>
            <li>Report Downloads</li>
            <li>Data Visualization</li>
            <li class="na">Simulation & Modelling</li>
          </ul>
          <div class="btn-wrap">
            <a href="{% url 'buy_standard' %}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box">
          <h3>Business</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Model Design</li>
            <li>Report Downloads</li>
            <li>Data Visualization</li>
            <li>Simulation & Modelling</li>
          </ul>
          <div class="btn-wrap">
            <a href="{% url 'buy_business' %}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box">
          <span class="advanced">Premium</span>
          <h3>Ultimate</h3>
          <h4><sup>$</sup>29<span> / month</span></h4>
          <ul>
            <li>Model Design</li>
            <li>Report Downloads</li>
            <li>Data Visualization</li>
            <li>Simulation & Modelling</li>
          </ul>
          <div class="btn-wrap">
            <a href="{% url 'buy_ultimate' %}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->
