{% load static %}
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Why Choose Investafin?</h3>
          <p>
            Knowing your business financial metrics. 
            We help you build investments appraisal models in easy user interface in just few simple steps. 
            Results can be downloaded for off the web analysis. 
            Customised services may be offered if requested for.

          </p>
          <blockquote class="displaynoneinitial">Discounted Cash Flows (DCF)</blockquote>
          <blockquote class="displaynoneinitial">Income Tax Statement</blockquote>
          <blockquote class="displaynoneinitial">Sensitivity Analysis</blockquote>
          <blockquote class="displaynoneinitial">Factor probability of occurrence</blockquote>
          <blockquote class="displaynoneinitial">Investment Net Present Value</blockquote>
          <blockquote class="displaynoneinitial">Internal Rate of Return (IRR)</blockquote>
          <blockquote class="displaynoneinitial">Modified Internal Rate of Return (MIRR) </blockquote>
          <blockquote class="displaynoneinitial">Parameter Analytics including turning points</blockquote>
          <blockquote class="displaynoneinitial">Deterministic vs Uncertanity Scenarios</blockquote>
          <blockquote class="displaynoneinitial">Downloads</blockquote>
          <blockquote class="displaynoneinitial">Data Visualisation</blockquote>
          <blockquote class="displaynoneinitial">Business Insights using AI</blockquote>
          <div class="text-center">
            <a href="{% url 'about' %}" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <img src="{% static 'mentor/assets/img/about.webp' %}" class="img-fluid" alt="">
       
      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->