{% load static %}
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Why Choose Finflex?</h3>
          <p>
             
            <i>We help you build investments infrastructure for your existing and as well as potential business. </i>
            If you are an established business person, a start-up or if you want to invest your money,
            we provide you with everything you need in your journey in creating wealth.
            We offer investments package platform that assist you evaluate your investment(s) 
            through our simpilified user interface, with guaranted results at your fingertips. 
            Results may be downloaded for off the web analysis. 
            Customised services may be offered if requested for.

          </p>

       
          <blockquote class="displaynoneinitial">Discounted Cash Flows (DCF),
                                                 Investment Net Present Value, 
                                                 Income Tax Statement, Sensitivity Analysis</blockquote>
          <blockquote class="displaynoneinitial">Investment Vehicle</blockquote>
          <blockquote class="displaynoneinitial">Business Networking</blockquote>
          <blockquote class="displaynoneinitial">Factor, Probability, Parametric Analytics</blockquote>
          <blockquote class="displaynoneinitial">Deterministic vs Uncertanity Scenarios</blockquote>
          <blockquote class="displaynoneinitial">Downloads (Off the web analysis)</blockquote>
          <blockquote class="displaynoneinitial">Data Visualisation</blockquote>
          <blockquote class="displaynoneinitial">Business Insights using AI</blockquote>
          <div class="text-center">
            <a href="{% url 'about' %}" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <img src="{% static 'mentor/assets/img/about.webp' %}" class="img-fluid" alt="">
       
      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->