{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
<!---Removed padding from 70px-- 0px-->
<section style= 'padding: 5px 0;' id="projects" class="projects">
  
  <div class="container" data-aos="fade-up">
     <!-- ======= Breadcrumbs ======= -->
    <div class="row">
      <ol class="breadcrumb" >
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item" ><a href="{% url 'models' %}">{% trans 'My Models' %}</a></li>
        
        <li class="breadcrumb-item active">
            <a href="#"   style="color:inherit" data-toggle="modal" data-placement="bottom" data-target="#modal_add_new_model"
              title='Add New Model'><i style="color:red"  class="fas fa-plus"></i>
            </a>
        </li>
       
        <li class="breadcrumb-item" >
          <label id="total_projects_searched"></label>
        </li>
       
  
      </ol>
    </div> 
  <!-- </hr> -->

    <div id="project_div" class="row" data-aos="zoom-in" data-aos-delay="100">

        {% for model in first_page %}
        
       

            <div id="div-{{model.id}}" class="col-lg-4 col-md-6 d-flex align-items-stretch umodels">
              <div class="project-item umodel-item">
             
                <img src ="{% static 'mentor/assets/img/models/'|add:model.model_type.uniqueid|add:'.jpg' %}" class="umodel-img" alt="">
                
                <div {% if model.design_complete %} ready  {% endif %} class="project-content">
                  
                  <div class="d-flex justify-content-between align-items-center mb-3" name="link">
                    <h3><a href="{% url 'select_model_mentor' model.id %}">{{model.name}}</a></h3>
                    <p class="price">{{model.currency.symbol}}</p>
                  </div> 
                  
                  <div class="d-flex justify-content-between align-items-center mb-3" name="design">
                    <!-- 1st -->
                    <div class="modelModelType modelData" name="simulation_run" >
                      Simulations{% if model.simulation_run %}<i style='color:blue;' class="bi bi-check-circle"></i>
                      {% else %} <i class="bi-square"></i>{% endif %}
                    </div>
                    <!-- 2nd -->
                    <div class="modelModelType modelData" name="design_complete" >
                      Ready{% if model.design_complete %}<i style='color:blue;' class="bi bi-check-circle"></i>
                                {% else %} <i class="bi-square"></i>{% endif %}
                    </div>                   
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3" name="iterations">
                    <!-- 1st -->
                    <div class="modelModelType modelData" name="simulation_iterations" >Iterations: {{model.simulation_iterations}}</div>
                 
                    <!-- 2nd -->
                    <div class="modelModelType modelData" name="npv_bin_size" >Bin :{{model.npv_bin_size}}</div>
                 
                  </div>
                  
                  <p class="modelModelType modelData" name="date_created" >Date Created: {{model.date_created | date:'D d F Y H:m:s'}}</p>
              
                  <p name="description" >{{model.model_type.description}}</p>
 
                  <p class="text-right modelAction modelData" name="action">
                    <!-- SHOW MODEL -->
                    <a href="{% url 'select_model_mentor' model.id %}"
                      style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                      title='View Model'><i {% if  model.design_complete %} style="color:blue" {% else %} style="color:inherit" {% endif %} class="fas fa-eye"></i>
                    </a>
                    <!-- EDIT MODEL -->
                    <a class="model-edit show-form-update" href="#" data-url="{% url 'update_model' model.id %}" 
                      data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                      title='Edit Model'><i  class="fas fa-edit"></i>
                    </a>


                    <!-- DELETE MODEL -->
                   <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                      data-object-name="{{ model.name }}"  data-model-id="{{model.id}}" 
                      data-delete-url="{% url 'delete_bussiness_model' model.id 1 %}"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                      title='Delete' ><i class="fas fa-trash"></i>
                      </a>
                    </p>
                 
                 
                </div>
              </div>
            </div> <!-- End Project Item-->
       
        {% endfor %}  

  

    </div>
    
   
    <div id= "page_section" class="pagination">
      Pages
      {% for i in page_range %}
      <a class='a_page_nav' style="margin-left: 5px; " href ="{{i}}">{{i}}</a>
      {% endfor %}
    </div>
  

  </div>
 
</section><!-- End Projects Section -->
