

{% load static %}
{% load tags_extras %}
{% load humanize %}
{% load widget_tweaks %}

{% load i18n %}
<section id="contact" class="contact">
  

  <div class="container box-element" data-aos="fade-up">

    <div class="row mt-5">

     
      <div class="col-lg-12 mt-5 mt-lg-0">
        <form  enctype="multipart/form-data" method="POST" class="form-horizontal user-settings-update" data-url="{% url 'update_user_pref_ajax' %}">
          <div class="box-body">
                {% csrf_token %}

                <div class="form-group row">
                   <label class="col-sm-2 control-label" for="{{ pref_form.perpage.id_for_label }}">{{ pref_form.perpage.label }}</label>
                    <div class="col-sm-4  {% if pref_form.perpage.errors %} has-error{% endif %}">
                        {{ pref_form.perpage|add_class:"form-control" }}
                        {% for error in pref_form.perpage.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    </br>

                    <label class="col-sm-2 control-label" for="{{ pref_form.perpage_blogs.id_for_label }}">{{ pref_form.perpage_blogs.label }}</label>
                    <div class="col-sm-4  {% if pref_form.perpage_blogs.errors %} has-error{% endif %}">
                        {{ pref_form.perpage_blogs|add_class:"form-control" }}
                        {% for error in pref_form.perpage_blogs.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                </br>  
                <div class="form-group row">
              
                    <label class="col-sm-2 control-label" for="{{ pref_form.pertable.id_for_label }}">{{ pref_form.pertable.label }}</label>
                    <div class="col-sm-4  {% if pref_form.pertable.errors %} has-error{% endif %}">
                        {{ pref_form.pertable|add_class:"form-control" }}
                        {% for error in pref_form.pertable.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>
                </br>
        </div>
      </br>
        <div class="box-footer">
            <div class="col-sm-offset-2 col-sm-8">
              <button type="submit" class="btn btn-primary user-settings-update">{% trans 'Update' %}</button>

            </div>
        </div>

        <div class="form-error2 public_toggle_form-errors form-group" style='display:none'>
        </div>
        </form>
       

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->


