{% load static %}
{% load i18n %}
{% load account %}

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{% url 'index' %}">Investafin</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="{% static 'mentor/assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul id="navbar-ul">
        <li id="index"><a href="{% url 'index' %}">Home</a></li>
        <li id="about"><a href="{% url 'about' %}">About</a></li>
        <li id="projects"><a href="{% url 'projects' %}">Projects</a></li>
        <li id="models"><a href="{% url 'models' %}">Models</a></li>
        <!-- <li id="experts"><a href="{% url 'experts' %}">Experts</a></li> -->
        <!-- <li id="events"><a href="{% url 'events' %}">Events</a></li> -->
        <!-- <li id="pricing"><a href="{% url 'pricing' %}">Pricing</a></li> -->
      <!-- 
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->

        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown user user-menu">
              <a href="#" class="nav-link" id="navbarDropdownMenuAvatar" data-toggle="dropdown">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span class="hidden-xs">{% user_display user %}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuAvatar">
                  <li>
                    <a class="dropdown-item" href="{% url 'upload_form_user_profile' %}" >Profile</a>
                  </li>                
                  <li>
                    <a class="dropdown-item" href="{% url 'upload_form_user_pref' %}" >Settings</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                  </li>
              </ul>
          </li>
        {% endif %}
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li >
         
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    
    {% block searchbutton %}
    <div id ="searchbutton" class="search-container" style="margin-left: 15px;">
      <div class="search-box">
          <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
          <form action="" class="search-form">
          <input type="text" placeholder="Search" id="search" autocomplete="off">
          </form>
          <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
              xml:space="preserve">
              <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
              <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
          </svg>
          <div class="go-icon"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>
  {% endblock  %}  

  </div>
</header><!-- End Header -->