{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
<section id="jobs" class="events">
  <div class="container box-element" data-aos="fade-up">

    <div class="row">
      {% if vacancies %}
        {% for vacant in vacancies %}
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
                <div class="card-img">
                  
                    {% with vacanttype=vacant.vacancy_type|stringformat:"s" %}
                        {% with image_name="mentor/assets/img/events-"|add:vacanttype|stringformat:"s"|add:".jpg" %}
                          <img src="{% static image_name %}" alt="...">
                        {% endwith %}
                    {% endwith %}
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">{{vacant.name}}</a></h5>
                  <p class="fst-italic text-center">{{vacant.due_date}}</p>
                  <p class="card-text">
                    {{vacant.description|truncatechars:100}}
                  </p>
                  <a href="{% url 'vacancy-details' vacant.id %}" class="more-btn">More<i class="bx bx-chevron-right"></i></a>
                </div>
            
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-lg-12 text-center">
          <p>No Vacancies</p>
        </div>
      {% endif %}
     
    </div>

  </div>
</section><!-- End Events Section -->
