{% load i18n %}
{% load static %}
{% load tags_extras %}
{% load humanize %}
<section id="project-details-tabs" class="project-details-tabs">
  <div class="container box-element" data-aos="fade-up">
      <!-- ======= Breadcrumbs ======= -->
      <div class="row">
        <ol class="breadcrumb" >
          <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
            data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
       
          <li class="breadcrumb-item" ><a href="{% url 'fin_user_models' %}" class ="badge rounded-pill bg-success" 
            data-toggle="tooltip" data-placement="bottom" title='Financial Models'><i class="fas fa-chart-line"></i></a></li>
          
            <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success" 
              data-toggle="tooltip" data-placement="bottom" title='Explore Investments'><i class="fas fa-balance-scale"></i></a></li>
    
        </ol>
      </div> 
      <div class="row">
          <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                
                  <li id='user_profile_tab' class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">{% if personal_record %}<i class="bi bi-check-circle"></i>{%endif %} Personal Details</a>
                  </li>

                
                  <li id='user_extra_details_tab' class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-2">{% if user_extra_details_record %}<i class="bi bi-check-circle"></i> {%endif %} User Extra Details</a>
                  </li>

                  <li id='user_pref_tab' class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">{% if user_pref_record %}<i class="bi bi-check-circle"></i> {%endif %} User Preference Details</a>
                  </li>

                  <!-- <li id='financing_tab' class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">{% if financing_record %}<i class="bi bi-check-circle"></i> {%endif %} Expertise & Skills</a>
                  </li> -->

                  <li id='depreciation_tab' class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-4">{% if user_graph_pref_record %}<i class="bi bi-check-circle"></i> {%endif %} User Graph Pref</a>
                  </li>

                  <li id='taxes_tab' class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-5">{% if taxes_record %}<i class="bi bi-check-circle"></i> {%endif %} Financial Details</a>
                  </li>

                  <li id='workingcapital_tab' class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-6">{% if workingcapital_record %}<i class="bi bi-check-circle"></i> {%endif %} Citizen Details</a>
                  </li>

                  <li id='macroeconomicparameters_tab' class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-7">{% if macroeconomicparameters_record %}<i class="bi bi-check-circle"></i> {%endif %} Social Details</a>
                  </li>
                

              </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">

                <div class="tab-pane active show" id="tab-1">  
                    <!-- ======= User profile Section ======= -->
                    {% include 'investments_appraisal/mentor/sections/section_user_profile.html' %} 
                </div>
                
                <div class="tab-pane" id="tab-2">                
                    <!-- ======= User Extra Details Section ======= -->
                    {% include 'investments_appraisal/mentor/sections/section_user_extra_details.html' %}                 
                </div>
                <div class="tab-pane" id="tab-3">
                    <!-- ======= UserPref Details Section ======= -->
                    {% include 'investments_appraisal/mentor/sections/section_user_settings.html' %} 
                </div>

                <div class="tab-pane" id="tab-4">
                  <!-- ======= Contact Section ======= -->
                    {% include 'investments_appraisal/mentor/sections/section_user_graph_pref.html' %}

                </div>

                <div class="tab-pane" id="tab-5">
                  {% include 'investments_appraisal/mentor/sections/comming.html' %}
                </div>
                
              

                <div class="tab-pane" id="tab-6">
                
                  {% include 'investments_appraisal/mentor/sections/comming.html' %}
                </div>
                
                <div class="tab-pane" id="tab-7">
                  {% include 'investments_appraisal/mentor/sections/comming.html' %}
                </div>
              
                
              </div>
          </div>
      </div>
  </div>
</section>
 