

{% extends 'investments_appraisal/mentor/index.html' %}

{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Sales Management</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
<style>
  @media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
 display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
 position: absolute;
 top: -9999px;
 left: -9999px;
}

tr {
 margin: 0 0 1rem 0;
}
 
tr:nth-child(odd) {
 background: #ccc;
}

td {
 /* Behave  like a "row" */
 border: none;
 border-bottom: 1px solid #eee;
 position: relative;
 padding-left: 50%;
}

td:before {
 /* Now like a table header */
 position: absolute;
 /* Top/left values mimic padding */
 top: 0;
 left: 6px;
 width: 45%;
 padding-right: 10px;
 white-space: nowrap;
}
       /*
       Label the data
   You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
       */
       td:nth-of-type(1):before { content: "Customer"; }
       td:nth-of-type(2):before { content: "Product"; }
       td:nth-of-type(3):before { content: "ON"; }
       td:nth-of-type(4):before { content: "PrN"; }
       td:nth-of-type(5):before { content: "Qnty"; }
       td:nth-of-type(6):before { content: "UP"; } 
       td:nth-of-type(7):before { content: "Date Ordered"; }
       td:nth-of-type(8):before { content: "Value"; }
       td:nth-of-type(9):before { content: "Status"; }
       td:nth-of-type(10):before { content: "Actions"; } 
     
   }
</style>
{% endblock %}

{% block content_header %}
   
{% endblock %}



{% block content %}

 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
     
  </div><!-- End Breadcrumbs -->

 <!-- ======= Projects Section ======= -->  
   {% include 'customers/sections/sections_clients_list.html' %} 
  
 
</main><!-- End #main -->
{%endblock content%}

{% block modal_divs %}    
    <div class="modal fade" id="modal-product">
      <div id='dynamic-div' class="modal-dialog modal-lg">
        <div class="modal-content"></div>
      </div>
    </div>
     <!-- Delete confirmation modal -->
     <div class="modal fade" id="confirmdelete" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Confirm</h4>
              </div>
              <div class="modal-body">

              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                  <input type="button" class="delete-button  btn btn-danger" id="delete-button"
                          name="delete-button" value="Yes" data-url="" tr-id="" item-id="">
              </div>
          </div>
      </div>
  </div>

{% endblock %} 


 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
 





{% block content_custom_menu_navbar %}
<!-- ======= Header ======= -->
{% include 'investments_appraisal/mentor/sections/section_nav_search.html' %}

{% endblock %}






{% block scripts %}
 <!-- Search Button JS -->
 <script src="{% static 'mentor/assets/js/search.js' %}"></script>



<script type="text/javascript">
  $('#page_select').change(function() {
    $( "select option:selected" ).each(function() {
      // window.location.href = "{{ request.path }}?page=" + $(this).val();
      var url= my_java_url($(this).val(),'page',"{{ request.GET.urlencode}}")
      window.location.href = url;
      
    });
  })
  var bus_status='{{status}}'
  function checkPosition() {
        //mobile
        
        if (
            (window.matchMedia('(max-width: 760px)').matches) || 
            ((window.matchMedia('min-device-width: 768px').matches) && (window.matchMedia('max-device-width: 1024px').matches)) 
            ) {
            mobile_viewa()
        } else {
            desktop_viewa() 
        }
    }

  function mobile_viewa(){
      $('table').removeClass('table table-striped');
  }

  function desktop_viewa(){
      $('table').addClass('table table-striped');
  }

  $(window).resize(function() {
      console.log('width: ' , $(this).width())
      
    if ($(this).width() < 744) {
      mobile_viewa()
    } else {
      desktop_viewa()
    }
});  

    

  function truncChar(str,length){
    var myTruncatedString = str.substring(0,length-1);              
    if (str.length > myTruncatedString.length){
    return myTruncatedString + "..."
    }
    return myTruncatedString
    }
    function numberWithCommas(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
    }
  function retrieveWYSIWYG() {
  var query = window.location.search.substring(1);
  var parms = query.split('&');
  for (var i=0; i<parms.length; i++) {
    var pos = parms[i].indexOf('=');
    if (pos > 0) {
       var key = parms[i].substring(0,pos);
       var val = parms[i].substring(pos+1);
       qsParm[key] = val;
    }
  }
}

  function my_java_url(page_num, field_name, urlencode){
    // Similary to template tags my_url {page_and_filter}
    var srchURLArray = urlencode.split("&")
    var tempArray = new Array()
    var parameter_str= ""
    for (var i =0; i < srchURLArray.length; i++) {
      tempArray = srchURLArray[i].split("=")
      var pos =  tempArray[0].indexOf(';');
      // amp;date=107
      if (pos > 0) {
          var secondtempArray = new Array()
          secondtempArray = tempArray[0].split(";")
          // discard the amp(i dont know why it there)
          if (secondtempArray[1]!==field_name) {
               parameter_str = parameter_str + "&" + secondtempArray[1] + "=" + tempArray[1]
          } 
      }else {
        // date=107
        if (tempArray[0]!==field_name) {
            parameter_str = parameter_str + "&" + tempArray[0] + "=" + tempArray[1]
        } 
      }
     
    }
    return "{{ request.path }}?page=" + page_num + parameter_str
  }

  
</script>

<script type="text/javascript">
  $('#clear_button').on('click', function() {
    $('#id_date_ordered').val("");
    $('#id_complete').val("");
    $('#id_company').val("");
    $('#id_currency').val("");
    $('#id_start_date').val("");
    $('#id_end_date').val("");
  })  
</script>

<script>

 
   //first timme
    var display_user_clients_ajax_url= "{% url 'display_user_clients_ajax' %}" 
    var status= '{{status}}'
    
    if (status){ 
                            
      display_user_clients_ajax_url = `{% url 'user_clients_load_status_ajax' 12345 %}`.replace(/12345/, status.toString()); 
    }

  $(document).ready(function() {
    
    checkPosition() 
    $('#confirmdelete').on('show.bs.modal', function(e) {
      var name = $(e.relatedTarget).data('object-name');
      var url = $(e.relatedTarget).data('delete-url');
      var comment_id = $(e.relatedTarget).data('item-id');
    
      //var name =truncChar(name,25)
      $('#confirmdelete .modal-body').html("Are you sure you want to <b>delete</b>  Order <i>" + name + "</i>?");
  
      $('#confirmdelete .modal-footer input').attr('data-url', url);
      $('#confirmdelete .modal-footer input').attr('item-id', comment_id);
    });

   
    /**
     * Delete Order 
    */
    $('body').on('click', '.delete-button', function (e) {
        e.preventDefault();
        var tr_id =$('#delete-button').attr('item-id')
        row = $('#product-'+ tr_id.trim());
       
        var formData = {
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        };
        $.ajax({
          type: 'POST',      
          url:   $('#delete-button').attr('data-url'), 
          encode: true,
          contentType: 'application/x-www-form-urlencoded',
          crossDomain: false,
          dataType: 'json',
          data: formData,     // our data object
          success: function (data) {
            $('.close-modal').click() 				
           
            row.fadeOut(1000, function () {
              $(this).remove();
            });
          },
          error: function (exception) {
            alert('Exeption:' + exception);
          }
        });
      });
      $('body').on('click', '.close-modal', function (e) {
          $('#modal-product').modal('hide'); 
      })
      $('body').on('click', '.a_page_nav', function (event) {
                // preventing default actions
                event.preventDefault();
                var page_no = $(this).attr('href');
                // ajax call
                loadPageAjax(page_no)
            });
         
            function loadPageAjax(page_no){
                console.log('url: loadpage::::',display_user_clients_ajax_url )
                //console.log('PageNo: ', page_no)
                //console.log('page_no',page_no )
                var data
                if (bus_status) {
                    data = {    
                            page_no : page_no,
                            bus_status : bus_status, 
                            csrfmiddlewaretoken: csrftoken,
                        }
                }else {
                    data = {    
                            page_no : page_no,
                            csrfmiddlewaretoken: csrftoken,
                        }
                }
                $.ajax({
                        type: "POST",
                        // define url name
                        url: display_user_clients_ajax_url, 
                        data :data,
                        // handle a successful response
                        success: function (response) {
                            $('#product-table-tbody').html('')
                            updatePaging2(response.data)
                            if (response.data.per_table){
                                per_table=response.data.per_table
                            }
                            var base_counter =(parseInt(page_no)-1)*per_table
                            var counter=base_counter

                        
                            
                            $.each(response.data.results, function(i, val) {
                                counter=  counter +1
                                a_html=append_html(counter,val,page_no)                           
                                // add each model on every line
                                $('#product-table-tbody').append(a_html)
                            });
                            //Append Zero Record Annotation
                            append_no_records_found(response.data.totalrecords,'product-table-tbody',9)
                               
                           
               
                            
                            },
                            error: function () {
                                alert('Error Occured');
                            }
                            
                    });
                    //add_model_class()
            }
            function update_totals(data) {
                ahtml =`<b>Orders: Total</b>:$${numberWithCommas(data['total_sum'])} <b>Aver</b>:$${numberWithCommas(data['average'])}`
                $('#personal_totals').html(ahtml)
            
            }
            function updatePaging2(data){
                var has_previous=''
                //console.log(data)
                if (data.has_previous){
                    has_previous= `<li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                        <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.previous_page_number}">previous</a></li>`;
                
                }       
                var has_next= ''          
                if (data.has_next){
                    has_next= ` <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.next_page_number}">next</a></li>
                            <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.last}">last &raquo;</a></li>
                        `; 
                }       
                a_html=`
                <div id= "page_section" class="pagination">
                    <ul class="pagination newpagination">
                        ${has_previous}            
                        <span class="current" style="margin-left:5px" >
                            Page ${ data.current_page } of ${ data.last }.
                        </span>                   
                        ${has_next}
                    </ul>
                    </div>`
                    $("#page_section").html(a_html)
            }
            function append_no_records_found(total, tbody_id, colspan){
                if (total == 0) {
                    no_record_html=`<tr id="product-1">  <td colspan='${colspan}'> No Records Found <td>
                                  </tr>` ;
                    $(`#${tbody_id}`).append(no_record_html)
                }
            }
            function append_html(counter,val,page_no){
                //loading the page #
                //console.log (val)
               
              
               var complete_status=''
               if (val.complete){
                complete_status ='Completed'
               }else {
                complete_status ='WIP'
               }

               var title=''
               if (val.fullfilled ==true){
                title =`title='Cancel'`
               }else {
                title =`title='Complete'`
               }

               var icon_display=''
               if (val.fullfilled ==true){
                icon_display =`<i class="fas fa-cut"></i>`
               }else {
                icon_display =`<i class="fas fa-clipboard-check"></i>`
               }


            a_html= ` <tr id="product-${val.id}">
                      <td>${val.customer_details}</td>
                      <td>${val.product}</td>
                      <td>${val.on}</td>
                      <td>${val.prn}</td> 
                      <td>${numberWithCommas(val.quantity)}</td>
                      <td>${val.currency_symbol}${numberWithCommas(val.price)}</td>
                      <td>${val.date_added}</td>
                      <td>${val.currency_symbol}${numberWithCommas(val.total)}</td>
                      <td>${complete_status}</td>
                    
                    
                      <td class="text-right">
                      
                        <a  ${title} 
                            href="#" class= "toggle-order" data-url="/cus/full_fill_order/${val.id}/"  data-item-id ='${val.id}'
                            data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                            >${icon_display} 
                        </a> 
                        <a  class="show-address" title='Show Address'  
                            href="#" data-url="/cus/show_address/${val.on}/"  data-item-id ='${val.on}'
                            data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                            ><i class="fas fa-address-book"></i>  
                        </a>  
                      </td>
                  </tr>`

                return a_html
            }
            
            $('body').on('click', '.toggle-order', function (e) {
                    e.preventDefault(); 
                    //console.log($(e.relatedTarget).data())
                    var url = $(e.relatedTarget).data('url');
                    var id = $(e.relatedTarget).data('item-id');
                    var url = $(this).attr('data-url');
                    var id = $(this).attr('data-item-id');
                    //console.log(id, url)
                    var row= $("#product-" + id )
                    page_no=1
                    // ajax call
                    $.ajax({
                            type: "POST",
                            // define url name
                            url: url, 
                            data : {    
                                page_no : page_no, 
                                csrfmiddlewaretoken: csrftoken,
                            },
                            // handle a successful response
                            success: function (response) {
                                
                              row.fadeOut(1000, function () {
                                $(this).remove();
                              });
                            

                                },
                                error: function () {
                                    alert('Error Occured');
                                }
                        }); 
            
            });
          
            $('body').on('click', '.filter-status', function (e) {
                    e.preventDefault(); 
                    var clicked_id = $(this).attr('id')
                    var myclass =$('.filter-status')
                    bus_status =$(this).attr('id')
                    var search_val = $('#search').val().toLowerCase();
                    search_val = search_val.replace(/[^a-zA-Z0-9]/g,"")
                    
                    if (search_val.length == 0 ){
                        display_user_clients_ajax_url = `{% url 'user_clients_load_status_ajax' 12345 %}`.replace(/12345/, bus_status.toString()); 
                    } else{
                        display_user_clients_ajax_url = `{% url 'client_search_and_tags_ajax' 12345 6789 %}`.replace(/12345/, bus_status.toString()).replace(/6789/, search_val.toString()); 
                    }
                    var url =display_user_clients_ajax_url
                    console.log('in filter:', url) 
                    $('#li_current_status').css('display','block')
                    $('#current_status').html(`<i>[${clicked_id}]</i> <span aria-hidden="true">×</span>`)
                    //check_business_status(clicked_id)
                    $.each(myclass, function(i, val) {
                        let loop_id= $(this).attr('id')
                        if (clicked_id == loop_id){
                            $(this).removeClass('bg-warning')
                            $(this).addClass('bg-light')
                        }else {
                            $(this).addClass('bg-warning')
                            $(this).removeClass('bg-light')
                        }
                    });            
                    // click first page
                    page_no=1
                    // ajax call
                    $.ajax({
                            type: "POST",
                            // define url name
                            url: url, 
                            data : {    
                                page_no : page_no, 
                                status:clicked_id,
                                csrfmiddlewaretoken: csrftoken,
                            },
                            // handle a successful response
                            success: function (response) {
                                $('#product-table-tbody').html('')
                                updatePaging2(response.data)
                                update_totals(response.data)
                                if (response.data.per_table){
                                    per_table=response.data.per_table
                                }
                                var base_counter =(parseInt(page_no)-1)*per_table
                                var counter=base_counter
                                //update_total_results(response.data.totalrecords)
                                $.each(response.data.results, function(i, val) {
                                    counter=  counter +1
                                    a_html=append_html(counter,val,page_no)                           
                                    // add each model on every line
                                    $('#product-table-tbody').append(a_html)
                                });
                                //Append Zero Record Annotation
                                append_no_records_found(response.data.totalrecords,'product-table-tbody',9)
                               
                            

                                },
                                error: function () {
                                    alert('Error Occured');
                                }
                        }); 
            
            });
            
            $("body").on("keyup", "#search", function(){

                var search_val = $(this).val().toLowerCase();
                search_val = search_val.replace(/[^a-zA-Z0-9]/g,"")
                if (search_val.length == 0 ){
                    //tag
                    display_user_clients_ajax_url = `{% url 'user_clients_load_status_ajax' 12345 %}`.replace(/12345/, bus_status.toString()); 
                } else{
                    display_user_clients_ajax_url = `{% url 'client_search_and_tags_ajax' 12345 6789 %}`.replace(/12345/, bus_status.toString()).replace(/6789/, search_val.toString()); 
                }
                // click first page
                page_no=1
                // ajax call
                $.ajax({
                        type: "POST",
                        // define url name
                        url: display_user_clients_ajax_url, 
                        data : {    
                            page_no : page_no, 
                            status:status,
                            csrfmiddlewaretoken: csrftoken,
                        },
                        // handle a successful response
                        success: function (response) {
                            $('#product-table-tbody').html('')
                            updatePaging2(response.data)
                            update_totals(response.data)
                            if (response.data.per_table){
                                per_table=response.data.per_table
                            }
                            var base_counter =(parseInt(page_no)-1)*per_table
                            var counter=base_counter
                            //update_total_results(response.data.totalrecords)
                            $.each(response.data.results, function(i, val) {
                                counter=  counter +1
                                a_html=append_html(counter,val,page_no)                           
                                // add each model on every line
                                $('#product-table-tbody').append(a_html)
                            });
                            //Append Zero Record Annotation
                            append_no_records_found(response.data.totalrecords,'product-table-tbody',9)
                               
                           
                            },
                            error: function () {
                                alert('Error Occured');
                            }
                        }); 
            
          
          });
   
  });	

  $('body').on('click', '.show-address', function(){
        var btn = $(this);// fix button  delay
        $.ajax({
          url: btn.attr("data-url"),
          type: 'get',
          dataType:'json',
          beforeSend: function(){
            $('#modal-product').modal('show');
          },
          success: function(data){
            $('#modal-product .modal-content').html(data.html_form);
          }
        });
      }) 
</script>

{% endblock %}