{% extends 'customers/customer_main.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>Transactions
  <small>
    {% if object %}
    {% blocktrans with object_name=object.title %}Edit {{ object.title }}{% endblocktrans %}
    {% else %}
    {% blocktrans %}Add new {{ submenu }}{% endblocktrans %}
    {% endif %}
  </small>
</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'customers_list' %}">{% trans 'Customers' %}</a></li>
  {% if object %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="active">{% trans 'Edit' %}</li>
  {% else %}
  <li class="active">{% trans 'Create' %}</li>
  {% endif %}
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction Details' %}</h3>
</div>
<div class="box-body">
    <form method="post" class="form-horizontal">
      {% csrf_token %}

      <div class="form-group{% if form.user.errors %} has-error{% endif %}">
        <label class="col-sm-2 control-label" for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
        <div class="col-sm-8">
          {{ form.user|add_class:"form-control" }}
          {% for error in form.user.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        <label class="col-sm-2 control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        <div class="col-sm-8">
          {{ form.name|add_class:"form-control" }}
          {% for error in form.name.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="form-group{% if form.address.errors %} has-error{% endif %}">
        <label class="col-sm-2 control-label" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
        <div class="col-sm-8">
          {{ form.address|add_class:"form-control" }}
          {% for error in form.address.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="form-group{% if form.email.errors %} has-error{% endif %}">
        <label class="col-sm-2 control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        <div class="col-sm-8">
          {{ form.email|add_class:"form-control" }}
          {% for error in form.email.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
        <label class="col-sm-2 control-label" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
        <div class="col-sm-8">
          {{ form.phone|add_class:"form-control" }}
          {% for error in form.phone.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
     
     
      <div class="form-group{% if form.coporateclient.errors %} hasapproved-error{% endif %}">
        <label class="col-sm-2 control-label" for="{{ form.coporateclient.id_for_label }}">{{ form.coporateclient.label }}</label>
        <div class="col-sm-8">
            <div class="checkbox">
              <label>
                {{ form.coporateclient }}
                {{ form.coporateclient.label }}
              </label>
            </div>
          
            {% for error in form.coporateclient.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
      <button type="submit" class="btn btn-primary col-md-offset-2">{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
    </form>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap3-typeahead.min.js' %}"></script>

<script>
$(function() {
  $('.date-input').datepicker({
  autoclose: true,
  format: 'yyyy-mm-dd',
  orientation: 'bottom'

  });
 
  $('.date-input').attr('autocomplete', 'off');
})
</script>
{% endblock %}