

{% extends 'investments_appraisal/mentor/index.html' %}

{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Orders List</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">

{% endblock %}

{% block content_header %}
   
{% endblock %}



{% block content %}

 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
     
  </div><!-- End Breadcrumbs -->

 <!-- ======= Projects Section ======= -->  
   {% include 'customers/sections/sections_orders_list.html' %} 
  
 
</main><!-- End #main -->
{%endblock content%}

{% block modal_divs %}    
    <div class="modal fade" id="modal-product">
      <div id='dynamic-div' class="modal-dialog modal-lg">
        <div class="modal-content"></div>
      </div>
    </div>
     <!-- Delete confirmation modal -->
     <div class="modal fade" id="confirmdelete" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Confirm</h4>
              </div>
              <div class="modal-body">

              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                  <input type="button" class="delete-button  btn btn-danger" id="delete-button"
                          name="delete-button" value="Yes" data-url="" tr-id="" item-id="">
              </div>
          </div>
      </div>
  </div>

{% endblock %} 


 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
 





{% block content_custom_menu_navbar %}
<!-- ======= Header ======= -->
{% include 'investments_appraisal/mentor/sections/section_nav_search.html' %}

{% endblock %}






{% block scripts %}
 <!-- Search Button JS -->
 <script src="{% static 'mentor/assets/js/search.js' %}"></script>



<script type="text/javascript">
  $('#page_select').change(function() {
    $( "select option:selected" ).each(function() {
      // window.location.href = "{{ request.path }}?page=" + $(this).val();
      var url= my_java_url($(this).val(),'page',"{{ request.GET.urlencode}}")
      window.location.href = url;
      
    });
  })

  function truncChar(str,length){
    var myTruncatedString = str.substring(0,length-1);              
    if (str.length > myTruncatedString.length){
    return myTruncatedString + "..."
    }
    return myTruncatedString
    }
    function numberWithCommas(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
    }
  function retrieveWYSIWYG() {
  var query = window.location.search.substring(1);
  var parms = query.split('&');
  for (var i=0; i<parms.length; i++) {
    var pos = parms[i].indexOf('=');
    if (pos > 0) {
       var key = parms[i].substring(0,pos);
       var val = parms[i].substring(pos+1);
       qsParm[key] = val;
    }
  }
}

  function my_java_url(page_num, field_name, urlencode){
    // Similary to template tags my_url {page_and_filter}
    var srchURLArray = urlencode.split("&")
    var tempArray = new Array()
    var parameter_str= ""
    for (var i =0; i < srchURLArray.length; i++) {
      tempArray = srchURLArray[i].split("=")
      var pos =  tempArray[0].indexOf(';');
      // amp;date=107
      if (pos > 0) {
          var secondtempArray = new Array()
          secondtempArray = tempArray[0].split(";")
          // discard the amp(i dont know why it there)
          if (secondtempArray[1]!==field_name) {
               parameter_str = parameter_str + "&" + secondtempArray[1] + "=" + tempArray[1]
          } 
      }else {
        // date=107
        if (tempArray[0]!==field_name) {
            parameter_str = parameter_str + "&" + tempArray[0] + "=" + tempArray[1]
        } 
      }
     
    }
    return "{{ request.path }}?page=" + page_num + parameter_str
  }

  
</script>

<script type="text/javascript">
  $('#clear_button').on('click', function() {
    $('#id_date_ordered').val("");
    $('#id_complete').val("");
    $('#id_company').val("");
    $('#id_currency').val("");
    $('#id_start_date').val("");
    $('#id_end_date').val("");
  })  
</script>

<script>

   //first timme
   var display_userorders_ajax_url= "{% url 'display_userorders_ajax' %}"       
                               
  display_userorders_ajax_url = `{% url 'userorders_load_status_ajax' %}`; 

  $(document).ready(function() {
    
    $('#confirmdelete').on('show.bs.modal', function(e) {
      var name = $(e.relatedTarget).data('object-name');
      var url = $(e.relatedTarget).data('delete-url');
      var comment_id = $(e.relatedTarget).data('item-id');
    
      //var name =truncChar(name,25)
      $('#confirmdelete .modal-body').html("Are you sure you want to <b>delete</b>  Order <i>" + name + "</i>?");
  
      $('#confirmdelete .modal-footer input').attr('data-url', url);
      $('#confirmdelete .modal-footer input').attr('item-id', comment_id);
    });

   
    /**
     * Delete Order 
    */
    $('body').on('click', '.delete-button', function (e) {
        e.preventDefault();
        var tr_id =$('#delete-button').attr('item-id')
        row = $('#product-'+ tr_id.trim());
       
        var formData = {
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        };
        $.ajax({
          type: 'POST',      
          url:   $('#delete-button').attr('data-url'), 
          encode: true,
          contentType: 'application/x-www-form-urlencoded',
          crossDomain: false,
          dataType: 'json',
          data: formData,     // our data object
          success: function (data) {
            $('.close-modal').click() 				
           
            row.fadeOut(1000, function () {
              $(this).remove();
            });
          },
          error: function (exception) {
            alert('Exeption:' + exception);
          }
        });
      });
      $('body').on('click', '.a_page_nav', function (event) {
                // preventing default actions
                event.preventDefault();
                var page_no = $(this).attr('href');
                // ajax call
                loadPageAjax(page_no)
            });
         
            function loadPageAjax(page_no){
                //console.log('url',display_userorders_ajax_url )
                //console.log('PageNo: ', page_no)
                //console.log('page_no',page_no )
                var data
               
                data = {    
                        page_no : page_no,
                        csrfmiddlewaretoken: csrftoken,
                    }
                $.ajax({
                        type: "POST",
                        // define url name
                        url: display_userorders_ajax_url, 
                        data :data,
                        // handle a successful response
                        success: function (response) {
                            $('#product-table-tbody').html('')
                            updatePaging2(response.data)
                            if (response.data.per_table){
                                per_table=response.data.per_table
                            }
                            var base_counter =(parseInt(page_no)-1)*per_table
                            var counter=base_counter

                        
                            
                            $.each(response.data.results, function(i, val) {
                                counter=  counter +1
                                a_html=append_html(counter,val,page_no)                           
                                // add each model on every line
                                $('#product-table-tbody').append(a_html)
                            });
                            //Append Zero Record Annotation
                            append_no_records_found(response.data.totalrecords,'product-table-tbody',6)
                               
                           
               
                            
                            },
                            error: function () {
                                alert('Error Occured');
                            }
                            
                    });
                    //add_model_class()
            }
            function updatePaging2(data){
                var has_previous=''
                //console.log(data)
                if (data.has_previous){
                    has_previous= `<li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                        <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.previous_page_number}">previous</a></li>`;
                
                }       
                var has_next= ''          
                if (data.has_next){
                    has_next= ` <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.next_page_number}">next</a></li>
                            <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.last}">last &raquo;</a></li>
                        `; 
                }       
                a_html=`
                <div id= "page_section" class="pagination">
                    <ul class="pagination newpagination">
                        ${has_previous}            
                        <span class="current" style="margin-left:5px" >
                            Page ${ data.current_page } of ${ data.last }.
                        </span>                   
                        ${has_next}
                    </ul>
                    </div>`
                    $("#page_section").html(a_html)
            }
            function append_no_records_found(total, tbody_id, colspan){
                if (total == 0) {
                    no_record_html=`<tr id="product-1">  <td colspan='${colspan}'> No Records Found <td>
                                  </tr>` ;
                    $(`#${tbody_id}`).append(no_record_html)
                }
            }
            function append_html(counter,val,page_no){
                //loading the page #
                //console.log (val)
               
              
               var complete_status=''
               if (val.complete){
                complete_status ='Completed'
               }else {
                complete_status ='WIP'
               }


      a_html= `<tr id="product-${val.id }">
              <td>${val.transaction_id}</td>
              <td>${val.customer_details}</td>
              <td>${val.date_ordered}</td>
              <td>${val.currency_symbol}${numberWithCommas(val.total_price)}</td>
              <td>${complete_status}</td>
              <td class="text-right">
                <a style="color:inherit" href="/cus/order/${val.id}" data-toggle="tooltip" data-placement="bottom" 
                title='View Order'><i class="fa fa-eye"></i></a>
                <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                data-object-name="${val.id}"  data-item-id="${val.id}" 
                data-delete-url="/cus/delete_order_ajax/${val.id}/"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                title='Delete'> <i class="fas fa-trash"></i> 
              </td>
          </tr> `
                return a_html
            }
          
  });	


</script>

{% endblock %}