{% load static %}
{% load humanize %}
<!DOCTYPE HTML>
<html lang="en">

<head>
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Order Manager</title>
	{% endif %}
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap-theme.min.css' %}">
</head>

<body>
	&nbsp;<br>
	<div class="container">

	{% if error_message %}
	<div class="alert alert-danger">{{ error_message }}</div>
	{% endif %}

	{% if order %}

	<div class="row">
		<div class="col-sm-4 text-left">
			Please submit payment to:<br>
			<address>
			<strong> {{ order.company.name}} </strong><br>
			{{ order.company.street}} <br>
			{{ order.company.city}} , {{ order.company.country}} 
			</address>
		</div>
		<div class="col-sm-4 text-center">
			<h2>Order {{ order.id }}</h2>
			{{ order.date_ordered }}
		</div>
		<div class="col-sm-4 text-right">
			<div class="panel panel-default">
				<div class="panel-heading">Customer number: {{ order.customer.id }}</div>
				<div class="panel-body">
					{% if order.customer.name %}{{ order.customer.name }}<br>{% endif %}
					{% if order.customer.address1 %}{{ order.customer.address1 }}<br>{% endif %}
					{% if order.customer.address2 %}{{ order.customer.address2 }}<br>{% endif %}
					{% if order.customer.city %}{{ order.customer.city }}{% endif %}
					{% if order.customer.state %}{{ order.customer.state }}{% endif %}
					{% if order.customer.zip %}{{ order.customer.zip }}{% endif %}
				</div>
			</div>
		</div>
	</div>

	<!-- Invoice items -->

	<table class="table table-hover">
		<tr>
			<th>Item</th>
			<th>Description</th>
			<th>Cost</th>
			<th>Qty</th>
			<th>Total</th>
		</tr>
		{% for item in order.orderitem_set.all %}
		<tr>
			<td>{{ item.product }}</td>
			<td>{{ item.product.description }}</td>
			<td>{{order.currency.symbol}}{{ item.product.price | intcomma}}</td>
			<td>{{ item.quantity | intcomma}}</td>
			<td>{{order.currency.symbol}}{{ item.total | intcomma}}</td>
		</tr>
		{% endfor %}
	</table>

	<h2 class="text-right">Order total: {{order.currency.symbol}}{{ order.total_price | intcomma}}</h2>

	{% endif %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>