{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load widget_tweaks %}
{% for product in products %}
                      <tr id="product-{{product.id}}">
                         
                          
                          <td class="productCategories productData" name="categories">
                            {% for item in product.categories.all %}
                              {{ item.name }} 
                            {% endfor %} 
                          </td>

                           <td class="productName productData" name="name">{{product.name}}</td>

                          <td  class="productDescription productData" name="description" >{{product.description}}</td>
                          <td  class="productImage productData" name="image" >
                              {{product.image }}
                          </td> 
                          
                          <td class="productPrice productData" name="price">{{product.price | intcomma}}</td>

                          <td class="text-right productAction productData" name="action" >

                          
                            <a href="#"
                             style="color:inherit"><i class="fa fa-eye"></i>
                            </a>
                           
                            <!-- edit unlocked records -->
                            {% if not product.locked and edit_key %}
                             
                              <a class="product-edit show-form-update" href="#" data-url="{% url 'update_product' product.id %}" 
                              data-target="#modal-edit-product-div" style="color:inherit"><i class="fa fa-edit"></i>
                              </a>

                            {% endif %}
                          
                            <!-- delete unlocked -->
                            {% if not product.locked and lock_key %}
                             
                              <a href="{% url 'delete_product' product.id %}" 
                                 style="color: red" > <i class="fa fa-trash "></i> 
                              </a>
                            {% endif %}
                           
                              <!-- admin can lock unlocked records-->
                            {% if  product.locked and lock_key %}
                             
                               <a class="product-unlock" href="#" data-url="{% url 'unlock_product' product.id %}" 
                                  style="color:inherit"><i class="fa fa-lock"></i>
                                </a>
                            {% endif %}
                              <!-- admin unlock inactive record-->
                            {% if not product.locked and lock_key %}
                                <a class="product-lock" href="#" data-url="{% url 'lock_product' product.id %}" 
                                  style="color:inherit"><i class="fa fa-unlock"></i>
                                </a>
                            {% endif %}
  
                          </td>
                      </tr>
                  {% endfor %}