
{% extends 'investments_appraisal/mentor/index.html' %}

{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Projects</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">

{% endblock %}

{% block content_header %}
   
{% endblock %}



{% block content %}

 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
     
  </div><!-- End Breadcrumbs -->

 <!-- ======= Projects Section ======= -->  
   {% include 'customers/sections/sections_products.html' %} 
  
 
</main><!-- End #main -->


{%endblock content%}

{% block modal_divs %}
  
    
    <div class="modal fade" id="modal-product">
      <div id='dynamic-div' class="modal-dialog modal-lg">
        <div class="modal-content"></div>
      </div>
    </div>

{% endblock %} 


 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
 




{% block scripts %}
    <!-- Search Button JS -->
    <script src="{% static 'mentor/assets/js/search.js' %}"></script>

<script type="text/javascript">
  $('select').change(function() {
    first_time_searched= true
    $( "select option:selected" ).each(function() {
      window.location.href = "{{ request.path }}?page=" + $(this).val();
    });
  })
</script>

<script>
  $(document).ready(function(){
   
    //-------------------------------
    var search_cookie = getCookie('dynamic_search_mode')
    if (search_cookie =="on"){
      $("#btn-start-search").html('View All')
      $("#search_input").prop("disabled", false)
    }else {
      $("#btn-start-search").html('Toggle Search')
      $("#search_input").prop("disabled", true)
    }
     //------------------------   
    
    
    var search_val = $("#search_input").val().toLowerCase();
    var searchInput = $('#search_input');
    var search_val =  searchInput.val().toLowerCase();
    var page_pagenated = $("#page_pagenated").val();

    
    $("#search_input").on("keyup", function() {
      var search_val = $(this).val().toLowerCase();
      var page_pagenated = $("#page_pagenated").val();
		
      $("#product-table-tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(search_val) > -1)
      });
          
    });
    

    $("#btn-start-search").on("click", function() {
        var search_cookie = getCookie('dynamic_search_mode')
       
        if (search_cookie =="on"){// go off
           //var search_val = $(this).val();
          document.cookie = 'dynamic_search_mode=' + "" + ";domain=;path=/";
          $("#btn-start-search").html('View All')
          
          // truncate parameters when reloading
          url= trancate_parameters(window.location.href)
          window.location.href = url
          //location.reload()
        }else { // Light on
            //var search_val = $(this).val();
          document.cookie = 'dynamic_search_mode=' + "on" + ";domain=;path=/";
          $("#btn-start-search").html('Toggle Search')

         
          // truncate parameters when reloading
          url= trancate_parameters(window.location.href)
          console.log("Second Trancated",url)
          window.location.href = url
          //location.reload()

        }

       
       
    });

    
    $('body').on('click', '.show-form-update', function(){
        var btn = $(this);// fix button  delay
        $.ajax({
          url: btn.attr("data-url"),
          type: 'get',
          dataType:'json',
          beforeSend: function(){
            $('#modal-product').modal('show');
          },
          success: function(data){
            $('#modal-product .modal-content').html(data.html_form);
          }
        });
      }) 
    function updateToProductTabel(product){
        $("#productTable #product-" + product.id).children(".productData").each(function() {
            var attr = $(this).attr("name");
            if (attr == "name") {
              $(this).text(product.name);
            } else if (attr == "description") {
              $(this).text(product.description);
            } else if (attr == "price") {
              $(this).text(product.price);
            } else if (attr == "categories") {
              $(this).text(product.categories);
            } else if (attr == "image")  {
              $(this).text(product.image);
            }
          });
    }

   

 
      
      //{// for each update url
    $('body').on("submit",".product-form",function(e){
      e.preventDefault();
       // var form= $('#formid')[0];
        // var formData = new FormData(form)
        var data = new FormData(this);
        var formData
        var form = $(this);
        //var data = formData()
        
        $.ajax({
            url: form.attr('data-url'),
            //data: form.serialize(),
            data : data,
            type: form.attr('method'),
            dataType: 'json',
            processData:false,
            contentType: false,
            success: function(data){
              if(data.product){
                    // $('#productTable tbody').html(data.product_list);
                    if (data) {
                      updateToProductTabel(data.product);
                    }
                    $('#modal-product').modal('hide');
              } else {
                // $('#modal-product .modal-content').html(data.html_form)
              }
            }
          })
          return false;
      })
    

    
    $('body').on('click', '.product-lock',function(e){// for each update url
        e.preventDefault(); // prevent navigation
        var url = $(this).data('url'); // get the update form url
        console.log("url:", url)
        btn = e.target.id;      //get clicked button
        row = $(this).closest('tr');
       
        var formData = {
          'product_id': btn,
          csrfmiddlewaretoken: csrftoken,
          contentType: 'application/x-www-form-urlencoded',
          encode: true,
        };
      
        $.ajax({
            type: 'POST', 
            url: url,
            data: formData,
            dataType:  'json',
            success: function(data) { // on success..
              console.log("data", data)
              updateLOCKInnerHTML(data.data['id'])
                
            },
            error: function(xhr, ajaxOptions, thrownError) { // on error..
                
            }
        });
        return false; 
    });

    function updateLOCKInnerHTML(id){
        new_html = ` <a href="#"
                    style="color:inherit"><i class="fa fa-eye"></i>
                  </a>
                    <a class="product-unlock" href="#" data-url="/cus/unlock_product/${id}/" 
                      style="color:inherit"><i class="fa fa-lock"></i>
                    </a>   
                `;
        $("#productTable #product-" + id).children(".productData").each(function() {
            var attr = $(this).attr("name");

            if (attr == "action") {
              $(this).html(new_html);
            }
          });
    }

    function updateUNLOCKInnerHTML(id){
        new_html = ` <a href="#"
                  style="color:inherit"><i class="fa fa-eye"></i>
                  </a>
              
                  <a class="product-edit show-form-update" href="#" data-url="/cus/update_product/${id}/" 
                  data-target="#modal-edit-product-div" style="color:inherit"><i class="fa fa-edit"></i>
                  </a>
                
               

                  <a  href="#"  data-toggle="modal" data-target="#confirmdelete" 
                   data-object-name=""  data-item-id="${id}"
                    data-delete-url="/cus/delete_product/${id}/"  style="color: red" > <i class="fa fa-trash"></i> 
                  </a>

                    <a class="product-lock" href="#" data-url="/cus/lock_product/${id}/" 
                      style="color:inherit"><i class="fa fa-unlock"></i>
                    </a>   
                `;
        $("#productTable #product-" + id).children(".productData").each(function() {
            var attr = $(this).attr("name");

            if (attr == "action") {
              $(this).html(new_html);
            }
          });
    }
    $('body').on('click', '.close-modal', function (e) {
        $('#modal-product').modal('hide'); 
    })
    $('body').on('click', '.product-unlock',function(e){// for each update url 
        e.preventDefault(); // prevent navigation
        var url = $(this).data('url'); // get the update form url
        console.log("url:", url)
        btn = e.target.id;      //get clicked button
        row = $(this).closest('tr');
       
        var formData = {
          'product_id': btn,
          csrfmiddlewaretoken: csrftoken,
          contentType: 'application/x-www-form-urlencoded',
          encode: true,
        };
        // console.log("formData:", formData)
        console.log('current row:', row)
        $.ajax({
            type: 'POST', 
            url: url,
            data: formData,
            dataType:  'json',
            success: function(data) { // on success..
              updateUNLOCKInnerHTML(data.data['id'])
              // reload   until we fix the proplem----14 March 2021
              // location.reload()
            },
            error: function(xhr, ajaxOptions, thrownError) { // on error..
                
            }
        });
        return false; 
    });
               
	
  function trancate_parameters( urlencode){
    //get the head without parameters
    // href ='#'
    return urlencode.split("#")[0].split("?")[0]
  }
  });
  
  </script>

  <script type="text/javascript">
      function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
      var csrftoken = getToken('csrftoken'); 
      function getCookie(name) {
      // Split cookie string and get all individual name=value pairs in an array
      var cookieArr = document.cookie.split(";");

      // Loop through the array elements
      for(var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          /* Removing whitespace at the beginning of the cookie name
          and compare it with the given string */
          if(name == cookiePair[0].trim()) {
              // Decode the cookie value and return
              return decodeURIComponent(cookiePair[1]);
          }
      }

      // Return null if not found
      return null;
    }
      var search_cookie = getCookie('dynamic_search_mode')
      console.log(search_cookie)
      if(search_cookie == undefined){
          // cart = {}
          // console.log('Cart was created!')
          // document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
      }

    // console.log('Cart: ', cart)
</script>
{% endblock %}
{% block content_custom_menu_navbar %}
<!-- ======= Header ======= -->
{% include 'investments_appraisal/mentor/sections/section_nav_search.html' %}

{% endblock %}