{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load widget_tweaks %}


    <!--Header-->
   

    <div class="modal-header">
      <h4 class="modal-title myModalLabel">Edit Product Details [{{form.instance.name | truncatechars:15}}]</h4>
      <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>       
  </div>
    <!--Body-->
    <div class="modal-body">
        <form class="product-form form-horizontal" enctype="multipart/form-data" method="post" data-url="{% url 'update_product' pk=form.instance.id %}">
            {% csrf_token %}
           
              <div class="modal-body">
                

                     
              

                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    <div class="col-sm-4">
                      {{ form.name|add_class:"form-control" }}
                      {% for error in form.name.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                
                    <label class="col-sm-2 control-label" for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                    <div class="col-sm-4">
                      {{ form.price|add_class:"form-control" }}
                      {% for error in form.price.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                </div>
              </br>

              <div class="form-group row">
                  <label class="col-sm-2 control-label" for="{{ form.categories.id_for_label }}">{{ form.categories.label }}</label>
                  <div class="col-sm-4">
                    {{ form.categories|add_class:"form-control" }}
                    {% for error in form.categories.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
              
                  <label class="col-sm-2 control-label" for="{{ form.shop.id_for_label }}">{{ form.shop.label }}</label>
                  <div class="col-sm-4">
                    {{ form.shop|add_class:"form-control" }}
                    {% for error in form.shop.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>  
              </div>
              </br>
                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                  <div class="col-sm-10">
                    {{ form.description|add_class:"form-control" }}
                    {% for error in form.description.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
              </br>
                
                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                  <div class="col-sm-10">
                    {{ form.image|add_class:"form-control" }}
                    {% for error in form.image.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
              

                <!--Footer-->
              <div class="modal-footer">
                <button class="btn btn-outline-danger close-modal" data-dismiss="modal" aria-label="Close"
                    type="reset">Close
                </button>
                <button class="btn btn-danger" type="submit">Save</button>
            </div>
        </form>
    </div>