{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load widget_tweaks %}


    <!--Header-->
   

    <div class="modal-header">
      <h4 class="modal-title myModalLabel">Shipping Address</h4>
      <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>       
  </div>
    <!--Body-->
    <div class="modal-body">
              <div class="modal-body">
                {% if address.customer %}{{ address.customer.name }}<br>{% endif %}
                {% if address.customer %}{{ address.customer.phone }}<br>{% endif %}
                {% if address.customer %}{{ address.customer.email }}<br>{% endif %}
                {% if address.address %}<i>{{ address.address }}</i>{% endif %}
                {% if address.city %} &nbsp;<b>{{ address.city }}</b>{% endif %}
                {% if address.zipcode %}, <b>{{ address.zipcode }}</b>{% endif %}
              </div>
                <!--Footer-->
              <div class="modal-footer">
                <button class="btn btn-outline-danger close-modal" data-dismiss="modal" aria-label="Close"
                    type="reset">Close
                </button>
            </div>
    </div>