
<div class="row">
  <div class="col-md-3">
    <div class="small-box bg-green">
      <div class="inner">
        <h4>Total Orders</h4>
        <h3>{{ total_orders }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h4>Orders Delivered</h4>
        <h3>{{ delivered }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-red">
      <div class="inner">
        <h4>Orders Pending</h4>
        <h3>{{ pending }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-blue">
      <div class="inner">
        <h4>Orders Cancelled</h4>
        <h3>{{ cencelled }}</h3>
      </div>
    </div>
  </div>
</div>