<div class="modal fade" id="modal_add_model_macroeconomicparameters" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: auto !important">
<div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="macroeconomicparameters_label"> {% if macroeconomicparameters_record %} Edit {% else %}  Add {% endif %} macroeconomicparameters: {{usermodel.name}} </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">

                        
            <form method="POST" id='form-macroeconomicparameters'
                {% if macroeconomicparameters_record %} class="model-macroeconomicparameters-edit" data-url="{% url 'edit_model_macroeconomicparameters_ajax' macroeconomicparameters_record.id %}" 
                {% else %}  class="model-macroeconomicparameters-add"   data-url="{% url 'add_model_macroeconomicparameters_ajax' %}" 
            
                {% endif %} > 
                {% csrf_token %}

                {% include 'investments_appraisal/form_macroeconomicparameters.html' %}

            </div> 
            <!--Footer-->
            <div class="modal-footer">
                <button class="btn btn-outline-danger close-modal" data-dismiss="modal" aria-label="Close"
                    type="reset">Close
                </button>  
                <button class="btn btn-danger" type="submit" id ="submit_macroeconomicparameters">Save</button>
            
            </div>
            </form>
        </div>
</div>
</div>
