<div class="modal fade" id="modal_add_model_workingcapital" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: auto !important">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header">
                                <h4 class="modal-title" id="workingcapital_label"> {% if workingcapital_record %} Edit {% else %}  Add {% endif %} workingcapital: {{usermodel.name | truncatechars:15}} </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <!--Body-->
                            <div class="modal-body">

                                        
                            <form method="POST" id='form-workingcapital'
                                {% if workingcapital_record %} class="model-workingcapital-edit" data-url="{% url 'edit_model_workingcapital_ajax' workingcapital_record.id %}" 
                                {% else %}  class="model-workingcapital-add"   data-url="{% url 'add_model_workingcapital_ajax' %}" 
                            
                                {% endif %} > 
                                {% csrf_token %}
        
                                {% include 'investments_appraisal/form_workingcapital.html' %}

                            </div> 
                            <!--Footer-->
                            <div class="modal-footer">
                                <button class="btn btn-outline-danger close-modal" data-dismiss="modal" aria-label="Close"
                                    type="reset">Close
                                </button>  
                                <button class="btn btn-danger" type="submit" id ="submit_workingcapital">Save</button>
                            
                            </div>
                            </form>
                        </div>
                </div>
            </div>