<div class="box box-profile">
    <div class="box-body" id='depreciation_section'>
        <h4 class="box-title" style="color:blue">Depreciation</h4>
        <div class="box-description view-section" name='my_depreciation_section'>
            {%if depreciation_record %}
                <!-- Edit/Change -->
                <div class="table-responsive">
                    <table id="depreciationTable" class="table table-striped" >
                        <thead>
                        </thead>
                        <tbody id="depreciation-table-tbody">
                            <tr id="depreciation-economic_life_of_machinery" >
                                <th scope="row">Economic life of machinery</th>
                                <td class="depreciationAction depreciationData" name="economic_life_of_machinery" >{{depreciation_record.economic_life_of_machinery}}</td>                                                    
                            </tr>
                            <tr id="depreciation-economic_life_of_buildings" >
                                <th scope="row">Economic life of buildings</th>
                                <td class="depreciationAction depreciationData"  name="economic_life_of_buildings">{{depreciation_record.economic_life_of_buildings}}</td>                                                    
                            </tr>
                            <tr id="depreciation-tax_life_of_machinery" >
                                <th scope="row">Tax life of machinery</th>
                                <td class="depreciationAction depreciationData"  name="tax_life_of_machinery">{{depreciation_record.tax_life_of_machinery}}</td>                                                    
                            </tr>

                            <tr id="depreciation-tax_life_of_buildings" >
                                <th scope="row">Tax life of buildings</th>
                                <td class="depreciationAction depreciationData"  name="tax_life_of_buildings">{{depreciation_record.tax_life_of_buildings}}</td>                                                    
                            </tr>
                            <tr id="depreciation-tax_life_of_soft_capital_costs" >
                                <th scope="row">Tax life of soft capital costs</th>
                                <td class="depreciationAction depreciationData"  name="tax_life_of_soft_capital_costs">{{depreciation_record.tax_life_of_soft_capital_costs}}</td>                                                    
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                 <!-- EDIT MODEL -->
                 <a class="model-edit show-form-update" href="#" data-url="{% url 'update_model_depreciation_ajax' depreciation_record.id %}" 
                 data-target="#modal-edit-product-div" data-toggle="tooltip" data-placement="bottom" 
                 title='Edit Depreciation'><i  class="fas fa-edit"></i>
             </a>
            {% else %}
                 <!-- Add For First Time -->                                 
                 <a class="model-edit show-form-update" href="#" data-url="{% url 'add_model_depreciation_ajax2' usermodel.id %}" 
                 data-target="#modal-edit-product-div" data-toggle="tooltip" data-placement="bottom" 
                 title='Add Depreciation'><i  class="fas fa-plus"></i>
             </a>
            {% endif%}
        </div>
    </div>
</div>
