<div class="box box-profile">
    <div class="box-body" id='financing_section'>
        <h4 class="box-title" style="color:blue">Financing Details</h4>
        <div class="box-description view-section " name='my_financing_section'>
            {%if financing_record %}
                <!-- Edit/Change -->
                <div class="table-responsive">
                    <table id="financingTable" class="table table-striped" >
                        <thead>
                        </thead>
                      
                        <tbody id="financing-table-tbody">
                            <tr id="financing-real_interest_rate" >
                                <th scope="row">Interest rate (real)</th>
                                <td class="financingAction financingData" name="real_interest_rate" >{{financing_record.real_interest_rate}}</td>                                                    
                            </tr>
                            <tr id="financing-risk_premium" >
                                <th scope="row">Risk premium</th>
                                <td class="financingAction financingData"  name="risk_premium">{{financing_record.risk_premium}}</td>                                                    
                            </tr>
                            <tr id="financing-num_of_installments" >
                                <th scope="row"># of Installments</th>
                                <td class="financingAction financingData"  name="num_of_installments">{{financing_record.num_of_installments}}</td>                                                    
                            </tr>

                            <tr id="financing-grace_period" >
                                <th scope="row">Grace period</th>
                                <td class="financingAction financingData" name="grace_period" >{{financing_record.grace_period}}</td>                                                    
                            </tr>
                            
                            <tr id="financing-equity" >
                                <th scope="row">Equity</th>
                                <td class="financingAction financingData"  name="equity">{{financing_record.equity}}</td>                                                    
                            </tr>

                            <tr id="financing-senior_debt" >
                                <th scope="row">Senior debt</th>
                                <td class="financingAction financingData"  name="senior_debt">{{financing_record.senior_debt}}</td>                                                    
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

                    <!-- EDIT MODEL -->
                    <a class="model-edit show-form-update" href="#" data-url="{% url 'update_model_financing_ajax' financing_record.id %}" 
                        data-target="#modal-edit-product-div" data-toggle="tooltip" data-placement="bottom" 
                        title='Edit Financing'><i  class="fas fa-edit"></i>
                    </a>
            {% else %}
                <!-- Add For First Time -->                                 
                <a class="model-edit show-form-update" href="#" data-url="{% url 'add_model_financing_ajax2' usermodel.id %}" 
                    data-target="#modal-edit-product-div" data-toggle="tooltip" data-placement="bottom" 
                    title='Add Financing'><i  class="fas fa-plus"></i>
                </a>
            {% endif%}
        </div>
    </div>
</div>