
<div class="accordion-item" id='taxes_accordion'>

    <h4 class="accordion-header" id="taxes_header" >
      <button id="taxes_accordion_button" type="button" {%if taxes_record %} class="accordion-button section-complete" {% else  %} 
                   class="accordion-button section-incomplete" {% endif %} data-toggle="collapse" 
        data-target="#taxes_target" aria-expanded="false" aria-controls="taxes_target">
        Taxes Details
      </button>
    </h4>
     
    
    <div id="taxes_target" class="accordion-collapse collapse" aria-labelledby="taxes_header" data-parent="#accordionExample">
      <div class="accordion-body" id='taxes_section'>
        <div class="box-description view-section" name='my_taxes_section'>
            {%if taxes_record %}
                <!-- Edit/Change -->
                <div class="table-responsive">
                    <table id="taxesTable" class="table table-striped" >
                        <thead>
                        </thead>
                        <tbody id="taxes-table-tbody">
                            <tr id="taxes-import_duty" >
                                <th scope="row">Import duty</th>
                                <td class="taxesAction taxesData" name="import_duty" >{{taxes_record.import_duty}}</td>                                                    
                            </tr>
                            <tr id="taxes-sales_tax" >
                                <th scope="row">Sales tax</th>
                                <td class="taxesAction taxesData"  name="sales_tax">{{taxes_record.sales_tax}}</td>                                                    
                            </tr>
                            <tr id="taxes-corporate_income_tax" >
                                <th scope="row">Corporate income tax</th>
                                <td class="taxesAction taxesData"  name="corporate_income_tax">{{taxes_record.corporate_income_tax}}</td>                                                    
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn btn-primary btn-round" data-toggle="modal"
                  data-target="#modal_add_model_taxes"> <i class="fas fa-edit"></i></a>
            {% else %}
                <!-- Add For First Time -->
                <a href="#" class="btn btn-danger btn-round" data-toggle="modal"
                data-target="#modal_add_model_taxes"> <i class="fas fa-plus"></i></a>
            {% endif%}
        </div>
      </div>
    </div>
</div>
