<div class="box box-profile">
    <div class="box-body" id='workingcapital_section'>
        <h4 class="box-title" style="color:blue">Working Capital</h4>
        <div class="box-description view-section" name='my_workingcapital_section'>
            {%if workingcapital_record %}
                <!-- Edit/Change -->
                <div class="table-responsive">
                    <table id="workingcapitalTable" class="table table-striped" >
                        <thead>
                        </thead>
                        <tbody id="workingcapital-table-tbody">
                            <tr id="workingcapital-accounts_receivable" >
                                <th scope="row">Accounts receivable</th>
                                <td class="workingcapitalAction workingcapitalData" name="accounts_receivable" >{{workingcapital_record.accounts_receivable}}</td>                                                    
                            </tr>
                            <tr id="workingcapital-accounts_payable" >
                                <th scope="row">Accounts payable</th>
                                <td class="workingcapitalAction workingcapitalData"  name="accounts_payable">{{workingcapital_record.accounts_payable}}</td>                                                    
                            </tr>
                            <tr id="workingcapital-cash_balance" >
                                <th scope="row">Cash balance</th>
                                <td class="workingcapitalAction workingcapitalData"  name="cash_balance">{{workingcapital_record.cash_balance}}</td>                                                    
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a class="model-edit show-form-update" href="#" data-url="{% url 'update_model_working_capital_ajax' workingcapital_record.id %}" 
                  data-target="#modal-edit-product-div" data-toggle="tooltip" data-placement="bottom" 
                  title='Edit Working  Capital'><i  class="fas fa-edit"></i>
                </a>
            {% else %}
                <!-- Add For First Time -->
                <a class="model-edit show-form-update" href="#" data-url="{% url 'add_model_working_capital_ajax2' usermodel.id %}" 
                    data-target="#modal-edit-product-div" data-toggle="tooltip" data-placement="bottom" 
                    title='Add Working Capital'><i  class="fas fa-plus"></i>
                </a>
            {% endif%}
        </div>
    </div>
</div>