{% load widget_tweaks %}
<div class="form-group row">
    <div class="col-sm-5  {% if feedlotdesignparameters_form.usermodel.errors %} has-error{% endif %}" style="display:none">
      {{ feedlotdesignparameters_form.usermodel|add_class:"form-control hidden" }}
      {% for error in feedlotdesignparameters_form.usermodel.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
</div>

<div class="form-group row"> 
    <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.length.id_for_label }}">{{ feedlotdesignparameters_form.length.label }}</label>
    <div class="col-sm-5  {% if feedlotdesignparameters_form.length.errors %} has-error{% endif %}">
      {{ feedlotdesignparameters_form.length|add_class:"form-control" }}
      {% for error in feedlotdesignparameters_form.length.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.width.id_for_label }}">{{ feedlotdesignparameters_form.width.label }}</label>
    <div class="col-sm-5  {% if feedlotdesignparameters_form.width.errors %} has-error{% endif %}">
      {{ feedlotdesignparameters_form.width|add_class:"form-control" }}
      {% for error in feedlotdesignparameters_form.width.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
 </div>

<div class="form-group row">
    <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.sqm.id_for_label }}">{{ feedlotdesignparameters_form.sqm.label }}</label>
    <div class="col-sm-5  {% if feedlotdesignparameters_form.sqm.errors %} has-error{% endif %}">
      {{ feedlotdesignparameters_form.sqm|add_class:"form-control" }}
      {% for error in feedlotdesignparameters_form.sqm.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
</div>

<div class="form-group row">
  <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.pen_area.id_for_label }}">{{ feedlotdesignparameters_form.pen_area.label }}</label>
  <div class="col-sm-5  {% if feedlotdesignparameters_form.pen_area.errors %} has-error{% endif %}">
    {{ feedlotdesignparameters_form.pen_area|add_class:"form-control" }}
    {% for error in feedlotdesignparameters_form.pen_area.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.sqm_per_cattle.id_for_label }}">{{ feedlotdesignparameters_form.sqm_per_cattle.label }}</label>
  <div class="col-sm-5  {% if feedlotdesignparameters_form.sqm_per_cattle.errors %} has-error{% endif %}">
    {{ feedlotdesignparameters_form.sqm_per_cattle|add_class:"form-control" }}
    {% for error in feedlotdesignparameters_form.sqm_per_cattle.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.total_cattle_per_pen_per_cycle.id_for_label }}">{{ feedlotdesignparameters_form.total_cattle_per_pen_per_cycle.label }}</label>
  <div class="col-sm-5  {% if feedlotdesignparameters_form.total_cattle_per_pen_per_cycle.errors %} has-error{% endif %}">
    {{ feedlotdesignparameters_form.total_cattle_per_pen_per_cycle|add_class:"form-control" }}
    {% for error in feedlotdesignparameters_form.total_cattle_per_pen_per_cycle.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.num_of_months_per_cycle.id_for_label }}">{{ feedlotdesignparameters_form.num_of_months_per_cycle.label }}</label>
  <div class="col-sm-5  {% if feedlotdesignparameters_form.num_of_months_per_cycle.errors %} has-error{% endif %}">
    {{ feedlotdesignparameters_form.num_of_months_per_cycle|add_class:"form-control" }}
    {% for error in feedlotdesignparameters_form.num_of_months_per_cycle.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.cattle_per_pen_per_year.id_for_label }}">{{ feedlotdesignparameters_form.cattle_per_pen_per_year.label }}</label>
  <div class="col-sm-5  {% if feedlotdesignparameters_form.cattle_per_pen_per_year.errors %} has-error{% endif %}">
    {{ feedlotdesignparameters_form.cattle_per_pen_per_year|add_class:"form-control" }}
    {% for error in feedlotdesignparameters_form.cattle_per_pen_per_year.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-7 col-form-label" for="{{ feedlotdesignparameters_form.num_of_feedlots.id_for_label }}">{{ feedlotdesignparameters_form.num_of_feedlots.label }}</label>
  <div class="col-sm-5  {% if feedlotdesignparameters_form.num_of_feedlots.errors %} has-error{% endif %}">
    {{ feedlotdesignparameters_form.num_of_feedlots|add_class:"form-control" }}
    {% for error in feedlotdesignparameters_form.num_of_feedlots.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
  </div>
</div>


