{% load static %}
<div class="dropdown-menu dropdown-multicol" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-row">
        
        <a  class="dropdown-item" href="{% url 'user_models' %}">
            <!-- <span style="float:left;display: block;"> 
                <img id="ctl00_XXX" src="{% static 'bootstrap_new/img/fish/Chrome Store/128x128.png' %}" height="25" style="border-width:0px;" /> -->
            </span>Investment Appraisal</span>
        </a>  

        <a class="dropdown-item" href="#">Markets & Networking</a>
        <a class="dropdown-item" href="#">Fund Start Up</a>
    </div>

    <div class="dropdown-row">
        <a class="dropdown-item" href="#">Merge Business</a>
        <a class="dropdown-item" href="#">Recapitalise Business</a>
        <a class="dropdown-item" href="#">Pitching</a>
    </div>

    <div class="dropdown-row">
        <a class="dropdown-item" href="#">Invest with Us</a>
        <a class="dropdown-item" href="#">Market Analysis</a>
        <a class="dropdown-item" href="#">Track Investments</a>
    </div>
,</div>