{% load static %}


    <div class="dropdown-menu dropdown-multicol2" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-col">
            <a  class="dropdown-item" href="#" >
                <span style="float:left;display: block;"> 
                    <img id="ctl00_XXX" src="{% static 'bootstrap_new/img/fish/Chrome Store/128x128.png' %}" height="25" style="border-width:0px;" />
                </span>Fish</span>
            </a>  
    
            <a class="dropdown-item" href="#">Bananas</a>
            <a class="dropdown-item" href="#">Apples</a>
        </div>
        <div class="dropdown-col">
            <a class="dropdown-item" href="#">Potatoes</a>
            <a class="dropdown-item" href="#">Leeks</a>
            <a class="dropdown-item" href="#">Cauliflowers</a>
        </div>
        <div class="dropdown-col">
            <a class="dropdown-item" href="#">Beef</a>
            <a class="dropdown-item" href="#">Pork</a>
            <a class="dropdown-item" href="#">Venison</a>
        </div>
    </div>