{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags_extras %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Personal Investors List</title>
{% endblock %}


{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
<style>
    @media
   only screen 
 and (max-width: 760px), (min-device-width: 768px) 
 and (max-device-width: 1024px)  {

     /* Force table to not be like tables anymore */
     table, thead, tbody, th, td, tr {
         display: block;
     }

     /* Hide table headers (but not display: none;, for accessibility) */
     thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
     }

 tr {
   margin: 0 0 1rem 0;
 }
   
 tr:nth-child(odd) {
   background: #ccc;
 }
 
     td {
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 50%;
     }

     td:before {
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 0;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
     }
         /*
         Label the data
     You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
         */
         td:nth-of-type(1):before { content: "#"; }
         td:nth-of-type(2):before { content: "Email"; }
         td:nth-of-type(3):before { content: "Title"; }
         td:nth-of-type(4):before { content: "Motivation"; }
         td:nth-of-type(5):before { content: "Value"; }
         td:nth-of-type(6):before { content: "Date Created."; }
         td:nth-of-type(7):before { content: "Application Stage"; }
         td:nth-of-type(8):before { content: "Actions"; } 
     }

 </style>
{% endblock %}

{% block content_header %}   
{% endblock %}


{% block content %} 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
  </div>
  <!-- End Breadcrumbs -->
  <!---Removed padding from 70px-- 0px-->
<section style= 'padding: 5px 0;' id="projects" class="projects">  
    <div class="container box-element" data-aos="fade-up">
       <!-- ======= Breadcrumbs ======= -->
       <input id="user_doc_name" type="hidden" value='{{user_doc_name}}'>
        <div class="row">
            <ol class="breadcrumb" >
                <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                    data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
                
               <li class="breadcrumb-item" ><a href="{% url 'user_businesses' %}" class ="badge rounded-pill bg-success" 
                data-toggle="tooltip" data-placement="bottom" title='My Businesses'><i class="fas fa-industry"></i></a></li>
        
                             
                <li class="breadcrumb-item" ><a href="{% url 'edit-investment' investment.id %}" class ="badge rounded-pill bg-success" 
                    data-toggle="tooltip" data-placement="bottom" title='Manage Business'><i class="fas fa-wrench"></i></a></li>
          
                <li class="breadcrumb-item" >
                    <label id="total_projects_searched">Personal Investors</label>
                </li>  
            </ol>

      
        </div> 
   
      
     
        <div id="user_div" class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        {% if models %}
                        <h4 style="text-align:center;"> <b>Investors</b> pledges for: <i>{{investment.name|truncatechars:50}}</i> [{{total}}]</h4>
                        <h5>{{investment.motivation |truncatechars:150}} valued at  <b>${{investment.total_value |intcomma}}</b></h5>
                        <hr>
                        <a href="#" class ="filter-status badge rounded-pill bg-warning text-dark">Analytics</a>
                        <a href="#" class="filter-status badge rounded-pill bg-warning text-dark ">Rank Your Investors</a>
                        <a href="#" class="filter-status badge rounded-pill bg-light text-dark">Engaged : {{investment.engaged_investment_percent |intcomma}}%</a>
                        <a href="#" class="filter-status badge rounded-pill bg-light text-dark">All : {{investment.current_investment_percent |intcomma}}%</a>
                        
                        <a href="#" 
                            {% if investment.closed_status %} class="filter-status badge rounded-pill bg-primary text-dark" {%else%}
                                                            class="filter-status badge rounded-pill bg-light text-dark" {%endif%}  >
                            {{investment.time_to_close_attr}} 
                        </a>
                        <a href="#" id="run-excel" class ="download-investors-excel badge rounded-pill bg-light text-dark"  data-url="{% url 'download-investor-list' investment.id %}"
                           data-toggle="tooltip" data-placement="bottom" title='Download as Excel'><i class="run-excel fas fa-file-excel"></i>
                        </a>
                     
              
                        
                        <div class="table-responsive">
                            <table role="table" id="userBusinessTable" class="table table-striped">
                                 <thead role="rowgroup" class="thead-dark">
                                    <tr role="row"><th style="width: 1%" >#</th>    
                                        <th role="columnheader" style="width: 9%" >Email</th>
                                        <th role="columnheader"  style="width: 9%" >Title</th>
                                        <th role="columnheader"  style="width: 25%" >motivation</th>
                                        <th role="columnheader"  style="width: 8%" >Value</th>
                                        <th role="columnheader"  style="width: 17%" >Date Created</th>
                                        <th role="columnheader"  style="width: 10%" >Application Stage</th>
                                        <th role="columnheader" style="width: 7%" class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody role="rowgroup" id="userbusiness-table-tbody">
                                {% for item in models  %}
                                <tr role="row" id="item-{{item.id}}" >
                                    <td role="cell" class="modelData" name="counter" >{{forloop.counter}}</td>
                                    <td role="cell" class="modelData" name="name" >{{item.user.email}}</td>
                                    <td role="cell" class="modelData" name="name" >{{item.name}}</td>
                                    <td role="cell" class="modelData" name="motivation" >{{item.motivation|truncatechars:45}}</td>
                                    <td role="cell" class="modelData" name="total_value" >${{item.value| intcomma}}</td>
                                         
                                    <td role="cell" class="modelData" name="date_created" >{{ item.date_created }}</td>
                                    <td role="cell" class="modelData" name="application_status" >{{ item.application_status }}</td>
                                    <td role="cell" class="text-right modelAction modelData" name="action">
                                        
                                        <a href="{% url 'investor-details' item.id investment.id  %}"
                                            style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                            title='View Investor Info'><i class="fas fa-eye"></i>
                                        </a>
                                       
                                      </td>
                                   
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                           
                        </div>

                        {%else%}

                        <h3>No Investor Available</h3>

                        {%endif%}

                    </div>

                </div>
            </div>
        </div>
          
          
  
      </div>
    
    
  
    </div>
   
  </section><!-- End User Section -->
  

 

 
  
</main><!-- End #main -->

{%endblock%}



{% block modal_divs %}
    <!-- EDIT DISPLAY HOLDER -->
    <div class="modal fade" id="modal-usermodel">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

     <!-- Delete confirmation modal -->
     <div class="modal fade" id="confirmdelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                    <input type="button" class="delete-button  btn btn-danger" id="delete-button"
                            name="delete-button" value="Yes" data-url="" tr-id="" item-id="">
                </div>
            </div>
        </div>
    </div>



    <!-- Modal: modalAdd New Investment -->
    <div class="modal fade" id="modal_add_new_business" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="overflow-y: auto !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title myModalLabel">Add Your Business</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">

                    {% include 'trading/user_business_modal.html' %}
            

                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block scripts %}
<script>
    
        function checkPosition() {
            //mobile
           
            if (
                (window.matchMedia('(max-width: 760px)').matches) || 
                ((window.matchMedia('min-device-width: 768px').matches) && (window.matchMedia('max-device-width: 1024px').matches)) 
                ) {
                mobile_viewa()
            } else {
                desktop_viewa() 
            }
        }

     

        function mobile_viewa(){
            $('table').removeClass('table table-striped');
        }

        function desktop_viewa(){
            $('table').addClass('table table-striped');
        }

        $(window).resize(function() {
            console.log('width: ' , $(this).width())
            
          if ($(this).width() < 744) {
            mobile_viewa()
          } else {
            desktop_viewa()
          }
      });     
    $(document).ready(function (){ 
        $("#investments a:first").addClass( "active") 
        $("#enterprenuer a:first").addClass( "active") 
        $("#registerbusiness a:first").addClass( "active")
        
        //does it on start
        checkPosition()


   })
     $('#confirmdelete').on('show.bs.modal', function(e) {
        var name = $(e.relatedTarget).data('object-name');
        var url = $(e.relatedTarget).data('delete-url');
        var comment_id = $(e.relatedTarget).data('item-id');
        $('#confirmdelete .modal-body').text("Are you sure you want to delete " + name + "?");
        $('#confirmdelete .modal-footer input').attr('data-url', url);
        $('#confirmdelete .modal-footer input').attr('item-id', comment_id);
    });

    function truncChar2(str,length){
            var myTruncatedString = str.substring(0,length-1);              
           
            return myTruncatedString
        }  

    $('body').on('click', '.delete-button', function (e) {
            e.preventDefault();
            var tr_id =$('#delete-button').attr('item-id')
            row = $('#item-'+ tr_id.trim());
            var formData = {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            };
            $.ajax({
                type: 'POST',      
                url:   $('#delete-button').attr('data-url'), 
                encode: true,
                contentType: 'application/x-www-form-urlencoded',
                crossDomain: false,
                dataType: 'json',
                data: formData,     // our data object
                success: function (data) {
                    $('.close-modal').click()               
                    row.fadeOut(1000, function () {
                        //remove the row deleted
                        $(this).remove();
                        // if deleted page make the page disappear, point to prev page
                        
                       
                    });
                    // if deleting page one and there are more pages behind.... push al those pages
                  
                },
                error: function (exception) {
                    alert('Exeption:' + exception);
                }
            });
        });
        $('body').on('click', '.close-modal', function (e) {
            $('#modal-usermodel').modal('hide'); 
        })
          //------LOAD THE FORM ON MODAL DIV----------
        $('body').on('click', '.show-form-update', function(e){
              e.stopPropagation() 
              var btn = $(this);// fix button  delay
              $.ajax({
              url: btn.attr("data-url"),
              type: 'get',
              dataType:'json',
              beforeSend: function(){
                  $('#modal-usermodel').modal('show');
              },
              success: function(data){
                  $('#modal-usermodel .modal-content').html(data.html_form);
              }
              });
          })
          //EDIT  MODEL
        //ADD MODEL FORM
        $('body').on("submit",".model-form-add",function(e){
              e.preventDefault();            
              var data = new FormData(this);
              var formData
              var form = $(this);
              //console.log('grgrgr')
              $.ajax({
                  url: form.attr('data-url'),
                  //data: form.serialize(),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(data){ 
                      //console.log('added data' ,data.model)
                      if(data.model){
                          //console.log(data.model)
                          appendTable(data.model)
                          $('.close-modal').click()
                          //update paging
                          if (data.total_pages){
                              updatePaging(data.total_pages)
                          }
                         
                      

                      } else {
                          // ADDITION NOT SUCCESSFUL
                          $('.public_toggle_form-errors').html('');
                          if (data['error']) {
                              var form_vars=['__all__','name','motivation','category', 'total_value','creater']
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data['error'][name_var]){
                                      a_html = 	`<div class='alert alert-danger alert dismissable'>
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                      </div> ` ;
                                      $('.public_toggle_form-errors').append(a_html)
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                              //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);

                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
        function appendTable(item){  
            //console.log(item) 
            var js_date_created = new Date(item.date_created) 
            a_html =`
                <tr id="item-${item.id}" >
                    <td><i class="fas fa-edit"></i></td>
                    <td class="modelData" name="name" >${item.name}</td>
                    <td class="modelData" name="motivation" >${item.motivation}</td>
                    <td class="modelData" name="category" >${item.category}</td>
                    <td class="modelData" name="total_value" >${item.total_value}</td>
                    <td class="modelData" name="current_investment" >${item.current_investment}</td>
                    <td class="modelData" name="investors_count" >${item.investors_count}</td>
                    
                        
                    <td class="modelData" name="date_created" >${js_date_created}</td>
                    <td class="text-right modelAction modelData" name="action">
                        <a href="#"
                            style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                            title='View Business'><i class="fas fa-eye"></i>
                        </a>

                            <!-- EDIT MODEL -->
                        <a class="model-edit show-form-update" href="#" data-url="/tr/update_investment_ajax/${item.id}/" 
                            data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                            title='Edit Model'><i  class="fas fa-edit"></i>
                        </a>
                            
                        <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                            data-object-name="${ item.name }"  data-item-id="${item.id}" 
                            data-delete-url="/tr/delete_investment_ajax/${item.id}/"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                            title='Delete' > <i class="fas fa-trash"></i> 
                        </a>

                        
                        </td>
                    
                </tr>
                 `
                $("#userbusiness-table-tbody").append(a_html) 
            }
      
        function updateTable(item){
            //after edit update the table
            $("#userbusiness-table-tbody #item-" + item.id).children(".modelData").each(function() {
                //console.log(item.name)
                var attr = $(this).attr("name");
                if (attr == "motivation") {
                    $(this).text(item.motivation);
                } else if (attr == "category") {
                    $(this).text(item.category);
                } else if (attr == "name") {
                    $(this).text(item.name);   
                } else if (attr == "total_value") {
                    $(this).text(item.total_value);
                } else if (attr == "current_investment") {
                    $(this).text(item.current_investment);
                
                } 
            });
        }  
        $('body').on("submit",".model-form-edit",function(e){
              e.preventDefault();
              var data = new FormData(this);
              var formData
              var form = $(this);
              //console.log('grgrgr aaaaa3333')
              var url=form.attr('data-url')
              $.ajax({
                  url: form.attr('data-url'),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(data){
                      if(data.model){
                          //console.log(data.model)
                          $('#modal-usermodel').modal('hide');
                          $('.close-modal').click()
                          updateTable(data.model);
                          if (data.model.current_investment){
                            $('#current_investment').html(`${data.model.current_investment}`);
                          }
                          if (data.model.current_investment){
                              $('#current_investment_value').html(`${data.model.current_investment} of ${data.model.total_value}`);
                          }
                          if (data.model.user_stake){
                              $('#user_stake').html(`${data.model.user_stake}%`);
                          }
                          
                          if (data.model.investors_count){
                            $('#investors_count').html(`${data.model.investors_count}`);
                          }

                        //   var header_text= `${data.model.name} valued @ $${numberWithCommas(model.total_value)} </h3>`
                        //   $('#header_text').html(`${header_text}`);
                          

                          
                      } else {
                          $('.public_toggle_form-errors').html('');
                          if (data.error) {
                              var form_vars=['__all__','investment','user','name', 'motivation','value']//,
                      
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data.error[name_var]){
                                  a_html = 	`<div class='alert alert-danger alert dismissable'>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                  </div> ` ;
                                  $('.public_toggle_form-errors').append(a_html)
                                  
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                              }, 4000);
                          //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();                           

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
       
       
          $('body').on('click', '.download-investors-excel', function(){
        
                $('#run-excel').prop('disabled', true);
                $('.run-excel').css('color', 'red');
                var url =  $(this).attr("data-url")
                $.ajax({
                    type: 'GET',
                        cache: false,
                        url: url,                        
                        xhrFields: {
                            // make sure the response knows we're expecting a binary type in return.
                            // this is important, without it the excel file is marked corrupted.
                            responseType: 'arraybuffer'
                        }
                            
                }).done(function (data, status, xmlHeaderRequest) {
                            // console.log(data)
                            // console.log(status)
                            // console.log(xmlHeaderRequest)
                            var downloadLink = document.createElement('a');
                            var blob = new Blob([data],
                                {
                                    type: xmlHeaderRequest.getResponseHeader('Content-Type')
                                });
                            var url = window.URL || window.webkitURL;
                            var downloadUrl = url.createObjectURL(blob);
                            var now_ =new Date()
                            var get_month = now_.getMonth()+ 1
                            var fileName = truncChar2($('#user_doc_name').val(),25)  + "_"+  now_.getFullYear() + "_" + 
                                           get_month  + "_"+ now_.getDate()  + "_"+ now_.getHours()  + "_"+ 
                                           now_.getMinutes() + "_"+  now_.getSeconds()//'{{user_doc_name}}';

                            if (typeof window.navigator.msSaveBlob !== 'undefined') {
                                window.navigator.msSaveBlob(blob, fileName);
                            } else {
                                if (fileName) {
                                    if (typeof downloadLink.download === 'undefined') {
                                        window.location = downloadUrl;
                                    } else {
                                        downloadLink.href = downloadUrl;
                                        downloadLink.download = fileName;
                                        document.body.appendChild(downloadLink);
                                        downloadLink.click();
                                    }
                                } else {
                                    window.location = downloadUrl;
                                }

                                setTimeout(function () {
                                    url.revokeObjectURL(downloadUrl);
                                   
                                },100);
                            }
                            //delay resetting
                            window.setTimeout(function() {
                                $('#run-excel').prop('disabled', false);
                                $('.run-excel').css('color', 'green');
                            }, 4000);
                        });
            });
</script>
{% endblock %}
