
{% extends 'investments_appraisal/mentor/index.html' %}<!--investments_appraisal/main.html---->
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
   <title>Investment Details</title>
{% endblock %}


{% block stylesheets %}
 
{% endblock %}

{% block content_header %}
   
{% endblock %}


{% block content %}

 
<main id="main">
   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs" data-aos="fade-in">
   </div>
   <!-- End Breadcrumbs -->
    <!-- ======= Project Details Section ======= -->
  {% include 'trading/sections/section_investment_details_edit.html' %} 
  <!-- Each project write it own DATA -->
  {% if model.category.uniqueid %}   
      <!-- ======= Project Details Tabs Section ======= -->
    {% with template_tab_name="trading/sections/section_investment_details_tab_edit.html" %}
      {% include template_tab_name %}
    {% endwith %}
  {% endif %}

  
</main><!-- End #main -->


{%endblock content%}

{% block modal_divs %}
    <!-- EDIT DISPLAY HOLDER -->
    <div class="modal fade" id="modal-usermodel">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="confirmdelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                    <input type="button" class="delete-button  btn btn-danger" id="delete-button"
                            name="delete-button" value="Yes" data-url="" tr-id="" model-id="">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: modalAdd New Investment -->
    <div class="modal fade" id="modal_add_new_investor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="overflow-y: auto !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title myModalLabel">Add Your Investment Pledge</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">

                    {% include 'trading/user_investor_modal.html' %}
            

                </div>
            </div>
        </div>
    </div>
{% endblock %} 

 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% block scripts %}
  <script src="{% static 'basic_ui/js/input-range.js' %}"></script>
  <script>
       
        var investment_capital = 0
        var curr_pledge = 0

        var user_is_owner = '{{is_user_record_owner}}'
        var first_entry = '{{first_entry}}'
        var is_user_investor ='{{is_user_investor}}'
        $(document).ready(function (){ 
            $("#investments a:first").addClass( "active") 
            $("#investors a:first").addClass( "active") 
            $("#iamaninvestor a:first").addClass( "active")  
            
            function numberWithCommas(x) {
                var parts = x.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            }
            
        
           //------LOAD THE FORM ON MODAL DIV----------
           $('body').on('click', '.show-form-update', function(e){
              e.stopPropagation() 
              var btn = $(this);// fix button  delay
              $.ajax({
              url: btn.attr("data-url"),
              type: 'get',
              dataType:'json',
              beforeSend: function(){
                  
                  $('#modal-usermodel').modal('show');
              },
              success: function(data){
                   console.log(btn.attr("data-url"))
                   //validate user
                    

                  user_is_owner= data.user_is_owner 
                  is_user_investor= data.is_user_investor_bool 
                  investment_capital=data.total_value
                  curr_pledge=data.value   

                  $('#modal-usermodel .modal-content').html(data.html_form);
              }
              });
          })
          //EDIT  MODEL
          
          $('body').on("click",".close-modal",function(e){
              e.stopPropagation()
              $('#modal-usermodel').modal('hide');
          })
          //ADD MODEL FORM
          $('body').on("submit",".model-form-add",function(e){
              e.preventDefault();            
              var data = new FormData(this);
              var formData
              var form = $(this);
          
              $.ajax({
                  url: form.attr('data-url'),
                  //data: form.serialize(),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(data){ 
                      //console.log('added data' ,data.model)
                      if(data.model){
                          $('.close-modal').click()
                          //update paging
                          if (data.total_pages){
                              updatePaging(data.total_pages)
                          }
                          //click first instance of page_class to show newly addition
                          $('.a_page_nav:first-child').trigger('click');
                          //----------------------------------
                          if (data.model.current_investment_percent){
                              $('#current_investment').html(`${parseFloat(data.model.current_investment_percent).toFixed(1)} %`);
                          }
                          if (data.model.current_investment){
                              $('#current_investment_value').html(`$${numberWithCommas(data.model.current_investment)} of $${numberWithCommas(data.model.total_value)}`);
                          }

                          if (data.model.user_stake){
                              $('#user_stake').html(`${data.model.user_stake.toFixed(1)}%`);
                          }
                          
                          if (data.model.investors_count){
                              $('#investors_count').html(`${data.model.investors_count}`);
                          }

                          a_html=`<a class="model-edit show-form-update" href="#" data-url="/trading/update_investor/${data.model.investor_id}/" 
                                   style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                    title='Edit Equity'><i  style="color:green"  class="fas fa-edit"></i>
                                </a>`

                           $('#breadcrumb_changeto_edit').html(a_html)
                             

                      } else {
                          // ADDITION NOT SUCCESSFUL
                          $('.public_toggle_form-errors').html('');
                          if (data['error']) {
                              var form_vars=['__all__','investment','user','name', 'description','value']
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data['error'][name_var]){
                                      a_html = 	`<div class='alert alert-danger alert dismissable'>
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                      </div> ` ;
                                      $('.public_toggle_form-errors').append(a_html)
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                              //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);

                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
          
          $('body').on("submit",".model-form-edit",function(e){
              e.preventDefault();
              var data = new FormData(this);
              var formData
              var form = $(this);
            
              var url=form.attr('data-url')
              $.ajax({
                  url: form.attr('data-url'),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(data){
                      if(data.model){
                          
                          //updateTable(data.model);
                          //hide the form after editing
                        
                          $('#modal-usermodel').modal('hide');
                          $('.close-modal').click()
                          if (data.model.current_investment_percent){
                            $('#current_investment').html(`${parseFloat(data.model.current_investment_percent).toFixed(1)} %`);
                          }
                          if (data.model.current_investment){
                              $('#current_investment_value').html(`$${numberWithCommas(data.model.current_investment)} of $${numberWithCommas(data.model.total_value)}`);
                          }

                          if (data.model.user_stake){
                              $('#user_stake').html(`${data.model.user_stake.toFixed(1)}%`);
                          }
                          if (data.model.investors_count){
                            $('#investors_count').html(`${data.model.investors_count}`);
                          }
                        

                          
                      } else {
                          $('.public_toggle_form-errors').html('');
                          if (data.error) {
                              var form_vars=['__all__','investment','user','name', 'description','value']//,
                      
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data.error[name_var]){
                                  a_html = 	`<div class='alert alert-danger alert dismissable'>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                  </div> ` ;
                                  $('.public_toggle_form-errors').append(a_html)
                                  
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                              }, 4000);
                          //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();                           

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
        
          function updateTable(item){
            // Model Strategy
            if (item.strategy){
                ahtml= `<p id="model-strategy">
                        ${item.strategy}</br>
                        <a href="#" class="btn btn-primary btn-round" data-toggle="modal"
                        data-target="#modal_add_investment_strategy"> <i class="fasedit"></i>
                        </a>`
                $("#model-strategy").html(ahtml);
            }
           // Model Summary
            if (item.summary){
                ahtml= `<p id="model-summary">
                        ${item.summary}</br>
                        <a href="#" class="btn btn-primary btn-round" data-toggle="modal"
                        data-target="#modal_add_investment_summary"> <i class="fasedit"></i>
                        </a>`
                $("#model-summary").html(ahtml);
            }

            // Model ROI
            if (item.roi){
                ahtml= `<p id="model-roi">
                        ${item.roi}</br>
                        <a href="#" class="btn btn-primary btn-round" data-toggle="modal"
                        data-target="#modal_add_investment_roi"> <i class="fas fa-edit"></i>
                        </a>`
                $("#model-roi").html(ahtml);
            }

             // Model ROI
             if (item.shareholding){
                ahtml= `<p id="model-shareholding">
                        ${item.shareholding}</br>
                        <a href="#" class="btn btn-primary btn-round" data-toggle="modal"
                        data-target="#modal_add_investment_shareholding"> <i class="fas fa-edit"></i>
                        </a>`
                $("#model-shareholding").html(ahtml);
            }
        }  
     
          //ADD MODEL FORM
          $('body').on("submit",".investment-form-add",function(e){
              e.preventDefault();            
              var data = new FormData(this);
              var formData
              var form = $(this);
              $.ajax({
                  url: form.attr('data-url'),
                  //data: form.serialize(),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(response){ 
                      if(response.data.model){
                          $('.close-modal').click()
                          //console.log('addded', response.data.model)
                          updateTable(response.data.model);

                      } else {
                          // ADDITION NOT SUCCESSFUL
                          $('.public_toggle_form-errors').html('');
                          if (response.data['error']) {
                              var form_vars=['__all__','investment','strategy','summary', 'roi','shareholding']
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data['error'][name_var]){
                                      a_html = 	`<div class='alert alert-danger alert dismissable'>
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                      </div> ` ;
                                      $('.public_toggle_form-errors').append(a_html)
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                              //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);

                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
          
          $('body').on("submit",".investment-form-edit",function(e){
              e.preventDefault();
              var data = new FormData(this);
              var formData
              var form = $(this);
            
              var url=form.attr('data-url')
              $.ajax({
                  url: form.attr('data-url'),
                  data : data,
                  type: form.attr('method'),
                  dataType: 'json',
                  processData:false,
                  contentType: false,
                  success: function(response){
                      if(response.data.model){
                          updateTable(response.data.model);
                          $('#modal-usermodel').modal('hide');
                          $('.close-modal').click()
                      } else {
                          $('.public_toggle_form-errors').html('');
                          if (response.data.error) {
                              var form_vars=['__all__','investment','strategy','summary', 'roi','shareholding']//,
                      
                              for (let p=0; p < form_vars.length; p++ ){
                                  let name_var = form_vars[p]
                                  if (data.error[name_var]){
                                  a_html = 	`<div class='alert alert-danger alert dismissable'>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span></button>${data['error'][name_var][0]}
                                  </div> ` ;
                                  $('.public_toggle_form-errors').append(a_html)
                                  
                                  }
                              }
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();
                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                              }, 4000);
                          //-----------------------
                          } else  {
                              // Data locked:  No edit allowed
                              $('.public_toggle_form-errors').html('');
                              a_html = 	`<div class='alert alert-danger alert dismissable'>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>${data['locked']}
                              </div> ` ;
                              $('.public_toggle_form-errors').append(a_html)
                              $('.public_toggle_form-errors').slideUp(50).fadeIn();                           

                              window.setTimeout(function() {
                                  $(".public_toggle_form-errors").fadeIn().slideUp(500, function(){
                                      $(".public_toggle_form-errors").html('');
                                  });
                                  }, 4000);
                          } 
                      //LAST ELSE--------------------------------------                
                      }
                  //END SUCCESS
                  }
              // END AJAX
              })
              return false;
          })
        
         
            $(document).on('shown.bs.modal','.modal',function(e){             
                
                //user own business
                if (user_is_owner ==true) {
                    if (is_user_investor ==true ){
                        $('.myModalLabel').html('Edit Investment Equity')
                    }else if (is_user_investor ==false )  {
                        $('.myModalLabel').html('Add Investment Equity')
                    }   
                }
                // console.log('user_is_owner',user_is_owner)
                // console.log('is_user_investor',is_user_investor)
               
            
            }) 
            
            
            // $('body').on("change","#id_value",function(e){
            //     //var item_id=$(this).attr('id') 
            //     var item=$(this).val()    
            //     console.log(item)
            //     //validate_positiveinteger(item_id) 
            //     $('#investment_contrib').val(item)
                    
            // })

            $('body').on("change","#id_value",function(e){
                var item=$(this).val() 
                get_investment(item)  
                    
            })

            // $('body').on("keypress","#id_value",function(e){
            //     //var item_id=$(this).attr('id') 
                
            //     //console.log('keypress')
                    
            // })

            $('body').on("keyup","#id_value",function(e){
                var item=$(this).val() 
                get_investment(item)                    
            })
            function get_investment (dynamic_val){

                //console.log(dynamic_val)
                var curr_percent= roundTo(parseFloat(curr_pledge* 100/investment_capital),3)
                var dynamic_percent= roundTo(parseFloat(dynamic_val*100/investment_capital),3)
                var direction_verb
                var percentage_change= Math.abs(roundTo(parseFloat(dynamic_percent-curr_percent),3))

                if (curr_pledge == dynamic_val){
                    direction_verb= "<i>remain the same</i> @ "
                    direction_from= ""
                    direction_to= ""
                }else if (curr_pledge < dynamic_val) {
                    direction_verb= `<i>increase</i> ${percentage_change}%`
                    direction_from= "<i>from</i>"
                    direction_to= "<i>upto</i>"
                }else {
                    direction_verb= `<i>decrease</i> ${percentage_change}%`
                    direction_from= "<i>from</i>"
                    direction_to= "<i>downto</i>"
                }
                var htmltxt= `Your equity will ${direction_verb} ${direction_from} <b> 
                          ${numberWithCommas(curr_percent)}%</b> ${direction_to}  <b>
                          ${numberWithCommas(dynamic_percent)}%</b> of $<b>
                          ${numberWithCommas(investment_capital)}</b>`
                if  (direction_to.length ==0){
                    htmltxt= `Your equity  will ${direction_verb} <b> 
                          ${numberWithCommas(dynamic_percent)}%</b> of $<b>
                          ${numberWithCommas(investment_capital)}</b>`
                }               
                $('#investment_contrib').html(htmltxt)
            }

        
        })

    </script>
  {% endblock %}



