{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Dashboard for {{project.name}}</title>
{% endblock %}


{% block stylesheets %}    
      
    <link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="/static/vendor/css/AdminLTE.min.css">

<!-- < -->
{% endblock %}

{% block content_header %}   
{% endblock %}


{% block content %} 



<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
    </div>
    <!-- End Breadcrumbs -->
    <!---Removed padding from 70px-- 0px-->
    <section style= 'padding: 5px 0;' id="projects" class="projects"> 
        <input id="user_doc_name" type="hidden" value='{{project.name}}'>
        <div class="container box-element" data-aos="fade-up">
            <!-- ======= Breadcrumbs ======= -->
            <!-- HEADER -->
            <div class="row">
                <ol class="breadcrumb" >
                    <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                        data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
                  
                    <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success" 
                        data-toggle="tooltip" data-placement="bottom" title='Explore Investments'><i class="fas fa-balance-scale"></i></a></li>
                
                    <li class="breadcrumb-item" ><a href="{% url 'user_businesses' %}" class ="badge rounded-pill bg-success" 
                          data-toggle="tooltip" data-placement="bottom" title='My Businesses'><i class="fas fa-industry"></i></a></li>
                  
                    
                    <li class="breadcrumb-item" ><a href="{% url 'fin_user_models' %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom" title='Financial Models'><i class="fas fa-chart-line"></i></a></li>
                  
                    <li class="breadcrumb-item" ><a href="{% url 'edit-investment' project.id %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom"   title='Manage Business'><i class="fas fa-wrench"></i>
                        </a></li>
                    
                    <li class="breadcrumb-item" ><a href="#" id="run-excel" class ="download-investors-excel badge rounded-pill bg-success"  data-url="{% url 'download-investor-list' project.id %}"
                            data-toggle="tooltip" data-placement="bottom" title='Download as Excel'><i class="run-excel fas fa-file-excel"></i></a></li>
                   
                            
                </ol>        
            </div>
            <!-- ANNOTATION -->
            <h4>{{project.description}}</h4>
            <hr>
            <div class="row" >
                <div class="col-md-3">
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h4>{% trans 'Engaged' %}</h4>
                      <h3>${{ engaged|shrink_num}}<small>({{perfomance|floatformat:'-1'|intcomma}} %)</small></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <h4>{% trans 'Verification' %}</h4>
                      <h3>${{ wip|shrink_num}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h4>{% trans 'Outstanding ' %}</h4>
                      <h3>${{ outstanding|shrink_num }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="small-box bg-blue">
                    <div class="inner">
                      <h4>{% trans 'Month Expectation' %}</h4>
                      <h3>${{ month_expected_output|shrink_num }}</h3>
                    </div>
                  </div>
                </div>
            </div>
            <!-- LAYOUT -->
            <div class="row">
              
                <!-- B -->
                <div class="col-md-8 col-md-pull-4" style="box-shadow:3px 0 8px rgba(0,0,0,0.125) ;" >
                    <div class="box" >
                      <div class="box-header">
                          
                          <div class="btn-group row" role="group"   aria-label="Basic example" style="text-align: left;white-space: nowrap;">
                            <button id="entireperiod" class="btn-clicked btn btn-s btn-default col-lg-2 col-md-4 col-sm-5 col-xs-6"><small>{% trans 'Full Period' %}</small></button>          
                            <button id="6month"       class="btn-clicked btn btn-s btn-default col-lg-2 col-md-4 col-sm-5 col-xs-6"><small>{% trans 'Last 6 months' %}</small></button> 
                            <button id="3month"       class="btn-clicked btn btn-s btn-default col-lg-2 col-md-4 col-sm-5 col-xs-6"><small>{% trans 'Last 3 months' %}</small></button> 
                            <button id="currentMonth" class="btn-clicked btn btn-s btn-default col-lg-2 col-md-4 col-sm-5 col-xs-6"><small>{% trans 'Current month' %}</small></button>
                            <button id="currentWeek"  class="btn-clicked btn btn-s btn-default col-lg-2 col-md-4 col-sm-5 col-xs-6"><small>{% trans 'Current Week' %}</small></button>
                          
                          </div>
                      </div>
                    </div>
        
                    <div class="box" >      
                        <div class="box-header">
                          <h3 class="box-title">{% trans 'Investments Inflows' %}<a href="{% url 'update_project_graph_pref' %}"
                          data-toggle="tooltip" data-placement="bottom" title='Change Graph Preference' 
                          >&nbsp;<i class="fas fa-user fa-fw"></i></a></h3>
                        </div>
                        <div class="box-body">
                          <canvas id="myreleasesChart" width="450" height="250"></canvas>
                        </div>
                    </div>                  
                </div>

                 <!-- A -->
                 <div class="col-md-4 col-md-push-8">
                  
                    <div class="box" style="box-shadow:3px 0 8px rgba(0,0,0,0.125) ;">
                        <div class="box-content">
                          <table class="table col-md-4 ">
                            <tr>
                              <th></th>
                              <th>{{ today|date:"F" }}</th>
                              <th>{{ last_month|date:"F" }}</th>
                            </tr>
                            <!-- RELEASES -->
                            <tr>
                                <th>{% trans 'Engaged' %}</th>
                            
                                <td>
                                  <a href="#" data-toggle="modal" data-target="#modal_show_releases_current" 
                                  data-toggle="tooltip" data-placement="bottom" title='Show {{  today|date:"F"  }} Investment Engaged' >${{ releases|shrink_num }}</a>
                                </td>
                                <td>                  
                                  <a href="#" data-toggle="modal" data-target="#modal_show_releases_previous" 
                                  data-toggle="tooltip" data-placement="bottom" title='Show {{ last_month|date:"F" }} Investment Engaged'>${{ previous_releases|shrink_num}}</a>
                                </td>
                              
                            </tr>
                            <!-- ADMISSIONS -->
                            <tr>
                              <th>{% trans 'Verification' %}</th>
                          
                              <td>
                                <a href="#" data-toggle="modal" data-target="#modal_show_admissions_current" 
                                data-toggle="tooltip" data-placement="bottom" title='Show {{  today|date:"F"  }} Investment Verification' >${{ admissions|shrink_num }}</a>
                              </td>
                              <td>                  
                                <a href="#" data-toggle="modal" data-target="#modal_show_admissions_previous" 
                                data-toggle="tooltip" data-placement="bottom" title='Show {{ last_month|date:"F" }} Investment Verification'>${{ previous_admissions|shrink_num }}</a>
                              </td>
                            
                          </tr>
                          <tr>
                            <th>{% trans 'Difference' %}</th><td{% if difference < 0 %} class="text-red"{% endif %}>${{ difference|shrink_num }}</td><td{% if previous_difference < 0 %} class="text-red"{% endif %}>${{ previous_difference|shrink_num}}</td>
                          </tr>
                          
              
                          </table>
                        </div>
                    </div>
                    
                    <div class="box" style="box-shadow:3px 0 8px rgba(0,0,0,0.125) ;">
                        <div class="box-header">
                          <h3 class="box-title">{% trans 'Investments Analytics' %}</h3>
                        </div>
                        <div class="box-body">
                          <table role="table" class="table">
                            <thead role="rowgroup">
                              <tr role="row">
                                <th role="columnheader">{% trans 'KPI' %}</th>
                                <th role="columnheader">{% trans 'Target' %}</th>
                                <th role="columnheader">{% trans 'Actual' %}</th>
                              </tr>
                            </thead>
                          <tbody role="rowgroup">
                            {% for kpi in dict_kpi %}
                              <tr row="role">
                                <td role="cell"><a href="#">{{ kpi.name }}</a></td>
                                <td >${{ kpi.target|shrink_num }}</td>
                                <td id="{{ kpi.id }}" {% if kpi.actualPercent <= 0.5 %} class="text-red"{% endif %}>${{ kpi.actual|shrink_num }}</td>
                                
                              </tr>
                            {% endfor %}
                          </tbody>
                          </table>
                        </div>
                    </div>
                  
                 </div>
            </div>

        </div>
    </section><!-- End User Section -->
    
  </main><!-- End #main -->
   <!-- modal Engaged Current -->
 <div class="modal fade" id="modal_show_releases_current" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: auto !important">
 <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content rounded-10" style="border-radius: 10px;">
         <!--Header-->
         <div class="modal-header">
             <div class="row ">
               <div class="pull-left">
                 <h4 class="modal-title" id="myModalLabel" style="padding-left: 15px;"> Engaged {{ today|date:"F" }} {{ today|date:"Y" }}
                 </h4>
                
               </div>
               
             </div>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">×</span>
             </button>
         </div>
         <!--Body-->
         <div class="modal-body">
           {% if releases_outputs %}
             <table class="table">
                 <tr>
                   <th>#</th>
                   <th>User</th>
                   <th>Email</th>
                   <th>Application Date</th>
                   <th>Status</th>
                   <th>Value</th>
                 </tr>
                 {% for item in releases_outputs %}
                 <tr>
                   <td >{{forloop.counter }}</td>
                   <td >{{item.username}}</td>
                   <td >{{item.email }}</td>
                   <td >{{item.date|date:'D d F Y'}}</td>
                   <td >{{item.text }}</td>
                   <td >${{item.value |shrink_num}}</td>
                 </tr>
                 {%endfor%}
             </table>
           {%else%} 
           <p>No Investment Engaged</p> 
           {% endif %}
          
         </div>
         <!--Footer-->
         <div class="modal-footer">
             <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close"
                 type="reset">Close
             </button>
         </div>
     </div>
 </div>
 </div>

 <!-- modal Engaged Previous -->
 <div class="modal fade" id="modal_show_releases_previous" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: auto !important">
   <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content rounded-10" style="border-radius: 10px;">
           <!--Header-->
           <div class="modal-header">
               <div class="row ">
                 <div class="pull-left">
                   <h4 class="modal-title" id="myModalLabel" style="padding-left: 15px;"> Engaged {{ last_month|date:"F" }} {{ last_month|date:"Y" }}
                   </h4>
                  
                   
                 </div>
               
               </div>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
           </div>
           <!--Body-->
           <div class="modal-body" >
             {% if previous_releases_outputs %}
               <table class="table">
                   <tr>
                      <th>#</th>
                      <th>User</th>
                      <th>Email</th>
                      <th>Application Date</th>
                      <th>Status</th>
                      <th>Value</th>
                   </tr>
                   {% for item in previous_releases_outputs %}
                   <tr>
                      <td >{{forloop.counter }}</td>
                      <td >{{item.username}}</td>
                      <td >{{item.email }}</td>
                      <td >{{item.date|date:'D d F Y'}}</td>
                      <td >{{item.text }}</td>
                      <td >${{item.value |shrink_num}}</td>
                   </tr>
                   {%endfor%}
               </table>
               {% else %}
               <p>No Investment Engaged</p>
               {%  endif %}
            
           </div>
           <!--Footer-->
           <div class="modal-footer">
               <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close"
                   type="reset">Close
               </button>
           </div>

       </div>
   </div>
 </div>

<!-- modal Admission Current -->
<div class="modal fade" id="modal_show_admissions_current" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: auto !important">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded-10" style="border-radius: 10px;">
        <!--Header-->
        <div class="modal-header">
            <div class="row ">
              <div class="pull-left">
                <h4 class="modal-title" id="myModalLabel" style="padding-left: 15px;"> Verification {{ today|date:"F" }} {{ today|date:"Y" }}
                </h4>
               
              </div>
              
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <!--Body-->
        <div class="modal-body">
          {% if assets_admission %}
            <table class="table">
                <tr>
                  <th>#</th>
                  <th>User</th>
                  <th>Email</th>
                  <th>Application Date</th>
                  <th>Status</th>
                  <th>Value</th>
                </tr>
                {% for item in assets_admission %}
                <tr>
                   <td >{{forloop.counter }}</td> 
                   <td >{{item.username}}</td>
                   <td >{{item.email }}</td>
                   <td >{{item.date|date:'D d F Y'}}</td>
                   <td >{{item.text }}</td>
                   <td >${{item.value |shrink_num}}</td>
                </tr>
                {%endfor%}
            </table>
          {%else%} 
          <p>No Investment under Verification</p> 
          {% endif %}
         
        </div>
        <!--Footer-->
        <div class="modal-footer">
            <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close"
                type="reset">Close
            </button>
        </div>
    </div>
</div>
</div>

<!-- modal Admission Previous -->
<div class="modal fade" id="modal_show_admissions_previous" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: auto !important">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content rounded-10" style="border-radius: 10px;">
          <!--Header-->
          <div class="modal-header">
              <div class="row ">
                <div class="pull-left">
                  <h4 class="modal-title" id="myModalLabel" style="padding-left: 15px;"> Verification {{ last_month|date:"F" }} {{ last_month|date:"Y" }}
                  </h4>
                 
                  
                </div>
              
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <!--Body-->
          <div class="modal-body" >
            {% if previous_assets_admission %}
              <table class="table">
                  <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Application Date</th>
                    <th>Status</th>
                    <th>Value</th>
                  </tr>
                  {% for item in previous_assets_admission %}
                  <tr>
                    <td >{{forloop.counter }}</td>
                    <td >{{item.username}}</td>
                    <td >{{item.email }}</td>
                    <td >{{item.date|date:'D d F Y'}}</td>
                    <td >{{item.text }}</td>
                    <td >${{item.value |shrink_num}}</td>
                  </tr>
                  {%endfor%}
              </table>
              {% else %}
              <p>No Investment under Verification</p>
              {%  endif %}
           
          </div>
          <!--Footer-->
          <div class="modal-footer">
              <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close"
                  type="reset">Close
              </button>
          </div>

      </div>
  </div>
</div> 

<!-- modal WIP -->
<div class="modal fade" id="modal_show_wip" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: auto !important">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content rounded-10" style="border-radius: 10px;">
          <!--Header-->
          <div class="modal-header">
              <div class="row ">
                <div class="pull-left">
                  <h4 class="modal-title" id="myModalLabel" style="padding-left: 15px;" > WIP {{ today|date:"F" }} {{ today|date:"Y" }}
                  </h4>
                 
                  
                </div>
              
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <!--Body-->
          <div class="modal-body" >
            {% if outputs_wip %}
              <table class="table">
                  <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Application Date</th>
                    <th>Status</th>
                    <th>Value</th>
                  </tr>
                  {% for item in outputs_wip %}
                  <tr>
                    <td >{{forloop.counter }}</td>
                    <td >{{item.username}}</td>
                    <td >{{item.email }}</td>
                    <td >{{item.date|date:'D d F Y'}}</td>
                    <td >{{item.text }}</td>
                    <td >${{item.value |shrink_num}}</td>
                  </tr>
                  {%endfor%}
              </table>
              {% else %}
              <p>No Releases</p>
              {%  endif %}
           
          </div>
          <!--Footer-->
          <div class="modal-footer">
              <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close"
                  type="reset">Close
              </button>
          </div>

      </div>
  </div>
</div> 
  {%endblock%}




{% block scripts %}
 <script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
 <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    detect()
    //does it on start
    //checkPosition()
  });

      function mobile_viewa(){
          $('table').removeClass('table table-striped');
           // make it bigger
          $('#myreleasesChart').css({'width':'100%', 'height':'100%'})
      }

      function desktop_viewa(){
          
          $('table').addClass('table table-striped');
          $('#myreleasesChart').css({'width':'100%', 'height':'100%'})
      }
      function detect(){
      
        if ($(this).width() < 744) {
            // make it bigger
            $('#myreleasesChart').css({'width':'100%', 'height':'100%'})
            //releasesChartData[full_period] = null
            if (var_toggle_mobile==false){// change over from desktop
                releasesChartData[current_iloc] = null;
                $('#'+ current_id).click()
                var_toggle_mobile= true
              //location.reload();
            }else if (var_toggle_mobile==null){// initial set to false
               var_toggle_mobile= false
               //console.log('initial:mobile: var_toggle_mobile>>>',var_toggle_mobile)
            }

            
          } else {
            //desktop_view()
            $('#myreleasesChart').css({'width':'100%', 'height':'100%'})
            if (var_toggle_mobile==true){//changeover:action
              releasesChartData[current_iloc] = null;
              $('#'+ current_id).click()
              var_toggle_mobile= false
              
              //location.reload();
            }else if (var_toggle_mobile==null){
               var_toggle_mobile= true
               
            }
            

          } 
      }
      $(window).resize(function() {
        //console.log('width',$(this).width()  )
         detect()
      });
     

      function checkPosition() {
         
          if (window.matchMedia('(max-width: 768px)').matches) {
            mobile_viewa()
          } else {
            desktop_viewa() 
          }
      }
   
  </script>
 <script type="text/javascript">

function numberWithCommas(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
    }
    $('#entireperiod').addClass('bg-warning')   
 var colors =
   ['#357ca5',
    '#008d4c',
    '#db8b0b',
    '#ca195a',
    '#555299',
    '#4285f4',
    '#db4437',
    '#f4b400',
    '#0f9d58',
    '#ab47bc',
    '#00acc1',
    '#ff7043',
    '#9e9d24',
    '#5c6bc0',
    '#f06292',
    '#00796b',
    '#c2185b'
 ];
 //var balanceChart = null;
 var releasesChart = null;
 var legend_hide =[]
 var legend_a =[]

 function make_list(res) {
      var iter2=0
      legend_hide =[]
      legend_a =[]
      for (var i = 0; i < res.dataset.length; i++) {
          //----------ccccc do it here--------------------------------
          //console.log('pushed>>>', res.dataset[i].name)
          var user_pref_array = JSON.parse("{{json_userprefs_graph_options}}")
          iter2 +=1 
          if (!user_pref_array.includes(iter2)){
              if (!legend_hide.includes(res.dataset[i].name) || 1){
                legend_hide.push(res.dataset[i].name)
              }
              
          }
          if (!legend_a.includes(res.dataset[i].name) || 1){
            legend_a.push(res.dataset[i].name)  
          } 
          //----------------------------------------------------------
      }

      max_to_hide= legend_a.length- 2
      let continue_run= true
      let r = legend_a.length - 1;
      
      while ((continue_run = true) && (r >= 0)) {
        //start from back and go front
          if (!(legend_hide.includes(legend_a[r]))|| 1){
              // push unique
              if (legend_hide.length < max_to_hide){ 
                legend_hide.push(legend_a[r])
              }else{
                // condition for exit
                continue_run = false
              } 
          }
          r--;
          // loop it through
          if (r < 0){
            continue_run=false
          }
      }
      var mySet = new Set(legend_hide);
      var mySet2 = new Set(legend_a);
      // while loop should exit:infite loop removed 27 August 2022 1753HRS
      while (((mySet.size + 1) > mySet2.size) && 
           (legend_hide.length+2 > legend_a.length) && 
                                legend_hide.length>0) {
         //console.log("1:2:" ,mySet.size,mySet2.size)
         legend_hide.pop()
          mySet = new Set(legend_hide);
         //mySet2 = new Set(legend_a);

      }
     
      //console.log('legend_hide', legend_hide)
      //console.log('legend_a', legend_a)
}
 
 var drawReleases = function(res) {
  make_list(res)
  var ctx = document.getElementById("myreleasesChart").getContext('2d');
  var dp = res.last_14day_dp
  $('#desired_rate').html(`$${nFormatter(dp)}`)
  
  var data = {
      labels: res.labels,
      datasets: []
  };
 
  for (var i = 0; i < res.dataset.length; i++) {
    var dataset = {
      label: res.dataset[i].name,
      fill: false,
      pointRadius: 2,
      backgroundColor: colors[i],
      borderColor: colors[i],
      data: res.dataset[i].data
    };
  

    if (window.matchMedia('(max-width: 768px)').matches) {
        if (!legend_hide.includes(dataset.label)){// include in not in hidden
        data.datasets.push(dataset);
      }
    }else{
      // in desktop mode show all
      data.datasets.push(dataset);
    }
    
  }
  //console.log('view dtaset:',data)
  releasesChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          tooltips: {
            mode: 'index',
            position: 'nearest',
            intersect: false,
            caretPadding: 5
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          },
          /*Hide Legend*/
          legend: {
            labels: {
                filter: function(item, chart) {
                    //console.log(item.text, legend_hide)
                    //console.log('legend_hide',legend_hide)
                    // Logic to remove a particular legend item goes here
                    
                    if (window.matchMedia('(max-width: 768px)').matches) {
                      return !legend_hide.includes(item.text);// dont show hiden
                    }else{
                      // in desktop mode show all
                      return true
                    }
                   
                    
                }
            }
        }
      }
  });
};

var updatereleasesChart = function(chartData) {

      var data = {
          labels: chartData.labels,
          datasets: []
      };
      //console.log('chartData:',chartData)
      //console.log('chartData:',chartData.dataset)
      for (var i = 0; i < chartData.dataset.length; i++) {
          var dataset = {
            label: chartData.dataset[i].name,
            fill: false,
            pointRadius: 2,
            backgroundColor: colors[i],
            borderColor: colors[i],
            data: chartData.dataset[i].data
          };
          //skipp hidden datasets
          if (window.matchMedia('(max-width: 768px)').matches) {
              if (!legend_hide.includes(dataset.label)){// limit data
              data.datasets.push(dataset);
            }
          }else{
            // in desktop mode show all
            data.datasets.push(dataset);
          }

      }

      //copy data
      releasesChart.data.labels = data.labels;
      releasesChart.data.datasets = [];
      for (var i = 0; i < data.datasets.length; i++) {
          var dataset = {
            label: data.datasets[i].label,
            fill: false,
            pointRadius: 2,
            backgroundColor: colors[i],
            borderColor: colors[i],
            data: data.datasets[i].data
          };
          //push data not hidenn
          releasesChart.data.datasets.push(dataset);
      }
      //console.log('releasesChart:',releasesChart)
      //console.log('releasesChart:',releasesChart.data)
      releasesChart.update();
      set_user_pref_on_start()
};


var one_week = 0;
var one_month = 1;
var three_months = 2;
var six_months = 3;
var full_period = 4;
var releasesChartData = new Array(4);
var current_id ='entireperiod'
var current_iloc =full_period
var var_toggle_mobile=null

//set focus with time delay
setTimeout(function () {
 $('#entireperiod').focus();

}, 100);   
// initialize- First Graph
$.getJSON("{% url 'get_project_output_by_rolling_week' minus_full_period today %}", {}, function(res, status) {
  //set_user_pref_on_start(res)
  console.log('bfore draw')
  drawReleases(res);
  console.log(res)
  releasesChartData[full_period] = res;
  set_user_pref_on_start()
});
function nFormatter(num, digits) {
        digits=1
        const lookup = [
            { value: 1, symbol: "" },
            { value: 1e3, symbol: "k" },
            { value: 1e6, symbol: "M" },
            { value: 1e9, symbol: "G" },
            { value: 1e12, symbol: "T" },
            { value: 1e15, symbol: "P" },
            { value: 1e18, symbol: "E" }
        ];
        const rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
        var item = lookup.slice().reverse().find(function(item) {
            return num >= item.value;
        });
        return item ? (num / item.value).toFixed(digits).replace(rx, "$1") + item.symbol : "0";
    }
function set_user_pref_on_start(){
  // This method initialise user specific pref when page loads 
    var iter=0
    // A--->5.
    // B======>7
    var user_pref_array = JSON.parse("{{json_userprefs_graph_options}}")
    //console.log('user pref:',user_pref_array)

    //console.log('user_pref_array, ', user_pref_array)
    releasesChart.data.datasets.forEach(function(ds) {
     
      //console.log('what is ds',ds.label)

      //gett the index of label
      index = legend_a.indexOf(ds.label)+1
      //chech if iter is not i user_pref      
      if (!user_pref_array.includes(index)){
          // hide all other except [user prefs]
          ds.hidden = true
        
      }
      
    });
    releasesChart.update();
}   

// update charts
$('#entireperiod').click(function() {
 
  current_id ='entireperiod'
  current_iloc = full_period
    if (releasesChartData[full_period] == null) {
      $.getJSON("{% url 'get_project_output_by_rolling_week' minus_full_period today %}", {}, function(res, status) {
        make_list(res)
        updatereleasesChart(res);
        releasesChartData[full_period] = res;
      });
    } else {
        make_list(releasesChartData[full_period])
        updatereleasesChart(releasesChartData[full_period]);
    }
 
  
});

 // update charts
$('#6month').click(function() {
    current_id ='6month'
    current_iloc =six_months
    if (releasesChartData[six_months] == null) {
      $.getJSON("{% url 'get_project_output_by_rolling_week' minus_6_months today %}", {}, function(res, status) {
        make_list(res)
        updatereleasesChart(res);
        releasesChartData[six_months] = res;
      });
    } else {
        make_list(releasesChartData[six_months])
        updatereleasesChart(releasesChartData[six_months]);
    }
  
});

$('#3month').click(function() {
    current_id ='3month'
    current_iloc =three_months
    if (releasesChartData[three_months] == null) {
      $.getJSON("{% url 'get_project_output_by_rolling_week' minus_3_months today %}", {}, function(res, status) {
        make_list(res)
        updatereleasesChart(res);
        releasesChartData[three_months] = res;
      });
    } else {
      make_list(releasesChartData[three_months])
      updatereleasesChart(releasesChartData[three_months]);
    }
 
});

$('#currentMonth').click(function() {
  current_id ='currentMonth'
  current_iloc =one_month
  if (releasesChartData[one_month] == null) {
    $.getJSON("{% url 'get_project_output_by_rolling_week' first_day_of_month last_day_of_month %}", {}, function(res, status) {
      make_list(res)
      updatereleasesChart(res);
      releasesChartData[one_month] = res;
    });
  } else {
    make_list(releasesChartData[one_month])
    updatereleasesChart(releasesChartData[one_month]);
  }
});

$('#currentWeek').click(function() {
  current_id ='currentWeek'
  current_iloc =one_week
  if (releasesChartData[one_week] == null) {
    $.getJSON("{% url 'get_project_output_by_rolling_week' first_day_of_week last_day_of_week %}", {}, function(res, status) {
      make_list(res)
      updatereleasesChart(res);
      releasesChartData[one_week] = res;
    });
  } else {
    make_list(releasesChartData[one_week])
    updatereleasesChart(releasesChartData[one_week]);
  }
  
  
});
function truncChar2(str,length){
      var myTruncatedString = str.substring(0,length-1);              
      
      return myTruncatedString
  }   
$('body').on('click', '.download-investors-excel', function(){
        
        $('#run-excel').prop('disabled', true);
        $('.run-excel').css('color', 'red');
        var url =  $(this).attr("data-url")
        $.ajax({
            type: 'GET',
                cache: false,
                url: url,                        
                xhrFields: {
                    // make sure the response knows we're expecting a binary type in return.
                    // this is important, without it the excel file is marked corrupted.
                    responseType: 'arraybuffer'
                }
                    
        }).done(function (data, status, xmlHeaderRequest) {
                    // console.log(data)
                    // console.log(status)
                    // console.log(xmlHeaderRequest)
                    var downloadLink = document.createElement('a');
                    var blob = new Blob([data],
                        {
                            type: xmlHeaderRequest.getResponseHeader('Content-Type')
                        });
                    var url = window.URL || window.webkitURL;
                    var downloadUrl = url.createObjectURL(blob);
                    var now_ =new Date()
                    var get_month = now_.getMonth()+ 1
                    var fileName = truncChar2($('#user_doc_name').val(),25)  + "_"+  now_.getFullYear() + "_" + 
                                   get_month  + "_"+ now_.getDate()  + "_"+ now_.getHours()  + "_"+ 
                                   now_.getMinutes() + "_"+  now_.getSeconds()//'{{user_doc_name}}';

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        window.navigator.msSaveBlob(blob, fileName);
                    } else {
                        if (fileName) {
                            if (typeof downloadLink.download === 'undefined') {
                                window.location = downloadUrl;
                            } else {
                                downloadLink.href = downloadUrl;
                                downloadLink.download = fileName;
                                document.body.appendChild(downloadLink);
                                downloadLink.click();
                            }
                        } else {
                            window.location = downloadUrl;
                        }

                        setTimeout(function () {
                            url.revokeObjectURL(downloadUrl);
                           
                        },100);
                    }
                    //delay resetting
                    window.setTimeout(function() {
                        $('#run-excel').prop('disabled', false);
                        $('.run-excel').css('color', 'white');
                    }, 4000);
                });
    });
$('body').on('click', '.btn-clicked', function (e) {
  var myclass =$('.btn-clicked')
  var clicked_id = $(this).attr('id')
  $.each(myclass, function(i, val) {
      let loop_id= $(this).attr('id')
      if (clicked_id == loop_id){
          $(this).addClass('bg-warning')
          $(this).removeClass('bg-light')
      }else {
          $(this).removeClass('bg-warning')
          $(this).addClass('bg-light')
      }
  }); 

})
</script>
{% endblock %}