{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Dashboard for {{project.name}}</title>
{% endblock %}


{% block stylesheets %}
    <link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}">


<!-- < -->
{% endblock %}

{% block content_header %}   
{% endblock %}


{% block content %} 



<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
    </div>
    <!-- End Breadcrumbs -->
    <!---Removed padding from 70px-- 0px-->
    <section style= 'padding: 5px 0;' id="projects" class="projects"> 
        <input id="user_doc_name" type="hidden" value='{{project.name}}'>
        <div class="container box-element" data-aos="fade-up">
            <!-- ======= Breadcrumbs ======= -->
            <!-- HEADER -->
            <div class="row">
                <ol class="breadcrumb" >
                    <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                        data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
                  
                    <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success" 
                        data-toggle="tooltip" data-placement="bottom" title='Explore Investments'><i class="fas fa-balance-scale"></i></a></li>
                
                    <li class="breadcrumb-item" ><a href="{% url 'fin_user_models' %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom" title='Financial Models'><i class="fas fa-chart-line"></i></a></li>
                  
                    <li class="breadcrumb-item" ><a href="{% url 'edit-investment' project.id %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom"   title='Manage Business'><i class="fas fa-wrench"></i>
                        </a></li>
                    
                    <li class="breadcrumb-item" ><a href="#" id="run-excel" class ="download-investors-excel badge rounded-pill bg-success"  data-url="{% url 'download-investor-list' project.id %}"
                            data-toggle="tooltip" data-placement="bottom" title='Download as Excel'><i class="run-excel fas fa-file-excel"></i></a></li>
                   
                            
                </ol>        
            </div>
            <!-- ANNOTATION -->
            <h4>{{project.description}}</h4>
            <hr>
            <div class="row">
                <div class="col-md-3">
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h4>{% trans 'Engaged' %}</h4>
                      <h3>${{ engaged|shrink_num}}<small>({{perfomance|floatformat:'-1'|intcomma}} %)</small></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <h4>{% trans 'Verification' %}</h4>
                      <h3>${{ wip|shrink_num}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h4>{% trans 'Outstanding ' %}</h4>
                      <h3>${{ outstanding|shrink_num }}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="small-box bg-blue">
                    <div class="inner">
                      <h4>{% trans 'Month Expectation' %}</h4>
                      <h3>${{ month_expected_output|shrink_num }}</h3>
                    </div>
                  </div>
                </div>
            </div>
            <!-- LAYOUT -->
            <div class="row">
                <!-- A -->
                <div class="col-md-4 col-md-push-8">
                  
                    <div class="box">
                        <div class="box-content">
                          <table class="table">
                            <tr><th></th><th>{{ today|date:"F" }}</th><th>{{ last_month|date:"F" }}</th></tr>
                            <!-- RELEASES -->
                            <tr>
                                <th>{% trans 'Engaged' %}</th>
                            
                                <td>
                                  <a href="#" data-toggle="modal" data-target="#modal_show_releases_current" 
                                  data-toggle="tooltip" data-placement="bottom" title='Show {{  today|date:"F"  }} Investment Outputs' >${{ releases|shrink_num }}</a>
                                </td>
                                <td>                  
                                  <a href="#" data-toggle="modal" data-target="#modal_show_releases_previous" 
                                  data-toggle="tooltip" data-placement="bottom" title='Show {{ last_month|date:"F" }} Investment Outputs'>${{ previous_releases|shrink_num}}</a>
                                </td>
                              
                            </tr>
                            <!-- ADMISSIONS -->
                            <tr>
                              <th>{% trans 'Verification' %}</th>
                          
                              <td>
                                <a href="#" data-toggle="modal" data-target="#modal_show_admissions_current" 
                                data-toggle="tooltip" data-placement="bottom" title='Show {{  today|date:"F"  }} Assest Admission' >${{ admissions|shrink_num }}</a>
                              </td>
                              <td>                  
                                <a href="#" data-toggle="modal" data-target="#modal_show_admissions_previous" 
                                data-toggle="tooltip" data-placement="bottom" title='Show {{ last_month|date:"F" }} Assest Admission'>${{ previous_admissions|shrink_num }}</a>
                              </td>
                            
                          </tr>
                          <tr>
                            <th>{% trans 'Difference' %}</th><td{% if difference < 0 %} class="text-red"{% endif %}>${{ difference|shrink_num }}</td><td{% if previous_difference < 0 %} class="text-red"{% endif %}>${{ previous_difference|shrink_num}}</td>
                          </tr>
                          
              
                          </table>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                          <h3 class="box-title">{% trans 'Investments Analytics' %}</h3>
                        </div>
                        <div class="box-body">
                          <table class="table">
                            <tr>
                              <th>{% trans 'KPI' %}</th>
                              <th>{% trans 'Target' %}</th>
                              <th>{% trans 'Actual' %}</th>
                            </tr>
                          {% for kpi in dict_kpi %}
                            <tr>
                              <td><a href="#">{{ kpi.name }}</a></td>
                              <td >${{ kpi.target|shrink_num }}</td>
                              <td id="{{ kpi.id }}" {% if kpi.actualPercent <= 0.5 %} class="text-red"{% endif %}>${{ kpi.actual|shrink_num }}</td>
                              
                            </tr>
                          {% endfor %}
                          </table>
                        </div>
                    </div>
                    
                </div>
                <!-- B -->
                <div class="col-md-8 col-md-pull-4">
                    <div class="box">
                      <div class="box-header">
                          <div class="row text-center">
                            <!-- <button id="toggle">show/hide all</button> -->
                            <button id="entireperiod" class="btn btn-s btn-default col-lg-2"><small>{% trans 'Full Period' %}</small></button>  &nbsp; &nbsp;         
                            <button id="6month" class="btn btn-s btn-default col-lg-2 range-chooser"><small>{% trans 'Last 6 month' %}</small></button>  &nbsp; &nbsp;
                            <button id="3month" class="btn btn-s btn-default col-lg-2 range-chooser"><small>{% trans 'Last 3 Month' %}</small></button> &nbsp; &nbsp;
                            <button id="currentMonth" class="btn btn-s btn-default col-lg-2 range-chooser"><small>{% trans 'Curr. Month' %}</small></button> &nbsp; &nbsp;
                            <button id="currentWeek" class="btn btn-s btn-default col-lg-2 range-chooser"><small>{% trans 'Current Week' %}</small></button>
                          
                          </div>
                      </div>
                  </div>
        
                    <div class="box">      
                      <div class="box-header">
                        <h3 class="box-title">{% trans 'Investments Inflows' %}<a href="{% url 'update_project_graph_pref' %}"
                        data-toggle="tooltip" data-placement="bottom" title='Set Graph Pref' 
                        ><i class="fa fa-user fa-fw"></i></a></h3>
                      </div>
                      <div class="box-body">
                        <canvas id="myreleasesChart" width="450" height="250"></canvas>
                      </div>
                    </div>
                  
                  
                </div>
            </div>

        </div>
    </section><!-- End User Section -->
    
  </main><!-- End #main -->
  
  {%endblock%}




{% block scripts %}
 <script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
 <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
 <script type="text/javascript">

function numberWithCommas(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
    }
 var colors =
   ['#357ca5',
    '#008d4c',
    '#db8b0b',
    '#ca195a',
    '#555299',
    '#4285f4',
    '#db4437',
    '#f4b400',
    '#0f9d58',
    '#ab47bc',
    '#00acc1',
    '#ff7043',
    '#9e9d24',
    '#5c6bc0',
    '#f06292',
    '#00796b',
    '#c2185b'
 ];
 //var balanceChart = null;
 var releasesChart = null;
 
 
 var drawReleases = function(res) {
  var ctx = document.getElementById("myreleasesChart").getContext('2d');
  var dp = res.last_14day_dp
  //console.log(dp)
  //$('#desired_rate').html(`$${numberWithCommas(dp)}`)
  $('#desired_rate').html(`$${nFormatter(dp)}`)
  
  var data = {
      labels: res.labels,
      datasets: []
  };
  for (var i = 0; i < res.dataset.length; i++) {
    var dataset = {
      label: res.dataset[i].name,
      fill: false,
      pointRadius: 2,
      backgroundColor: colors[i],
      borderColor: colors[i],
      data: res.dataset[i].data
    };
    data.datasets.push(dataset);
  }
  releasesChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          tooltips: {
            mode: 'index',
            position: 'nearest',
            intersect: false,
            caretPadding: 5
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
};

var updatereleasesChart = function(chartData) {
  releasesChart.data.labels = chartData.labels;
  for (var i = 0; i < chartData.dataset.length; i++) {
    releasesChart.data.datasets[i].data = chartData.dataset[i].data;

  }
  releasesChart.update();
};


var one_week = 0;
var one_month = 1;
var three_months = 2;
var six_months = 3;
var full_period = 4;
var releasesChartData = new Array(4);

//set focus with time delay
setTimeout(function () {
 $('#entireperiod').focus();
}, 100);   
// initialize- First Graph
$.getJSON("{% url 'get_project_output_by_rolling_week' minus_full_period today %}", {}, function(res, status) {
  drawReleases(res);
  releasesChartData[full_period] = res;
  set_user_pref_on_start()
});
function nFormatter(num, digits) {
        digits=1
        const lookup = [
            { value: 1, symbol: "" },
            { value: 1e3, symbol: "k" },
            { value: 1e6, symbol: "M" },
            { value: 1e9, symbol: "G" },
            { value: 1e12, symbol: "T" },
            { value: 1e15, symbol: "P" },
            { value: 1e18, symbol: "E" }
        ];
        const rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
        var item = lookup.slice().reverse().find(function(item) {
            return num >= item.value;
        });
        return item ? (num / item.value).toFixed(digits).replace(rx, "$1") + item.symbol : "0";
    }
function set_user_pref_on_start(){
  // This method initialise user specific pref when page loads 
    var iter=0
    var user_pref_array = JSON.parse("{{json_userprefs_graph_options}}")
    //console.log('user pref:',user_pref_array)
    releasesChart.data.datasets.forEach(function(ds) {
      iter +=1
      //chech if iter is not i user_pref      
      if (!user_pref_array.includes(iter)){
          // hide all other except [user prefs]
          ds.hidden = true
          //console.log('{label,state}', ds.label, ds.hidden)
          // console.log('{label,state}', ds.data.label, ds.data.hidden)
      }     
      
    });
    releasesChart.update();
}   

// $("#toggle").click(function() {
//   releasesChart.data.datasets.forEach(function(ds) {
//     ds.hidden = !ds.hidden;
//     }
//   });
//   releasesChart.update();
// });
// update charts
$('#entireperiod').click(function() {
    if (releasesChartData[full_period] == null) {
      $.getJSON("{% url 'get_project_output_by_rolling_week' minus_full_period today %}", {}, function(res, status) {
        updatereleasesChart(res);
        releasesChartData[full_period] = res;
      });
    } else {
     
        updatereleasesChart(releasesChartData[full_period]);
    }
 
  
});

 // update charts
$('#6month').click(function() {
    if (releasesChartData[six_months] == null) {
      $.getJSON("{% url 'get_project_output_by_rolling_week' minus_6_months today %}", {}, function(res, status) {
        updatereleasesChart(res);
        releasesChartData[six_months] = res;
      });
    } else {
        
        updatereleasesChart(releasesChartData[six_months]);
    }
  
});



$('#3month').click(function() {
    if (releasesChartData[three_months] == null) {
      $.getJSON("{% url 'get_project_output_by_rolling_week' minus_3_months today %}", {}, function(res, status) {
       
        updatereleasesChart(res);
        releasesChartData[three_months] = res;
      });
    } else {
      
      updatereleasesChart(releasesChartData[three_months]);
    }
 
});



$('#currentMonth').click(function() {
  if (releasesChartData[one_month] == null) {
    $.getJSON("{% url 'get_project_output_by_rolling_week' first_day_of_month last_day_of_month %}", {}, function(res, status) {
      
      updatereleasesChart(res);
      releasesChartData[one_month] = res;
    });
  } else {
   
    updatereleasesChart(releasesChartData[one_month]);
  }
});


$('#currentWeek').click(function() {
  if (releasesChartData[one_week] == null) {
    $.getJSON("{% url 'get_project_output_by_rolling_week' first_day_of_week last_day_of_week %}", {}, function(res, status) {
      
      updatereleasesChart(res);
      releasesChartData[one_week] = res;
    });
  } else {
    
    updatereleasesChart(releasesChartData[one_week]);
  }
  
  
});
function truncChar2(str,length){
            var myTruncatedString = str.substring(0,length-1);              
           
            return myTruncatedString
        }   
$('body').on('click', '.download-investors-excel', function(){
        
        $('#run-excel').prop('disabled', true);
        $('.run-excel').css('color', 'red');
        var url =  $(this).attr("data-url")
        $.ajax({
            type: 'GET',
                cache: false,
                url: url,                        
                xhrFields: {
                    // make sure the response knows we're expecting a binary type in return.
                    // this is important, without it the excel file is marked corrupted.
                    responseType: 'arraybuffer'
                }
                    
        }).done(function (data, status, xmlHeaderRequest) {
                    // console.log(data)
                    // console.log(status)
                    // console.log(xmlHeaderRequest)
                    var downloadLink = document.createElement('a');
                    var blob = new Blob([data],
                        {
                            type: xmlHeaderRequest.getResponseHeader('Content-Type')
                        });
                    var url = window.URL || window.webkitURL;
                    var downloadUrl = url.createObjectURL(blob);
                    var now_ =new Date()
                    var get_month = now_.getMonth()+ 1
                    var fileName = truncChar2($('#user_doc_name').val(),25)  + "_"+  now_.getFullYear() + "_" + 
                                   get_month  + "_"+ now_.getDate()  + "_"+ now_.getHours()  + "_"+ 
                                   now_.getMinutes() + "_"+  now_.getSeconds()//'{{user_doc_name}}';

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        window.navigator.msSaveBlob(blob, fileName);
                    } else {
                        if (fileName) {
                            if (typeof downloadLink.download === 'undefined') {
                                window.location = downloadUrl;
                            } else {
                                downloadLink.href = downloadUrl;
                                downloadLink.download = fileName;
                                document.body.appendChild(downloadLink);
                                downloadLink.click();
                            }
                        } else {
                            window.location = downloadUrl;
                        }

                        setTimeout(function () {
                            url.revokeObjectURL(downloadUrl);
                           
                        },100);
                    }
                    //delay resetting
                    window.setTimeout(function() {
                        $('#run-excel').prop('disabled', false);
                        $('.run-excel').css('color', 'white');
                    }, 4000);
                });
    });

</script>
{% endblock %}