{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>Investments</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content_header %}
   
{% endblock %}



{% block content %}

 
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
     
  </div><!-- End Breadcrumbs -->

 <!-- ======= Projects Section ======= -->  
   {% include 'trading/sections/section_investments.html' %} 
  
 
</main><!-- End #main -->


{%endblock content%}

{% block modal_divs %}
   

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="confirmdelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                    <input type="button" class="delete-button  btn btn-danger" id="delete-button"
                            name="delete-button" value="Yes" data-url="" tr-id="" item-id="">
                </div>
            </div>
        </div>
    </div>

{% endblock %} 


 <!-- ======= Footer ======= --> 
 {% include 'investments_appraisal/mentor/sections/section_footer.html' %}
 
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% block scripts %}
      <!-- Search Button JS -->
      <script src="{% static 'mentor/assets/js/search.js' %}"></script>
      <script src="{% static 'basic_ui/js/input-range.js' %}"></script>
      <script>
         //first timme
          var display_investment_ajax_url= "{% url 'display_investment_ajax' %}" 
          var search_tags= '{{search_tags}}'
          var tag_id= '{{tag_id}}'
          
          if (search_tags){            
              display_investment_ajax_url = `{% url 'investment_search_tag_ajax' 12345 %}`.replace(/12345/, tag_id.toString()); 
            
          }

        
          function updatePaging2(data){
            var has_previous=''
            if (data.has_previous){
                has_previous= `<li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                    <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.previous_page_number}">previous</a></li>`;
            
            }       
            var has_next= ''          
            if (data.has_next){
                has_next= ` <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.next_page_number}">next</a></li>
                        <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.last}">last &raquo;</a></li>
                    `; 
            }       
            a_html=`
            <div id= "page_section" class="pagination">
                <ul class="pagination newpagination">
                    ${has_previous}            
                    <span class="current" style="margin-left:5px">
                        Page ${ data.current_page } of ${ data.last }.
                    </span>                   
                    ${has_next}
                </ul>
                </div>`
                $("#page_section").html(a_html)
          }
 
          function removeClass(objClicked){
            $("#page_section ul").children().each(function() {
                var attr = $(this).find('a').removeClass("pagination-active");
            })
            objClicked.addClass('pagination-active');

          } 
          function truncChar(str,length){
              var myTruncatedString = str.substring(0,length);              
              if (str.length > myTruncatedString.length){
                return myTruncatedString + "..."
              }
              return myTruncatedString
          }
          function append_html(counter,val){
              var simulation_checked=''
              if (val.simulation_run==true) {
                  simulation_checked='checked'
              }

              var eye_style=''
              var ready_attr=''
              var model_class_added=''
              var inlinestyle=''
              var delete_my_investment = ''
              if (val.userIsInvestor ==true) {
                  eye_style='style="color:blue"'
                  ready_attr='myinvestment'
                  model_class_added= 'model-complete'
                  inlinestyle="style ='background-color:beige';"

                  delete_my_investment= `<a href="#"  data-toggle="modal" data-target="#confirmdelete" ${ready_attr} class="mydeleteclass iconClass"
                      data-object-name="${val.name}"  data-item-id="div-${val.id}" data-invest-value ="${val.user_investment_value}"
                      data-delete-url="/trading/delete_investor_this_user_ajax/${val.id}/"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                      title='Withdraw Investment' > <i class="fas fa-cut"></i><span class="counter counter-lg">${val.user_investment_percent}</span> 
                    </a>`
              
                    
              }else{
                
                  ready_attr='myinvestment_na'
                  eye_style='style="color:inherit"'
              }

              if (val.userIsOwner == true) {
                  myportifolio= `<a href="/trading/edit-investment/${val.id}/" 
                      data-toggle="tooltip" data-placement="bottom"  
                      title='Manage Investment'>
                      <span class="advanced">Enterprenuer</span>
                    </a>`
                  
              }else{                  
                  myportifolio=''
              }
             
              if (val.userIsInvestor == true) {
                  myinvestment= `<a href="/trading/investment-details/${val.id}/" 
                      data-toggle="tooltip" data-placement="bottom"  
                      title='View Investment'>
                      <span class="advanced2">Investor</span>
                    </a>`
                  
              }else{                  
                myinvestment=''
              }

         
              var design_complete_checked=''
              if (val.design_complete == true) {
                  design_complete_checked='checked'
              }
              var js_date_created = new Date(val.date_created)
              //append to post
             
              counter=  counter+1
              var baseimageURL = "{% static 'mentor/assets/img/projects/' %}"
              imgval= baseimageURL + val.uniqueid +'.jpg'

             
              var descript_trunc =truncChar(val.description,100)
              var name_trunc =truncChar(val.name,25)

              a_html=`
              <div id="div-${val.id}" class="col-lg-4 col-md-6 d-flex align-items-stretch umodels">
                <div ${ready_attr} class="project-item umodel-item ${model_class_added}" ${inlinestyle}>
                  <img src="${imgval}" class="img-fluid" alt="...">
                  ${myportifolio} ${myinvestment}             
                  <div class="project-content">

                  

                    <h3><a href="/trading/investment-details/${val.id}/">${name_trunc}</a></h3>
                    
                    ${delete_my_investment}

                    ${descript_trunc}
                    <div class="trainer d-flex justify-content-between align-items-center">
                      <div class="trainer-rank d-flex align-items-center">
                        <i class="bx bx-download"></i>&nbsp;${val.views}
                      </div>
                      <div class="trainer-rank d-flex align-items-center">
                          <a class="model-likes" href="#" data-url="/trading/update_investment_likes/${val.id}/" 
                            style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                            title='Like'><i class="bx bx-heart"></i>&nbsp;${val.likes}
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div> ` ;
                        
                  
  return a_html
}
          function append_html2(counter,val){
              var simulation_checked=''
              if (val.simulation_run == true) {
                  simulation_checked='checked'
              }

              var eye_style=''
              var ready_attr=''
              var model_class_added=''
              var inlinestyle=''
              var delete_my_investment = ''
              if (val.userIsInvestor == true) {
                  eye_style='style="color:blue"'
                  ready_attr='myinvestment'
                  model_class_added= 'model-complete'
                  inlinestyle="style ='background-color:beige';"
                  
              }else{
                  
                  eye_style='style="color:inherit"'
                  ready_attr='myinvestment_na'
              }

              if (val.userIsOwner ==true) {
                  myportifolio= `<a href="/trading/edit-investment/${val.id}/" 
                      data-toggle="tooltip" data-placement="bottom"  
                      title='Manage Investment'>
                      <span class="advanced">Enterprenuer</span>
                    </a>`
                  
              }else{                  
                  myportifolio=''
              }
             
              if (val.userIsInvestor ==true) {
                  myinvestment= `<a href="/trading/investment-details/${val.id}/" 
                      data-toggle="tooltip" data-placement="bottom"  
                      title='View Investment'>
                      <span class="advanced2">Investor</span>
                    </a>`

                    delete_my_investment= `<a href="#"  data-toggle="modal" data-target="#confirmdelete" ${ready_attr} class="mydeleteclass iconClass"
                      data-object-name="${val.name}"  data-item-id="div-${val.id}" data-invest-value ="${val.user_investment_value}"
                      data-delete-url="/trading/delete_investor_this_user_ajax/${val.id}/"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                      title='Withdraw Investment' > <i class="fas fa-cut"></i> <span class="counter counter-lg">${val.user_investment_percent}</span>
                    </a>`
                  
              }else{                  
                myinvestment=''
              }

         
              var design_complete_checked=''
              if (val.design_complete ==true) {
                  design_complete_checked='checked'
              }
              var js_date_created = new Date(val.date_created)
              //append to post
             
              counter=  counter+1
              var baseimageURL = "{% static 'mentor/assets/img/projects/' %}"
              imgval= baseimageURL + val.uniqueid +'.jpg'

             
              var descript_trunc =truncChar(val.description,100)
              var name_trunc =truncChar(val.name,25)
              
              a_html=`
              <div ${ready_attr} class="project-item umodel-item ${model_class_added}" ${inlinestyle}>
                  <img src="${imgval}" class="img-fluid" alt="...">
                  ${myportifolio} ${myinvestment}             
                  <div class="project-content">
                    <h3><a href="/trading/investment-details/${val.id}/">${name_trunc}</a></h3>
                    ${delete_my_investment}
                    ${descript_trunc}
                    <div class="trainer d-flex justify-content-between align-items-center">
                      <div class="trainer-rank d-flex align-items-center">
                        <i class="bx bx-download"></i>&nbsp;${val.views}
                      </div>
                      <div class="trainer-rank d-flex align-items-center">
                          <a class="model-likes" href="#" data-url="/trading/update_investment_likes/${val.id}/" 
                            style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                            title='Like'><i class="bx bx-heart"></i>&nbsp;${val.likes}
                          </a>
                      </div>
                    </div>
                  </div>
                </div> ` ;
                        
                  
  return a_html
}

          function set_my_portifolio(){
          
               // display:none and remove ele
              $('.mydeleteclass[myinvestment_na]').each( function (){
                  $(this).css(
                     { "display":"none",
                        // "title":"", 
                      }
                  ).remove()          
              })

              $('.myspan[myportifolio]').each( function (){
                  $(this).addClass('advanced')                   
              })
               // display:none and remove ele
              $('.myspan[portifolio_na]').each( function (){
                  $(this).css(
                     { "display":"none",
                        // "title":"", 
                      }
                  ).remove()          
              })


              $('.myspan[myinvestment]').each( function (){
                  $(this).addClass('advanced2')                   
              })
               // display:none and remove ele
              $('.myspan[myinvestment_na]').each( function (){
                  $(this).css(
                     { "display":"none",
                        // "title":"", 
                      }
                  ).remove()          
              })
          }
          function set_model_complete(){
            $('.project-item[myinvestment]').each( function (){
                    $(this).addClass('model-complete')
                    $(this).css("background-color","beige")
                   /*  //css prop chaining....
                    $(this).css(
                      { "background-color":"beige",
                        "background-color":"beige", 
                        "background-color":"beige",  
                      }
                    ) 
                    */
              })
          }
          $(document).ready(function (){ 
              set_my_portifolio()
              $("#investments a:first").addClass( "active") 
              $("#investors a:first").addClass( "active") 
              $("#iamaninvestor a:first").addClass( "active")
              set_model_complete()
              
          })
          $('#confirmdelete').on('show.bs.modal', function(e) {
            var name = $(e.relatedTarget).data('object-name');
            var url = $(e.relatedTarget).data('delete-url');
            var item_id = $(e.relatedTarget).data('item-id');
            var user_invest_value = $(e.relatedTarget).data('invest-value');
          

            //console.log(item_id)
            var name =truncChar(name,25)
            $('#confirmdelete .modal-body').html("Are you sure you want to <b>withdraw</b> $" + numberWithCommas(user_invest_value) + " your <b>investment</b> in <i>[" + name + "]</i>?");
            $('#confirmdelete .modal-footer input').attr('data-url', url);
            $('#confirmdelete .modal-footer input').attr('item-id', item_id);
        });
          $("body").on("keyup", "#search", function(){
            var search_val = $(this).val().toLowerCase();
            var tag_name ="{{tag_name}}"
            var tag_id ="{{tag_id}}"
            search_val=search_val.replace(/[^a-zA-Z0-9]/g,"")
            if (search_val.length == 0 ){
                if (tag_name.length  == 0){
                  //console.log('searching only display :0')
                  display_investment_ajax_url = "{% url 'display_investment_ajax' %}"
                }else{
                  // console.log('tag only display :1')
                  //tag
                  display_investment_ajax_url = `{% url 'investment_tags_ajax' 12345 %}`.replace(/12345/, tag_id.toString()); 
          
                }
          
            } else{
               if (tag_name.length  == 0){
                  // console.log('searching only display :3')
                  //search
                  display_investment_ajax_url = `{% url 'investment_search_ajax' 12345 %}`.replace(/12345/, search_val.toString()); 
          
                }else{
                  // console.log('tag and search display :4')
                  // tag and search
                  display_investment_ajax_url = `{% url 'investment_search_and_tags_ajax' 12345 6789 %}`.replace(/12345/, tag_id.toString()).replace(/6789/, search_val.toString()); 
                 
                }
            }
            
         
             // click first page
            page_no=1

             // ajax call
             $.ajax({
                    type: "POST",
                    // define url name
                    url: display_investment_ajax_url, 
                    data : {    
                        page_no : page_no, 
                        csrfmiddlewaretoken: csrftoken,
                    },
                    // handle a successful response
                    success: function (response) {
                        $('#project_div').html('')
                        var num_of_pages=1
                        if (response.data.per_page){
                            per_page=response.data.per_page
                        }

                        if (response.data.num_of_pages){
                          num_of_pages=response.data.num_of_pages
                        }
                        var records
                        if (response.data.totalrecords == 0) {
                          records= `No records found`
                          html_text= `<div class="col-lg-12 text-center"><p>${records}</p></div>`
                          $('#project_div').html(html_text)
                        }else if(response.data.totalrecords == 1){
                          records= `${response.data.totalrecords} record found`;
                        }else{
                          records= `${response.data.totalrecords} records found`;
                        }
                        
                        html_a= `<label id="total_projects_searched"><i>${records}</i></label>`
                        $('#total_projects_searched').html(html_a)
                       
                        updatePaging2(response.data)
                        var base_counter =(parseInt(page_no)-1)*per_page
                        var counter=base_counter
                        $.each(response.data.results, function(i, val) {
                            a_html=append_html(counter,val)
                            // add each model on every line
                            $('#project_div').append(a_html)
                        });
                        set_model_complete()
                        set_my_portifolio()
                        },
                        error: function () {
                            alert('Error Occured');
                        }
                }); 
          
          
          });
         
          function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
          var csrftoken = getToken('csrftoken');
          $(document).ready(function (){ 
                     
            $('body').on('click', '.a_page_nav', function (event) {
                 
                  event.preventDefault();
                  var page_no = $(this).attr('href');
                  var objthis = $(this)
                  // ajax call
                  $.ajax({
                      type: "POST",
                      // define url name
                      url: display_investment_ajax_url, 
                      data : {    
                          page_no : page_no, 
                          csrfmiddlewaretoken: csrftoken,
                      },
                      // handle a successful response
                      success: function (response) {
                        updatePaging2(response.data)
                          //removeClass(objthis)
                          $('#project_div').html('')
                          if (response.data.per_page){
                              per_page=response.data.per_page
                          }
                          var base_counter =(parseInt(page_no)-1)*per_page
                          var counter=base_counter
                          $.each(response.data.results, function(i, val) {
                              a_html=append_html(counter,val)
                              // add each model on every line
                              $('#project_div').append(a_html)
                              
                          });
                          },
                          error: function () {
                              alert('Error Occured');
                          }
                  }); 
              });
          
            $('body').on("click",".model-likes",function(e){
                  event.preventDefault();
                  e.stopPropagation()
                  var url = $(this).attr('data-url');
                  // ajax call
                  $.ajax({
                    type: "POST",
                    url: url, 
                    data : {  
                      csrfmiddlewaretoken: csrftoken,
                    },
                    success: function(response){
                        if(response.error == false){
                            const ref="#div-" + response.data.id
                            val= $(ref).children().find('.trainer').find('a')
                          
                            htmal_a= `<a class="model-likes" href="#" data-url="/trading/update_investment_likes/${response.data.id}/" 
                              style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                              title='Like'><i class="bx bx-heart"></i>&nbsp;${response.data.likes}`;
                            $(val).html(htmal_a)
                        }
                    //END SUCCESS
                    }
                // END AJAX
                })
                return false;
            })
            
          })
          
          
        $('body').on('click', '.delete-button', function (e) {
            e.preventDefault();
            var tr_id =$('#delete-button').attr('item-id')
            row = $('#'+ tr_id.trim());
           
            var formData = {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            };
            $.ajax({
                type: 'POST',      
                url:   $('#delete-button').attr('data-url'), 
                encode: true,
                contentType: 'application/x-www-form-urlencoded',
                crossDomain: false,
                dataType: 'json',
                data: formData,     // our data object
                success: function (response) {
                    $('.close-modal').click()                    
                    a_html=append_html2(1,response.data.model)
                    row.html(a_html)
                    set_my_portifolio()
                 
                },
                error: function (exception) {
                    alert('Exeption:' + exception);
                }
            });
        });
  
     
     </script>

  {% endblock %}

  {% block content_custom_menu_navbar %}
  <!-- ======= Header ======= -->
  {% include 'investments_appraisal/mentor/sections/section_nav_search.html' %}
  
  {% endblock %}

