{% extends 'investments_appraisal/mentor/index.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% load humanize %}
{% block page_title %}
    <title>My Investments</title>
{% endblock %}

{% block stylesheets %}
<link href="{% static 'mentor/assets/css/search.css' %}" rel="stylesheet">
<style>
    @media
   only screen 
 and (max-width: 760px), (min-device-width: 768px) 
 and (max-device-width: 1024px)  {

     /* Force table to not be like tables anymore */
     table, thead, tbody, th, td, tr {
         display: block;
     }

     /* Hide table headers (but not display: none;, for accessibility) */
     thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
     }

 tr {
   margin: 0 0 1rem 0;
 }
   
 tr:nth-child(odd) {
   background: #ccc;
 }
 
     td {
         /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #eee;
         position: relative;
         padding-left: 50%;
     }

     td:before {
         /* Now like a table header */
         position: absolute;
         /* Top/left values mimic padding */
         top: 0;
         left: 6px;
         width: 45%;
         padding-right: 10px;
         white-space: nowrap;
     }
         /*
         Label the data
     You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
         */
         td:nth-of-type(1):before { content: "#"; }
         td:nth-of-type(2):before { content: "Title"; }
         td:nth-of-type(3):before { content: "Summary"; }
         td:nth-of-type(4):before { content: "Value"; }
         td:nth-of-type(5):before { content: "Contri."; }
         td:nth-of-type(6):before { content: "Category"; }
         td:nth-of-type(7):before { content: "Owner"; } 
         td:nth-of-type(8):before { content: "Application Status"; }
         td:nth-of-type(9):before { content: "Actions"; }
         /* td:nth-of-type(10):before { content: "Public"; }
         td:nth-of-type(11):before { content: "Actions"; } 
        */
     }
 </style>
{% endblock %}

{% block content_header %}   
{% endblock %}


{% block content %} 
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
        </div>
        <!-- End Breadcrumbs -->
        <!---Removed padding from 70px-- 0px-->
        <section style= 'padding: 5px 0;' id="projects" class="projects">  
            <div class="container   box-element" data-aos="fade-up">
                
                    
            <!-- ======= Breadcrumbs ======= -->
                <div class="row">
                    <ol class="breadcrumb" >
                        <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
                        
                        <li class="breadcrumb-item" ><a href="{% url 'fin_user_models' %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom" title='Financial Models'><i class="fas fa-chart-line"></i></a></li>
                        
                        <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success" 
                            data-toggle="tooltip" data-placement="bottom" title='Explore Investments'><i class="fas fa-balance-scale"></i></a></li>
                      
                              
                     
                        <li class="breadcrumb-item" >
                            <label id="total_items"  class ="badge rounded-pill bg-light text-dark">Total [{{total}}]</label>
                        </li> 
                        <li id='li_current_status' class="breadcrumb-item" style="display:none ;">
                            <a id='current_status' href="{% url 'user_investments' %}"
                                data-toggle="tooltip" data-placement="bottom" 
                                title='Remove Status' class ="badge rounded-pill bg-success"><i>[{{status}}]</i> <span aria-hidden="true">×</span>
                            </a> 
                        </li>
                    </ol>      
                </div>       
                <!-- Table Section -->
                <div id="user_div" class="row" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-body">
                                {%if first_page %}
                                <h4 style="text-align:center;" id="personal_totals"> <b>Personal Investments: Total</b>:${{total_sum|intcomma}} <b>Aver</b>:$ {{average| floatformat:-1 | intcomma}}</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-8">
                                        Application Status:
                                        {% for tag in APLLICATION_STATUS_CHOICE %}
                                            {%if tag == 'orphaned' %}
                                            <a id={{tag}} {% if status == tag %} class="filter-tags filter-status-orphaned badge rounded-pill bg-light text-dark" {% else %}class="filter-status-orphaned badge rounded-pill bg-warning text-dark" {% endif %}  href="#" data-url="{% url 'user_investments_orphaned_ajax'  %}" 
                                                data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                                title='Filter'>{{tag}}
                                            </a>  
                                            {%else%}
                                                <a id={{tag}} {% if status == tag %} class="filter-tags filter-status badge rounded-pill bg-light text-dark" {% else %}class="filter-status badge rounded-pill bg-warning text-dark" {% endif %}  href="#" data-url="{% url 'user_investments_load_status_ajax' tag %}" 
                                                    data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                                    title='Filter'>{{tag}}
                                                </a>
                                            {% endif %}     
                                        {% endfor %}
                                        
                                         
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table role="table" id="usersTable" class="table table-striped">
                                        
                                        <thead role="rowgroup" class="thead-dark">
                                            <tr role="row">
                                                <th role="columnheader"   style="width: 1%" >#</th>    
                                                <th role="columnheader"   style="width: 15%" >Invest. Title</th>
                                                <th role="columnheader"   style="width: 22%" >Invest. Summary</th>
                                                <th role="columnheader"   style="width: 10%" >Total Value</th>
                                                <th role="columnheader"   style="width: 10%" >My Contr.</th>
                                                <th role="columnheader"   style="width: 10%" >Category</th>
                                                <th role="columnheader"   style="width: 10%" >Owner</th>
                                                <th role="columnheader"   style="width: 10%" >Appl. Status</th>
                                                <th role="columnheader"   style="width: 12%" class="text-right">Actions</th>
                                            </tr>
                                       </thead>
                                        <tbody role="rowgroup"id="userinvestment-table-tbody">
                                        {% for item in first_page  %}
                                        <tr role="row" id="item-{{item.id}}" >
                                            <td role="cell">{{forloop.counter}}</td>
                                        
                                            <td role="cell" class="modelData" name="name" >{{item.inv_name |truncatechars:15}}</td>
                                            <td role="cell" class="modelData" name="description" >{{item.summary|truncatechars:40}}</td>
                                            <td role="cell" class="modelData" name="category" >${{item.total_value| intcomma}}</td>
                                            <td role="cell" class="modelData" name="myinvest" >${{item.myinvest| intcomma}}</td>
                                            <td role="cell" class="modelData" name="category" >{{item.cat_name}}</td>
                                            
                                            <td role="cell" class="modelData" name="email" > {% if item.application_status == "engagement" %} {{item.email}} {% else %} N/A {%endif%}</td>
                                            <td role="cell" class="modelData" name="application_status" >{{ item.application_status }}</td>
                                            <td role="cell" class="text-right modelAction modelData" name="action">
                                                <a href="{% url 'investment-details' item.iid %}"
                                                    style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                                    title='View Investment'><i class="fas fa-eye"></i>
                                                </a>
                                                
                                                <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                                                    data-object-name="{{ item.inv_name }}"  data-item-id="{{item.id}}" 
                                                    data-delete-url="{% url 'delete_investor_ajax' item.id  1 %}"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                                                    title='Cancel Investment Application' > <i class="fas fa-trash"></i> 
                                                </a>

                                                {% if item.application_status == "accepted" %} 
                                                    <a class="ajax_engage"  href="#" data-url="{% url 'user_engage_investor' item.iid %}" 
                                                        data-target="#modal-edit-product-div" style="color:inherit" 
                                                        data-toggle="tooltip" data-placement="bottom" 
                                                        title='Click to Engage. You were accepted {{ item.time_since_status_updated }}'><i class="fas fa-handshake"></i>
                                                    </a> 

                                                {%endif%}

                                                {% if item.application_status == "engagement" %} 
                                                    <a href="{% url 'investment-blogs' item.iid %}" class ="iconClass-primary"
                                                        style="color:goldenrod" data-toggle="tooltip" data-placement="bottom" 
                                                        title='Business Forum [{{ item.blogs_count}}]'><i class="fas fa-comment-alt"></i>
                                                        {% if item.blogs_count != 0 %} 
                                                        <span class="counter counter-lg" style="color: red;">{{item.blogs_count}}</span> {% endif %}
                                                    </a>
                                                {%endif%}

                                               

                                                
                                            </td>
                                        
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                
                                </div>

                                {%else%}

                                <h3>No investments available</h3>

                                {%endif%}

                            </div>

                        </div>
                    </div>
                </div>
                <!--Pagination  -->
                <div id= "page_section" class="pagination">
                    <ul class="pagination newpagination">
                        {% if current_page.has_previous %}
                            <li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                            <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.previous_page_number}}">previous</a></li>
                            
                        {% endif %}
                
                        <span class="current"  style="margin-left:5px">
                        Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
                        </span>
                
                        {% if current_page.has_next %}
                            <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.next_page_number}}">next</a></li>
                            <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.paginator.num_pages}}">last &raquo;</a></li>
                        
                        {% endif %}
                    </ul>
                </div>  
            </div>
        </section><!-- End User Section -->
    </main><!-- End #main -->
{%endblock%}


{% block modal_divs %}
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="confirmdelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">No</button>

                    <input type="button" class="delete-button  btn btn-danger" id="delete-button"
                            name="delete-button" value="Yes" data-url="" tr-id="" item-id="">
                </div>
            </div>
        </div>
    </div>

{% endblock %} 
{% block scripts %}
<script src="{% static 'mentor/assets/js/search.js' %}"></script>
<script>
    function truncChar(str,length){
    var myTruncatedString = str.substring(0,length-1);              
    if (str.length > myTruncatedString.length){
    return myTruncatedString + "..."
    }
    return myTruncatedString
    }
    function numberWithCommas(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
    }
    function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
    function append_no_records_found(total, tbody_id, colspan){
        if (total == 0) {
            no_record_html=`<tr id="item-1">  <td colspan='${colspan}'> No Records Found <td>
                            </tr>` ;
            $(`#${tbody_id}`).append(no_record_html)
        }
    }
    var csrftoken = getToken('csrftoken');
    var display_ajax_url= "{% url 'display_myinvestment_ajax' %}" 
    var app_status='{{status}}'

     //first timme
    var display_ajax_url
    var status= '{{status}}'
    
    if (status){ 
                            
        display_ajax_url = `{% url 'user_investments_load_status_ajax' 12345 %}`.replace(/12345/, status.toString()); 
    }

    function checkPosition() {
            //mobile
           
            if (
                (window.matchMedia('(max-width: 760px)').matches) || 
                ((window.matchMedia('min-device-width: 768px').matches) && (window.matchMedia('max-device-width: 1024px').matches)) 
                ) {
                mobile_viewa()
            } else {
                desktop_viewa() 
            }
        }

        function mobile_viewa(){
            $('table').removeClass('table table-striped');
        }

        function desktop_viewa(){
            $('table').addClass('table table-striped');
        }

        $(window).resize(function() {
            console.log('width: ' , $(this).width())
            
          if ($(this).width() < 744) {
            mobile_viewa()
          } else {
            desktop_viewa()
          }
      });  
     
    
    $(document).ready(function (){ 
        checkPosition()
        $("#investments a:first").addClass( "active") 
        $("#investors a:first").addClass( "active") 
        $("#exploreinvestments a:first").addClass( "active") 

         var boo_status = "{{search_status}}"
        
         if (boo_status == true ){
            app_status ='{{status}}' 
            //console.log('seting....', boo_status, app_status,)
            
         } 
              
    })
    $('#confirmdelete').on('show.bs.modal', function(e) {
        var name = $(e.relatedTarget).data('object-name');
        var url = $(e.relatedTarget).data('delete-url');
        var item_id = $(e.relatedTarget).data('item-id');
        //console.log(item_id)
        var name =truncChar(name,25)
        $('#confirmdelete .modal-body').html("Are you sure you want to <b>withdraw</b> your <b>investment</b> in <i>[" + name + "]</i>?");
        $('#confirmdelete .modal-footer input').attr('data-url', url);
        $('#confirmdelete .modal-footer input').attr('item-id', item_id);
    });

    $('body').on('click', '.delete-button', function (e) {
            e.preventDefault();
            var tr_id =$('#delete-button').attr('item-id')
            row = $('#item-'+ tr_id.trim());
            var formData = {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            };
            $.ajax({
                type: 'POST',      
                url:   $('#delete-button').attr('data-url'), 
                encode: true,
                contentType: 'application/x-www-form-urlencoded',
                crossDomain: false,
                dataType: 'json',
                data: formData,     // our data object
                success: function (response) {
                    $('.close-modal').click()
                    //console.log('rrr',response)
                    
                    ahtml= `<h4 style="text-align:center;" id="personal_totals"> 
                        <b>Value</b>:$${numberWithCommas(response.data.model.total_sum)} 
                        <b>Aver</b>:$${numberWithCommas(response.data.model.average)}</h4>`
                    $('#personal_totals').html(ahtml)  
                    row.fadeOut(1000, function () {
                        //remove the row deleted
                        $(this).remove();
                        // if deleted page make the page disappear, point to prev page
                        //page-1
                        if (response.data.total_pages < response.data.deleted_page){                     
                            var index= parseInt(response.data.total_pages)-1
                            window.setTimeout(function() {
                                $(".a_page_nav:eq(" +  index  +")").trigger('click');
                            }, 1000);
                        }else{
                            // if item on the current page get to zero
                            // point to page-1
                            var total = $('#userinvestment-table-tbody').children().length
                            if (total == 0){
                                //refresh the current pages
                                var index= parseInt(response.data.deleted_page)-1
                                if (index<1){
                                    // if deleteting first page  then scroll all into first page
                                    index=1
                                } 
                                
                                loadPageAjax(index)
                            }

                        }
                        
                       
                    });
                    // if deleting page one and there are more pages behind.... push al those pages
                  
                },
                error: function (exception) {
                    alert('Exeption:' + exception);
                }
            });
        });
    
    $('body').on('click', '.a_page_nav', function (event) {
        // preventing default actions
        event.preventDefault();
        var page_no = $(this).attr('href');
        // ajax call
        loadPageAjax(page_no)
    });

    $('body').on('click', '.ajax_engage', function (event) {
        // preventing default actions
        // console.log('Start here............')
        event.preventDefault();
        var href = $(this).attr('href');
        var url = $(this).attr('data-url')
        // ajax call
        engageAjax(url)
    });
    function remove_messages(response){
        $('.my_messages2_li[mymessages2]').each( function (){
            ahtml =`<a href="{% url 'user_investments_accepted' %}" class="iconClass-primary" data-toggle="tooltip"  title='You have been accepted in ${response.data.accepted} investment(s)'>
                    <i  style="color:lightgreen" class="fas fa-handshake"></i>
                    <span class="counter counter-lg" style="top:4px ;">${response.data.accepted} </span>
                </a>`
            $(this).html(ahtml) 
            if (response.data.accepted == 0) {
                $(this).remove()
            } else {
                $(this).css({ "display":"block"})   
            }
            
           
        })  
    }
    function engageAjax(href){
        // click first page
        page_no=1
        var data
        data = { 
                csrfmiddlewaretoken: csrftoken,
            }
      
        //console.log(app_status,)
        $.ajax({
                type: "POST",
                url: href, 
                data :data,
                // handle a successful response
                success: function (response) {
                    remove_messages(response)  
                    $('#userinvestment-table-tbody').html('')
                    updatePaging2(response.data)
                    if (response.data.per_table){
                        per_table=response.data.per_table
                    }
                    var base_counter =(parseInt(page_no)-1)*per_table
                    var counter=base_counter
                    $.each(response.data.results, function(i, val) {
                        counter=  counter +1
                        a_html=append_html(counter,val,page_no)                           
                        // add each model on every line
                        $('#userinvestment-table-tbody').append(a_html)
                    });
                     //Append Zero Record Annotation
                     append_no_records_found(response.data.totalrecords,'userinvestment-table-tbody',8)
                    },
                    error: function () {
                        alert('Error Occured');
                    }
                    
            });
            //add_model_class()
        }
 

    function update_totals(data) {
        ahtml =`<b>Personal Investments: Total</b>:$${numberWithCommas(data['total_sum'])} <b>Aver</b>:$${numberWithCommas(data['average'])}`
        $('#personal_totals').html(ahtml)
      
    }
    function updatePaging2(data){
        var has_previous=''
        //console.log(data)
        if (data.has_previous){
            has_previous= `<li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.previous_page_number}">previous</a></li>`;
        
        }       
        var has_next= ''          
        if (data.has_next){
            has_next= ` <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.next_page_number}">next</a></li>
                    <li><a class='a_page_nav' style="margin-left: 5px;" href ="${data.last}">last &raquo;</a></li>
                `; 
        }       
        a_html=`
        <div id= "page_section" class="pagination">
            <ul class="pagination newpagination">
                ${has_previous}            
                <span class="current" style="margin-left:5px" >
                    Page ${ data.current_page } of ${ data.last }.
                </span>                   
                ${has_next}
            </ul>
            </div>`
            $("#page_section").html(a_html)
        }

    function append_html(counter,val,page_no){
        //console.log(counter,page_no, val)
        var owner_details =''
        
        if (val.application_status == "accepted"){
            engage= `<a class="ajax_engage"  href="#" data-url="/tr/u/i/engage_ajax/${val.iid}/" 
                data-target="#modal-edit-product-div" style="color:inherit" 
                data-toggle="tooltip" data-placement="bottom" 
                title='Click to Engage. You were accepted ${val.time_since_status_updated}'><i class="fas fa-handshake"></i></a>` 
           
        }else{
            engage=""
        }
        if (val.application_status == "engagement"){
            owner_details= val.email
            span=``
            if (val.blogs_count != 0){
                span=`<span class="counter counter-lg" style="color:red;">${val.blogs_count}</span>`          
            }

            business_forum_connection= `<a href="/forum/i-blogs/${val.iid}/" class ="iconClass-primary" 
                        style="color:goldenrod" data-toggle="tooltip" data-placement="bottom" 
                        title='Business Forum [${val.blogs_count}]'><i class="fas fa-comment-alt"></i>
                        ${span}
                    </a>`

               

        }  else{
            owner_details='N/A' 
            business_forum_connection= ''
        }

      
      
        a_html=`
            <tr id="item-${val.id}" >
                <td>${counter}</td>
                <td class="modelData" name="name" >${truncChar(val.inv_name,15)}</td>
                <td class="modelData" name="description" >${truncChar(val.summary,40)}</td>
                <td class="modelData" name="category" >$${numberWithCommas(val.total_value)}</td>
                <td class="modelData" name="myinvest" >$${numberWithCommas(val.myinvest)}</td>
                <td class="modelData" name="category" >${val.cat_name}</td>
                <td class="modelData" name="email" >${owner_details}</td>
                <td class="modelData" name="application_status" >${val.application_status}</td>
                
                
                <td class="text-right modelAction modelData" name="action">
                    <a href="/tr/i/d/${val.iid}/"
                        style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                        title='View Investment'><i class="fas fa-eye"></i>
                    </a>
                        
                    <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                        data-object-name="${val.inv_name}"  data-item-id="${val.id}" 
                        data-delete-url="/tr/delete_investor_ajax/${val.id}/${page_no}/"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                        title='Cancel Investment Application' > <i class="fas fa-trash"></i> 
                    </a>
                    ${engage}
                    ${business_forum_connection}
                </td>

            </tr>` ;
        return a_html
    }
    function append_orphaned_html(counter,val,page_no){      
        a_html=`
            <tr id="item-${val.id}" >
                <td>${counter}</td>
                <td colspan='3' style='text-align:center'>Investment project no longer exists </td>
                <td class="modelData" name="myinvest" >$${numberWithCommas(val.value)}</td>
                <td colspan='2' style='text-align:center' >N/A</td>
                <td class="modelData" name="application_status" >${val.application_status}</td>
                <td class="text-right modelAction modelData" name="action">
                                           
                    <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                        data-object-name="N/A"  data-item-id="${val.id}" 
                        data-delete-url="/tr/delete_investor_ajax/${val.id}/${page_no}/"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                        title='Remove Orphaned Investment Application' > <i class="fas fa-trash"></i> 
                    </a>
                  
                </td>

            </tr>` ;
        return a_html
    }
  
    function loadPageAjax(page_no){
        //var app_status ='{{status}}'
        //console.log('url',display_ajax_url )
        //console.log('PageNo: ', page_no)
        var data
        if (app_status) {
            data = {    
                    page_no : page_no,
                    app_status : app_status, 
                    csrfmiddlewaretoken: csrftoken,
                }
        }else {
            data = {    
                    page_no : page_no,
                    csrfmiddlewaretoken: csrftoken,
                }
        }
        //console.log(app_status,)
        $.ajax({
                type: "POST",
                // define url name
                url: display_ajax_url, 
                data :data,
                // handle a successful response
                success: function (response) {
                    //console.log('url', display_ajax_url)
                    $('#userinvestment-table-tbody').html('')
                    //console.log('3...',  response.data)
                    updatePaging2(response.data)
                    if (response.data.per_table){
                        per_table=response.data.per_table
                    }
                    var base_counter =(parseInt(page_no)-1)*per_table
                    var counter=base_counter
                    $.each(response.data.results, function(i, val) {
                        counter=  counter +1
                        if (display_ajax_url ==  "{% url 'user_investments_orphaned_ajax' %}"){
                            a_html=append_orphaned_html(counter,val,page_no) 
                        }else {
                            a_html=append_html(counter,val,page_no)      
                        }
                                                 
                        // add each model on every line
                        $('#userinvestment-table-tbody').append(a_html)
                    });
                     //Append Zero Record Annotation
                     append_no_records_found(response.data.totalrecords,'userinvestment-table-tbody',8)
                               
                    },
                    error: function () {
                        alert('Error Occured');
                    }
                    
            });
            //add_model_class()
        }
    function update_total_results(total){
            html=`Total [${total}]`
            $('#total_items').html(html)
        }    
    $('body').on('click', '.filter-status', function (e) {
                
            e.preventDefault(); 
            var clicked_id = $(this).attr('id')
            var myclass =$('.filter-status')
            var myclass2 =$('.filter-status-orphaned')
            app_status =$(this).attr('id')
            var search_val = $('#search').val().toLowerCase();
            search_val = search_val.replace(/[^a-zA-Z0-9]/g,"")
            
        
            if (search_val.length == 0 ){
                //tag
                display_ajax_url = `{% url 'user_investments_load_status_ajax' 12345 %}`.replace(/12345/, app_status.toString()); 
            } else{
                display_ajax_url = `{% url 'user_investments_search_and_tags_ajax' 12345 6789 %}`.replace(/12345/, app_status.toString()).replace(/6789/, search_val.toString()); 
            }
            var url =display_ajax_url

            $('#li_current_status').css('display','block')
            $('#current_status').html(`<i>[${clicked_id}]</i> <span aria-hidden="true">×</span>`)
            
            $.each(myclass, function(i, val) {
                let loop_id= $(this).attr('id')
                if (clicked_id == loop_id){
                    $(this).removeClass('bg-warning')
                    $(this).addClass('bg-light')
                
                }else {
                    $(this).addClass('bg-warning')
                    $(this).removeClass('bg-light')
                }
            });

            $.each(myclass2, function(i, val) {
                let loop_id= $(this).attr('id')
                if (clicked_id == loop_id){
                    $(this).removeClass('bg-warning')
                    $(this).addClass('bg-light')
                
                }else {
                    $(this).addClass('bg-warning')
                    $(this).removeClass('bg-light')
                }
            });
        
            // click first page
            page_no=1
            // ajax call
            $.ajax({
                        type: "POST",
                        // define url name
                        url: url, 
                        data : {    
                            page_no : page_no, 
                            csrfmiddlewaretoken: csrftoken,
                        },
                        // handle a successful response
                        success: function (response) {
                            $('#userinvestment-table-tbody').html('')
                            updatePaging2(response.data)
                            update_totals(response.data)
                            // console.log('arg.', app_status)
                            //console.log('2...',  response.data)
                           
                            
                            if (response.data.per_table){
                                per_table=response.data.per_table
                            }
                            var base_counter =(parseInt(page_no)-1)*per_table
                            var counter=base_counter
                            update_total_results(response.data.totalrecords)
                            $.each(response.data.results, function(i, val) {
                                counter=  counter +1
                                //console.log('url', url)
                                a_html=append_html(counter,val,page_no)                           
                                // add each model on every line
                                $('#userinvestment-table-tbody').append(a_html)
                            });
                            //Append Zero Record Annotation
                            append_no_records_found(response.data.totalrecords,'userinvestment-table-tbody',8)
                   
                            },
                            error: function () {
                                alert('Error Occured');
                            }
                    }); 
          
          });
    
    $('body').on('click', '.filter-status-orphaned', function (e) {
                
                e.preventDefault(); 
                var clicked_id = $(this).attr('id')
                var myclass =$('.filter-status')
                var myclass2 =$('.filter-status-orphaned')
                app_status =$(this).attr('id')
                var url = $(this).attr('data-url')
                display_ajax_url=url
                $('#li_current_status').css('display','block')
                $('#current_status').html(`<i>[${clicked_id}]</i> <span aria-hidden="true">×</span>`)
                
                $.each(myclass, function(i, val) {
                    let loop_id= $(this).attr('id')
                    if (clicked_id == loop_id){
                        $(this).removeClass('bg-warning')
                        $(this).addClass('bg-light')
                    
                    }else {
                        $(this).addClass('bg-warning')
                        $(this).removeClass('bg-light')
                    }
                });

                $.each(myclass2, function(i, val) {
                    let loop_id= $(this).attr('id')
                    if (clicked_id == loop_id){
                        $(this).removeClass('bg-warning')
                        $(this).addClass('bg-light')
                    
                    }else {
                        $(this).addClass('bg-warning')
                        $(this).removeClass('bg-light')
                    }
                });
            
                // click first page
                page_no=1
                // ajax call
                $.ajax({
                            type: "POST",
                            // define url name
                            url: url, 
                            data : {    
                                page_no : page_no, 
                                csrfmiddlewaretoken: csrftoken,
                            },
                            // handle a successful response
                            success: function (response) {
                                $('#userinvestment-table-tbody').html('')
                                updatePaging2(response.data)
                                update_totals(response.data)
                                 //console.log('arg.', app_status)
                                //console.log('1...',  response.data)
                                if (response.data.per_table){
                                    per_table=response.data.per_table
                                }
                                var base_counter =(parseInt(page_no)-1)*per_table
                                var counter=base_counter
                                update_total_results(response.data.totalrecords)
                                $.each(response.data.results, function(i, val) {
                                    counter=  counter +1
                                    //console.log('url', url)
                                    a_html=append_orphaned_html(counter,val,page_no)                           
                                    // add each model on every line
                                    $('#userinvestment-table-tbody').append(a_html)
                                });
                                //Append Zero Record Annotation
                                append_no_records_found(response.data.totalrecords,'userinvestment-table-tbody',8)
                       
                                },
                                error: function () {
                                    alert('Error Occured');
                                }
                        }); 
              
              });
      
    $("body").on("keyup", "#search", function(){

        var search_val = $(this).val().toLowerCase();
        search_val = search_val.replace(/[^a-zA-Z0-9]/g,"")
        if (search_val.length == 0 ){
            //tag
            display_ajax_url = `{% url 'user_investments_load_status_ajax' 12345 %}`.replace(/12345/, app_status.toString()); 
        } else{
            display_ajax_url = `{% url 'user_investments_search_and_tags_ajax' 12345 6789 %}`.replace(/12345/, app_status.toString()).replace(/6789/, search_val.toString()); 
        }
        // click first page
        page_no=1
        // ajax call
        $.ajax({
            type: "POST",
            // define url name
            url: display_ajax_url, 
            data : {    
                page_no : page_no, 
                csrfmiddlewaretoken: csrftoken,
            },
            // handle a successful response
            success: function (response) {
                $('#userinvestment-table-tbody').html('')
                //console.log('url', display_ajax_url)
                //console.log('2...',  response.data)
                updatePaging2(response.data)
                update_totals(response.data)
                
                if (response.data.per_table){
                    per_table=response.data.per_table
                }
                var base_counter =(parseInt(page_no)-1)*per_table
                var counter=base_counter
                update_total_results(response.data.totalrecords)
                $.each(response.data.results, function(i, val) {
                    counter=  counter +1
                    
                    a_html=append_html(counter,val,page_no)                           
                    // add each model on every line
                    $('#userinvestment-table-tbody').append(a_html)
                });
                //Append Zero Record Annotation
                append_no_records_found(response.data.totalrecords,'userinvestment-table-tbody',8)
                   
                },
                error: function () {
                    alert('Error Occured');
                }
        }); 
            

});

</script>
{% endblock %}

<!---------------------- CUSTOM SEARCH ------------------>
{% block content_custom_menu_navbar %}
<!-- ======= Header ======= -->
{% include 'investments_appraisal/mentor/sections/section_nav_search.html' %}

{% endblock %}

