{% load i18n %}
{% load static %}
{% load tags_extras %}
{% load humanize %}
{% load widget_tweaks %}


<div class="modal-header">
    <h4 class="modal-title myModalLabel">Edit Investment [{{usermodel | truncatechars:15}}]</h4>
    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>       
</div>

<div class="modal-body">
    <form class="model-form-edit form-horizontal modal-wide" enctype="multipart/form-data" method="post" data-url="{% url 'update_investment_ajax' pk=form.instance.id %}">
      {% csrf_token %}
      
        <div class="modal-body">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                <div class="col-sm-10 {% if form.name.errors %} has-error{% endif %}">
                  {{ form.name|add_class:"form-control" }}
                  {% for error in form.name.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
            </div>        
            </br>
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                <div class="col-sm-10 {% if form.description.errors %} has-error{% endif %}">
                  {{ form.description|add_class:"form-control" }}
                  {% for error in form.description.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
            </div>        
           </br>

            <div class="form-group row">               
                  <label class="col-sm-2 col-form-label" for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                  <div class="col-sm-4 {% if form.category.errors %} has-error{% endif %}">
                    {{ form.category|add_class:"form-control" }}
                    {% for error in form.category.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                <label class="col-sm-2 col-form-label" for="{{ form.total_value.id_for_label }}">{{ form.total_value.label }}</label>
                <div class="col-sm-4 {% if form.total_value.errors %} has-error{% endif %}">
                  {{ form.total_value|add_class:"form-control" }}
                  {% for error in form.total_value.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
            </div> 
            </br>

            <div class="form-group row">  
                <label class="col-sm-2 col-form-label" for="{{ form.closing_date.id_for_label }}">{{ form.closing_date.label }}</label>
                <div class="col-sm-4 {% if form.closing_date.errors %} has-error{% endif %}">
                  {{ form.closing_date|add_class:"form-control date-input" }}
                  {% for error in form.closing_date.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
                
                <!-- <label class="col-sm-2 col-form-label" for="{{ form.public.id_for_label }}">   {{ form.public.label }}</label>
                <div class="col-sm-4">
                    <div class="checkbox">
                        {{ form.public }}
                    </div>
                  
                    {% for error in form.public.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div> -->

                <div class="col-sm-4">
                    <div class="checkbox">
                      <label class="col-sm-2 col-form-label" for="{{ form.public.id_for_label }}"> {{ form.public.label }}</label>
                      &nbsp;
                      {{ form.public }}
                    </div>
                      {% for error in form.public.errors %}
                      <span class="help-block">{{ error }}</span>
                      {% endfor %}
                </div>
               
            </div>        
            </br>
            
            <div  class="form-group row">
                <label class="col-sm-2 col-form-label" for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
                <div class="col-sm-4 {% if form.tags.errors %} has-error{% endif %}">
                  <div class="multi-select-container"> 
                        {{ form.tags }}
                        {% for error in form.tags.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                  </div>
                </div>

                <label class="col-sm-2 col-form-label" for="{{ form.weekly_output_target.id_for_label }}">{{ form.weekly_output_target.label }}</label>
                <div class="col-sm-4 {% if form.weekly_output_target.errors %} has-error{% endif %}">
                  {{ form.weekly_output_target|add_class:"form-control" }}
                  {% for error in form.weekly_output_target.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
            </div>
           
        
            </br>
         
      <div class="form-error2 public_toggle_form-errors" style='display:none'>
      </div>
      <label id="investment_contrib" style="color:inherit;"></label>
      </div>

  <!--Footer-->
  <div class="modal-footer">
    <button class="btn btn-outline-danger close-modal" data-dismiss="modal" aria-label="Close"
        type="reset">Close
    </button>
    <button class="btn btn-danger" type="submit">Save</button>

    
  </div>
</form>




