{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}

{% load widget_tweaks %}
{% load store_extras %}

<!---Removed padding from 70px-- 0px-->
<section style= 'padding: 5px 0;' id="projects" class="projects">
    <div class="container  box-element" data-aos="fade-up">
         <!-- ======= Breadcrumbs ======= -->
         <div class="row">
            <ol class="breadcrumb" >
              <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
       
              <li class="breadcrumb-item" ><a href="{% url 'store' %}" class ="badge rounded-pill bg-success" class ="badge rounded-pill bg-success"
                data-toggle="tooltip" data-placement="bottom" title='Shop Goods'>{% trans 'Store' %}</a></li>    
              <li class="breadcrumb-item" ><a href="{% url 'orders_list' %}" class ="badge rounded-pill bg-success">{% trans 'Orders' %}</a></li>
    
              
         

              <li class="breadcrumb-item" >
                <label id="total_projects_searched">My Order </label>
              </li>  
            </ol>
          </div>

     
          <div id="project_div" class="row" data-aos="zoom-in" data-aos-delay="100">
              {% if order %}
              
              <h4 style="text-align:center;" id="personal_totals"> <b>My Order</b> valued @ {{ order.currency.symbol}}{{ order.total_price| intcomma }}</h4>
              <hr>
                  <div class="box row">
                      <div class="col-md-8 col-md-pull-4">
                            <p >Order Detail <a href="#">{{ order.customer.details }}</a> &nbsp;
                               Order Date: <a href="#">{{ order.date_ordered|date:'D F d, Y' }}</a> &nbsp;
                              {% if order.transaction_id %} Trans:id:{{ order.transaction_id }} {% endif%}</p>
                      </div>
                      <div class="col-md-4 col-md-push-8">                      
                        <a href="{% url 'print_order' order.id %}" target="_new" class="btn btn-outline-primary">Printable Order</a>
                        <a href="{% url 'order_pdf_view' order.id %}" target="_blank" class="btn btn-outline-primary">View Pdf</a>
                      </div>
                  </div>
                  <!-- Order items -->
                    <div class="panel panel-default">
                    
                      <table role="table" class="table table-hover" id="orderdata">
                        <thead role="rowgroup">
                          <tr role="row">
                            <th row="columnheader" scope="col">#</th>
                            <th row="columnheader"  scope="col">Item</th>
                            <th row="columnheader"  scope="col">Description</th>
                            <th row="columnheader"  scope="col">Seller</th>
                            <th row="columnheader"  scope="col">Cost</th>
                            <th row="columnheader"  scope="col">Qty</th>
                            <th row="columnheader" scope="col">Total</th>
                            <th row="columnheader" scope="col" class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody role="rowgroup">
                          {% for item in order.orderitem_set.all %}
                          <tr  role="row" id="orderrow-{{ item.id }}">
                            <th scope="row">{{ forloop.counter }} </th>
                            <td role="cell">{{ item.product }}</td>
                            <td role="cell">{{ item.product.description }}</td>
                            <td role="cell">{{ item.product.created_by }}</td>
                            <td role="cell">{{ item.order.currency.symbol}} {{ item.product.price| intcomma }}</td>
                            <td role="cell">{{ item.quantity | intcomma }}</td>
                            <td role="cell">{{item.order.currency.symbol}} {{ item.total| intcomma }}</td>
                          
                            <td role="cell" class="text-right">
                                  <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                                  data-object-name="{{ item.product }}"  data-item-id="{{item.id}}" 
                                  data-delete-url="{% url 'delete_order_item' order.id  item.id %}"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                                  title='Delete'> <i class="fas fa-trash"></i> 
                              </a>
                            </td>
                          </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                    
                      
                      <div class="panel-footer text-right">
                        <strong><p id = "order_total" name="order_total" >
                        Order total: {{ order.currency.symbol}}{{ order.total_price| intcomma }}
                      </p></strong></div>
                    </div>
                  <!-- End display Order -->
            
                {% else %}
                  <!-- Display order error -->            
                  <div class="alert alert-warning">Order number not found!</div>
            
                  <!-- End display order error -->
                {% endif %}
              </div>
            </div>
          </div>

       
    
    </div>
  
</section><!-- End Projects Section -->

