{% load i18n %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load store_extras %}

<!---Removed padding from 70px-- 0px-->
<section style= 'padding: 5px 0;' id="projects" class="projects">  
  <div class="container box-element" data-aos="fade-up">
      <!-- ======= Breadcrumbs ======= -->
      <div class="row">
        <ol class="breadcrumb" >
            <li class="breadcrumb-item" ><a href="{% url 'index' %}" class ="badge rounded-pill bg-success" 
                data-toggle="tooltip" data-placement="bottom" title='Home'><i class="fas fa-home"></i></a></li>
          
            <li class="breadcrumb-item" ><a href="{% url 'trading_home' %}" class ="badge rounded-pill bg-success" 
                data-toggle="tooltip" data-placement="bottom" title='Explore Investments'><i class="fas fa-balance-scale"></i></a></li>
        
        
            <li class="breadcrumb-item" ><a href="{% url 'store' %}" class ="badge rounded-pill bg-success"
                data-toggle="tooltip" data-placement="bottom" title='Go to Shopping'><i class="fas fa-shopping-cart"></i></a></li>
           
            <li class="breadcrumb-item" ><a href="{% url 'user_clients' %}" class ="badge rounded-pill bg-success"
              data-toggle="tooltip" data-placement="bottom" title='Manage Sales'><i class="fas fa-bullhorn"></i></a></li>
    
            <li class="breadcrumb-item active">
              <a href="#"   data-toggle="modal" data-placement="bottom" data-target="#modal_add_new_product"
              title='Add New Product' class ="badge rounded-pill bg-success"><i  class="fas fa-plus"></i>
              </a>
            </li> 
            <li class="breadcrumb-item" >
              <label id="total_projects_searched">My Products List: [{{total_products}}]</label>
            </li>  

         
        </ol>        
       </div> 

      <!-- Table Section -->
      <div id="project_div" class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-md-12">
              <div class="box">
                  <div class="box-body">
                      {%if first_page %}
                      <h4 style="text-align:center;" id="personal_totals"> <b>Registered Products: Total</b>:${{total_sum|intcomma}} <b>Aver</b>:$ {{average| floatformat:-1 | intcomma}}</h4>
                      <hr>
                      <div class="row">
                          <div class="col-lg-8">
                              Product Status:
                              {% for tag in BUSINESS_STATUS_CHOICE %}
                              
                            
                                  <a id={{tag}} {% if status == tag %} 
                                      class="filter-status badge rounded-pill bg-light text-dark" {% else %} 
                                      class="filter-status badge rounded-pill bg-warning text-dark" {% endif %}  
                                      href="#" data-url="{% url 'user_business_load_status_ajax' tag %}" 
                                      data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                      title='Filter'>{{tag}}
                                  </a>     


                                  <!-- <a href="{% url 'user_investments_load_status' tag %}" {% if status == tag %} class="badge rounded-pill bg-light text-dark" {% else %}class="badge rounded-pill bg-warning text-dark" {% endif %}>{{tag}}</a> -->
                              {% endfor %}
                          </div>
                      </div>
                      <div class="table-responsive">
                          <table id="productTable" class="table table-striped">
                              <thead class="thead-dark">
                                  <th style="width: 2%" >#</th>    
                                  <th style="width: 12%" >Category</th>
                                  <th style="width: 16%" >Title</th>
                                  <th style="width: 18%" >Description</th>
                                  <th style="width: 20%" >Image Url</th>
                                  <th style="width: 7%" >Price</th>
                                  <th style="width: 11%" class="text-right">Actions</th>
                              </thead>
                              <tbody id="product-table-tbody">


                                {% for product in first_page %}
                                <tr id="product-{{product.id}}">
                                   
                                    <td class="productData " name="counter"> 
                                      {{forloop.counter}}                                           
                                    </td>
                                    <td class="productCategories productData" name="categories">
                                      {% for item in product.categories.all %}
                                        {{ item.name }}
                                      {% endfor %} 
                                    </td>
          
                                     <td class="productName productData" name="name">{{product.name |truncatechars:25}}</td>
          
                                    <td  class="productDescription productData" name="description" >{{product.description|truncatechars:25}}</td>
                                    <td  class="productImage productData" name="image" >
                                        {{product.image }}
                                    </td> 
                                    
                                    <td class="productPrice productData" name="price">${{product.price | intcomma}}</td>
          
                                    <td class="text-right productAction" name="action" >
          
                                    
                                      <a href="{% url 'product_detail' product.id %}"
                                       style="color:inherit"><i class="fa fa-eye"></i>
                                      </a>
                                     
                                      <!-- edit unlocked records -->
                                      {% if not product.locked and edit_key %}
                                       
                                        <a class="product-edit show-form-update" href="#" data-url="{% url 'update_product' product.id %}" 
                                        data-target="#modal-edit-product-div" style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                        title='Update'><i class="fa fa-edit"></i>
                                        </a>
          
                                      {% endif %}
                                    
                                      <!-- delete unlocked -->
                                      {% if not product.locked and lock_key %}
                                       
                                        

                                        <a href="#"  data-toggle="modal" data-target="#confirmdelete" 
                                            data-object-name="{{ product.name }}"  data-item-id="{{product.id}}" 
                                            data-delete-url="{% url 'delete_product' product.id 1  %}"  style="color: red" data-toggle="tooltip" data-placement="bottom" 
                                            title='Delete' > <i class="fas fa-trash"></i> 
                                        </a>
                                      {% endif %}
                                     
                                        <!-- admin can lock unlocked records-->
                                      {% if  product.locked and lock_key %}
                                       
                                         <a class="product-unlock" href="#" data-url="{% url 'unlock_product' product.id %}" 
                                            style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                            title='lock'><i class="fa fa-lock"></i>
                                          </a>
                                      {% endif %}
                                        <!-- admin unlock inactive record-->
                                      {% if not product.locked and lock_key %}
                                          <a class="product-lock" href="#" data-url="{% url 'lock_product' product.id %}" 
                                            style="color:inherit" data-toggle="tooltip" data-placement="bottom" 
                                            title='unlock'><i class="fa fa-unlock"></i>
                                          </a>
                                      {% endif %}
            
                                    </td>
                                </tr>
                            {% endfor %}

                              
                              </tbody>
                          </table>
                      </div>

                      {%else%}

                      <h3>No Product available</h3>

                      {%endif%}

                  </div>

              </div>
          </div>
      </div>


      <!--Pagination  -->
      <div id= "page_section" class="pagination">
          <ul class="pagination newpagination">
              {% if current_page.has_previous %}
                  <li><a class='a_page_nav' style="margin-left: 5px;" href ="1">&laquo;first</a></li>
                  <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.previous_page_number}}">previous</a></li>
                  
              {% endif %}
      
              <span class="current"  style="margin-left:5px">
              Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
              </span>
      
              {% if current_page.has_next %}
                  <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.next_page_number}}">next</a></li>
                  <li><a class='a_page_nav' style="margin-left: 5px;" href ="{{current_page.paginator.num_pages}}">last &raquo;</a></li>
              
              {% endif %}
          </ul>
      </div>
      

    </div>
  
</section><!-- End Projects Section -->

